Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples, cpp_license_check_examples

fix_double_empty_lines:
  name: Eliminate multiple empty lines
  entry: dev_tools/github-actions/pre-commit-hooks/fix_double_empty_lines.py
  language: python

python_executable_license_check:
  name: Check Python Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#!/usr/bin/env python3
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

python_non_executable_license_check:
  name: Check Python Non-Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

bash_license_check:
  name: Check Bash files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#!/usr/bin/env bash
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

cmake_license_check:
  name: Check CMake files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

db_license_check:
  name: Check SQL and DDL files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '---------------------------------------------
  
    -- Copyright (c) Gaia Platform LLC
  
    -- All rights reserved.
  
  ...

cpp_license_check:
  name: Check C++ files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '/////////////////////////////////////////////
  
    // Copyright (c) Gaia Platform LLC
  
    // All rights reserved.
  
  ...

bash_license_check_examples:
  name: Check Example Bash files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#!/usr/bin/env bash
  
  
    ###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

cmake_license_check_examples:
  name: Check Example CMake files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

Use minimal TLS implementation for thread-local mapping objects (#1500)
  production/db/inc/core/db_client.hpp
  production/db/inc/core/db_server.hpp
  production/db/inc/core/mapped_data.hpp
  production/db/inc/core/mapped_data.inc
Due: fix_double_empty_lines, cpp_license_check

Make debug assertion failure exception inherit from assertion failure exception
  production/inc/gaia_internal/common/debug_assert.hpp
Due: fix_double_empty_lines, cpp_license_check

Make debug assertion failure exception inherit from assertion failure exception (#1502)
  production/inc/gaia_internal/common/debug_assert.hpp
Due: fix_double_empty_lines, cpp_license_check

Re-enable Java & Python tests
  production/CMakeLists.txt
  production/db/core/CMakeLists.txt
  production/java/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

Fill catalog hashes (#1346)
  production/catalog/CMakeLists.txt
  production/catalog/src/catalog.cpp
  production/catalog/src/ddl_execution.cpp
  production/catalog/src/ddl_executor.cpp
  production/catalog/src/hash_generator.cpp
  production/catalog/tests/test_ddl_execution.cpp
  production/catalog/tests/test_ddl_executor.cpp
  production/common/CMakeLists.txt
  production/common/src/hash.cpp
  production/common/tests/test_hash.cpp
  production/inc/gaia_internal/catalog/catalog.hpp
  production/inc/gaia_internal/catalog/ddl_executor.hpp
  production/inc/gaia_internal/common/hash.hpp
  production/tools/gaia_db_extract/src/gaia_db_extract.cpp
  production/tools/gaia_db_extract/tests/test_gaia_db_extract.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Change Ctest to no longer run and kill gaia_db_server (#1501)
  production/CMakeLists.txt
  production/db/core/CMakeLists.txt
  production/java/CMakeLists.txt
  production/sdk/tests/test_sdk.cpp
  production/sdk/tests/test_sdk_no_init_rules.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Allow building benchmarks against libgaia.so (#1481)
  production/CMakeLists.txt
  production/benchmarks/CMakeLists.txt
  production/benchmarks/inc/benchmark_test_base.hpp
  production/benchmarks/inc/db_server_cmd.hpp
  production/benchmarks/inc/gaiac_cmd.hpp
  production/benchmarks/inc/resource_manager.hpp
  production/benchmarks/inc/test_perf.hpp
  production/benchmarks/src/benchmark_test_base.cpp
  production/benchmarks/src/db_server_cmd.cpp
  production/benchmarks/src/gaiac_cmd.cpp
  production/benchmarks/src/resource_manager.cpp
  production/benchmarks/tests/bench_read_perf_basic.cpp
  production/cmake/gaia_internal.cmake
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Remove workaround in benchmark_test_base.hpp
  production/benchmarks/inc/benchmark_test_base.hpp
Due: fix_double_empty_lines, cpp_license_check

Disable bench tests
  production/direct_access/tests/test_read_perf_basic.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix error message
  production/benchmarks/src/resource_manager.cpp
Due: fix_double_empty_lines, cpp_license_check

Remove workaround in benchmark_test_base.hpp (#1503)
  production/benchmarks/inc/benchmark_test_base.hpp
  production/benchmarks/src/resource_manager.cpp
  production/direct_access/tests/test_read_perf_basic.cpp
Due: fix_double_empty_lines, cpp_license_check

Stuff
  production/benchmarks/src/resource_manager.cpp
  production/direct_access/tests/test_read_perf_basic.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix perf_basic.ddl path issue
  production/benchmarks/tests/bench_read_perf_basic.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix perf_basic.ddl path issue (#1504)
  production/benchmarks/tests/bench_read_perf_basic.cpp
Due: fix_double_empty_lines, cpp_license_check

Enable LTO
  production/CMakeLists.txt
  production/direct_access/tests/test_read_perf_basic.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Address PR feedback
  production/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

Make the linter happy
  production/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

Enable LTO (#1505)
  production/CMakeLists.txt
  production/direct_access/tests/test_read_perf_basic.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Add generated catalog DAC classes for consistency.
  production/catalog/src/gaia_catalog.cpp
  production/inc/gaia_internal/catalog/gaia_catalog.h
Due: none

Change db helper assert into debug assert
  production/db/inc/core/db_helpers.hpp
Due: fix_double_empty_lines, cpp_license_check

Remove comment explaining reason for debug asserts
  production/db/core/src/chunk_manager.cpp
  production/db/core/src/gaia_ptr_client.cpp
  production/db/inc/core/db_helpers.hpp
Due: fix_double_empty_lines, cpp_license_check

Change db helper assert into debug assert (#1507)
  production/db/core/src/chunk_manager.cpp
  production/db/core/src/gaia_ptr_client.cpp
  production/db/inc/core/db_helpers.hpp
Due: fix_double_empty_lines, cpp_license_check

Make generated DAC classes include DB hash. (#1506)
  production/catalog/inc/dac_generator.hpp
  production/catalog/src/catalog_facade.cpp
  production/catalog/src/dac_generator.cpp
  production/catalog/src/gaia_catalog.cpp
  production/inc/gaia_internal/catalog/catalog_facade.hpp
  production/inc/gaia_internal/catalog/gaia_catalog.h
Due: fix_double_empty_lines, cpp_license_check

Revert an unnecessary change
  production/benchmarks/inc/test_perf.hpp
Due: fix_double_empty_lines, cpp_license_check

PR feedback fix and additional makefile cleanup
  production/benchmarks/inc/test_perf.hpp
  production/direct_access/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Extend use of function alias
  production/benchmarks/inc/test_perf.hpp
Due: fix_double_empty_lines, cpp_license_check

Remove duplicated copy of test_perf.hpp
  production/benchmarks/inc/test_perf.hpp
  production/direct_access/CMakeLists.txt
  production/direct_access/tests/test_expressions_perf.cpp
  production/direct_access/tests/test_insert_perf_basic.cpp
  production/direct_access/tests/test_insert_perf_idx.cpp
  production/direct_access/tests/test_insert_perf_rel.cpp
  production/direct_access/tests/test_perf.hpp
  production/direct_access/tests/test_read_perf_basic.cpp
  production/direct_access/tests/test_read_perf_rel.cpp
  production/direct_access/tests/test_update_perf_basic.cpp
  production/tools/gaia_translate/CMakeLists.txt
  production/tools/gaia_translate/tests/test_rules_perf_basic.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Remove duplicated copy of test_perf.hpp (#1508)
  production/benchmarks/inc/test_perf.hpp
  production/direct_access/CMakeLists.txt
  production/direct_access/tests/test_expressions_perf.cpp
  production/direct_access/tests/test_insert_perf_basic.cpp
  production/direct_access/tests/test_insert_perf_idx.cpp
  production/direct_access/tests/test_insert_perf_rel.cpp
  production/direct_access/tests/test_perf.hpp
  production/direct_access/tests/test_read_perf_basic.cpp
  production/direct_access/tests/test_read_perf_rel.cpp
  production/direct_access/tests/test_update_perf_basic.cpp
  production/tools/gaia_translate/CMakeLists.txt
  production/tools/gaia_translate/tests/test_rules_perf_basic.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Disable DDL execution in gaiac interactive mode
  production/catalog/gaiac/src/command.cpp
  production/catalog/gaiac/src/main.cpp
Due: fix_double_empty_lines, cpp_license_check

Address comments from previous PR
  production/catalog/src/dac_generator.cpp
  production/catalog/src/gaia_catalog.cpp
Due: fix_double_empty_lines, cpp_license_check

Disable DDL execution in gaiac interactive mode (#1509)
  production/catalog/gaiac/src/command.cpp
  production/catalog/gaiac/src/main.cpp
Due: fix_double_empty_lines, cpp_license_check

Add check for consistency between generated code and DB
  production/catalog/src/catalog.cpp
  production/inc/gaia/exceptions.hpp
  production/inc/gaia/system.hpp
  production/inc/gaia_internal/exceptions.hpp
  production/system/src/gaia_system.cpp
  production/tools/gaia_translate/src/main.cpp
  third_party/production/TranslationEngineLLVM/clang/include/clang/Catalog/GaiaCatalog.h
  third_party/production/TranslationEngineLLVM/clang/lib/Catalog/GaiaCatalog.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix constructor formatting
  production/common/tests/test_multi_process.cpp
Due: fix_double_empty_lines, cpp_license_check

Refactor test classes to better handle DDL sessions
  .gitignore
  production/catalog/tests/test_ddl_executor.cpp
  production/catalog/tests/test_fbs_generation.cpp
  production/catalog/tests/test_fdw_ddl_generation.cpp
  production/catalog/tests/test_gaiac_generation.cpp
  production/catalog/tests/test_json_generation.cpp
  production/common/tests/test_multi_process.cpp
  production/db/core/src/db_server.cpp
  production/db/core/tests/test_catalog_core.cpp
  production/db/core/tests/test_gaia_ptr_api.cpp
  production/db/core/tests/test_optional_scalars.cpp
  production/db/core/tests/test_relationships.cpp
  production/db/inc/core/db_server.hpp
  production/direct_access/tests/test_array_fields.cpp
  production/direct_access/tests/test_insert_perf_basic.cpp
  production/direct_access/tests/test_insert_perf_idx.cpp
  production/direct_access/tests/test_insert_perf_rel.cpp
  production/direct_access/tests/test_read_perf_basic.cpp
  production/direct_access/tests/test_read_perf_rel.cpp
  production/direct_access/tests/test_update_perf_basic.cpp
  production/inc/gaia_internal/db/db_catalog_test_base.hpp
  production/inc/gaia_internal/db/db_ddl_test_base.hpp
  production/inc/gaia_internal/db/db_test_base.hpp
  production/rules/event_manager/tests/test_rule_integration.cpp
  production/rules/event_manager/tests/test_system_init.cpp
  production/tools/gaia_db_extract/tests/test_gaia_db_extract.cpp
  production/tools/gaia_dump/tests/test_gaia_dump.cpp
Due: fix_double_empty_lines, cpp_license_check

Additional checks around use of DDL sessions
  production/db/core/src/db_server.cpp
  production/db/inc/core/db_server.hpp
Due: fix_double_empty_lines, cpp_license_check

More indentation fixes
  production/inc/gaia_internal/db/db_catalog_test_base.hpp
  production/inc/gaia_internal/db/db_test_base.hpp
Due: fix_double_empty_lines, cpp_license_check

Refactor test classes to better handle DDL sessions (#1510)
  .gitignore
  production/catalog/tests/test_ddl_executor.cpp
  production/catalog/tests/test_fbs_generation.cpp
  production/catalog/tests/test_fdw_ddl_generation.cpp
  production/catalog/tests/test_gaiac_generation.cpp
  production/catalog/tests/test_json_generation.cpp
  production/common/tests/test_multi_process.cpp
  production/db/core/tests/test_catalog_core.cpp
  production/db/core/tests/test_gaia_ptr_api.cpp
  production/db/core/tests/test_optional_scalars.cpp
  production/db/core/tests/test_relationships.cpp
  production/direct_access/tests/test_array_fields.cpp
  production/direct_access/tests/test_insert_perf_basic.cpp
  production/direct_access/tests/test_insert_perf_idx.cpp
  production/direct_access/tests/test_insert_perf_rel.cpp
  production/direct_access/tests/test_read_perf_basic.cpp
  production/direct_access/tests/test_read_perf_rel.cpp
  production/direct_access/tests/test_update_perf_basic.cpp
  production/inc/gaia_internal/db/db_catalog_test_base.hpp
  production/inc/gaia_internal/db/db_ddl_test_base.hpp
  production/inc/gaia_internal/db/db_test_base.hpp
  production/rules/event_manager/tests/test_rule_integration.cpp
  production/rules/event_manager/tests/test_system_init.cpp
  production/tools/gaia_db_extract/tests/test_gaia_db_extract.cpp
  production/tools/gaia_dump/tests/test_gaia_dump.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix DDL session handling in tests
  production/benchmarks/src/benchmark_test_base.cpp
  production/benchmarks/tests/bench_read_perf_basic.cpp
  production/direct_access/tests/test_direct_access.cpp
  production/direct_access/tests/test_iterator.cpp
  production/direct_access/tests/test_references.cpp
  production/rules/event_manager/CMakeLists.txt
  production/rules/event_manager/tests/test_rule_exceptions.cpp
  production/rules/event_manager/tests/test_rule_integration.cpp
  production/rules/event_manager/tests/test_system_init.cpp
  production/system/src/gaia_system.cpp
  production/system/tests/test_gaia_system.cpp
  production/tools/gaia_translate/tests/test_amr_swarm.cpp
  production/tools/gaia_translate/tests/test_array.cpp
  production/tools/gaia_translate/tests/test_connect_disconnect.cpp
  production/tools/gaia_translate/tests/test_insert_delete.cpp
  production/tools/gaia_translate/tests/test_metarule3.cpp
  production/tools/gaia_translate/tests/test_mixed_ruleset.cpp
  production/tools/gaia_translate/tests/test_queries.cpp
  production/tools/gaia_translate/tests/test_rules_perf_basic.cpp
  production/tools/gaia_translate/tests/test_serial.cpp
  production/tools/gaia_translate/tests/test_tags.cpp
  production/tools/gaia_translate/tests/test_translation_engine.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Fix constructor line
  production/tools/gaia_translate/tests/test_insert_delete.cpp
Due: fix_double_empty_lines, cpp_license_check

Address PR comments
  production/catalog/src/catalog.cpp
  production/inc/gaia/exceptions.hpp
  production/inc/gaia/system.hpp
  production/inc/gaia_internal/exceptions.hpp
  production/system/src/gaia_system.cpp
  production/tools/gaia_translate/src/main.cpp
Due: fix_double_empty_lines, cpp_license_check

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py))|(^.+\_\_init\_\_\.py)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/docker_dev|production/examples))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cpp_license_check_examples: any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
