Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples, cpp_license_check_examples

fix_double_empty_lines:
  name: Eliminate multiple empty lines
  entry: dev_tools/github-actions/pre-commit-hooks/fix_double_empty_lines.py
  language: python

python_executable_license_check:
  name: Check Python Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#!/usr/bin/env python3
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

python_non_executable_license_check:
  name: Check Python Non-Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

bash_license_check:
  name: Check Bash files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#!/usr/bin/env bash
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

cmake_license_check:
  name: Check CMake files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

db_license_check:
  name: Check SQL and DDL files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '---------------------------------------------
  
    -- Copyright (c) Gaia Platform LLC
  
    -- All rights reserved.
  
  ...

cpp_license_check:
  name: Check C++ files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '/////////////////////////////////////////////
  
    // Copyright (c) Gaia Platform LLC
  
    // All rights reserved.
  
  ...

bash_license_check_examples:
  name: Check Example Bash files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#!/usr/bin/env bash
  
  
    ###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

cmake_license_check_examples:
  name: Check Example CMake files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

Add update benchamrk (#1453)
  production/direct_access/tests/test_read_perf.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix FDW tests
  production/sql/tests/test_fdw.cpp
Due: fix_double_empty_lines, cpp_license_check

Add a check for DDL session to DDL operations
  production/catalog/src/ddl_execution.cpp
  production/catalog/src/ddl_executor.cpp
  production/catalog/tests/test_ddl_execution.cpp
  production/catalog/tests/test_ddl_executor.cpp
  production/catalog/tests/test_fbs_generation.cpp
  production/catalog/tests/test_fdw_ddl_generation.cpp
  production/catalog/tests/test_gaiac_generation.cpp
  production/catalog/tests/test_json_generation.cpp
  production/db/core/inc/db_client.hpp
  production/db/core/inc/db_client.inc
  production/db/core/src/db_client_api.cpp
  production/db/core/tests/test_catalog_core.cpp
  production/db/core/tests/test_gaia_ptr_api.cpp
  production/db/core/tests/test_optional_scalars.cpp
  production/db/core/tests/test_relationships.cpp
  production/inc/gaia_internal/catalog/ddl_executor.hpp
  production/inc/gaia_internal/db/db.hpp
  production/inc/gaia_internal/db/db_ddl_test_base.hpp
  production/rules/event_manager/tests/test_rule_checker.cpp
  production/rules/event_manager/tests/test_rule_exceptions.cpp
  production/rules/event_manager/tests/test_rule_integration.cpp
  production/rules/event_manager/tests/test_system_init.cpp
  production/system/tests/test_gaia_system.cpp
  production/system/tests/test_recovery.cpp
  production/tools/gaia_db_extract/tests/test_gaia_db_extract.cpp
  production/tools/gaia_dump/tests/test_gaia_dump.cpp
Due: fix_double_empty_lines, cpp_license_check

Add a check for DDL session to DDL operations (#1454)
  production/catalog/src/ddl_execution.cpp
  production/catalog/src/ddl_executor.cpp
  production/catalog/tests/test_ddl_execution.cpp
  production/catalog/tests/test_ddl_executor.cpp
  production/catalog/tests/test_fbs_generation.cpp
  production/catalog/tests/test_fdw_ddl_generation.cpp
  production/catalog/tests/test_gaiac_generation.cpp
  production/catalog/tests/test_json_generation.cpp
  production/db/core/inc/db_client.hpp
  production/db/core/inc/db_client.inc
  production/db/core/src/db_client_api.cpp
  production/db/core/tests/test_catalog_core.cpp
  production/db/core/tests/test_gaia_ptr_api.cpp
  production/db/core/tests/test_optional_scalars.cpp
  production/db/core/tests/test_relationships.cpp
  production/inc/gaia_internal/catalog/ddl_executor.hpp
  production/inc/gaia_internal/db/db.hpp
  production/inc/gaia_internal/db/db_ddl_test_base.hpp
  production/rules/event_manager/tests/test_rule_checker.cpp
  production/rules/event_manager/tests/test_rule_exceptions.cpp
  production/rules/event_manager/tests/test_rule_integration.cpp
  production/rules/event_manager/tests/test_system_init.cpp
  production/sql/tests/test_fdw.cpp
  production/system/tests/test_gaia_system.cpp
  production/system/tests/test_recovery.cpp
  production/tools/gaia_db_extract/tests/test_gaia_db_extract.cpp
  production/tools/gaia_dump/tests/test_gaia_dump.cpp
Due: fix_double_empty_lines, cpp_license_check

Add an ability to forcefully remove a record using declarative language. (#1452)
  production/tools/gaia_translate/src/main.cpp
  production/tools/gaia_translate/tests/test_connect_disconnect.cpp
  production/tools/gaia_translate/tests/test_rulesets.ruleset
  production/tools/tests/gaiat/insert_delete_tests.ruleset
  third_party/production/TranslationEngineLLVM/clang/lib/Sema/SemaGaia.cpp
Due: fix_double_empty_lines, cpp_license_check

Don't use CAS to mark allocation bits (#1456)
  production/db/memory_manager/src/chunk_manager.cpp
Due: fix_double_empty_lines, cpp_license_check

Remove addressed TODO comment
  production/direct_access/tests/test_update_perf_basic.cpp
Due: fix_double_empty_lines, cpp_license_check

Refactor perf tests
  production/direct_access/CMakeLists.txt
  production/direct_access/tests/test_insert_perf_basic.cpp
  production/direct_access/tests/test_insert_perf_idx.cpp
  production/direct_access/tests/test_insert_perf_rel.cpp
  production/direct_access/tests/test_perf.hpp
  production/direct_access/tests/test_read_perf_basic.cpp
  production/direct_access/tests/test_update_perf_basic.cpp
  production/schemas/test/CMakeLists.txt
  production/schemas/test/perf_basic/perf_basic.ddl
  production/schemas/test/perf_idx/perf_idx.ddl
  production/schemas/test/perf_rel/perf_rel.ddl
Due: fix_double_empty_lines, cmake_license_check, db_license_check, cpp_license_check

Fix read perf test issue
  production/direct_access/tests/test_insert_perf_basic.cpp
  production/direct_access/tests/test_insert_perf_idx.cpp
  production/direct_access/tests/test_insert_perf_rel.cpp
  production/direct_access/tests/test_perf.hpp
  production/direct_access/tests/test_read_perf_basic.cpp
  production/direct_access/tests/test_update_perf_basic.cpp
Due: fix_double_empty_lines, cpp_license_check

Change debug logging to info logging
  production/direct_access/tests/test_perf.hpp
Due: fix_double_empty_lines, cpp_license_check

Refactor perf tests (#1455)
  production/direct_access/CMakeLists.txt
  production/direct_access/tests/test_insert_perf_basic.cpp
  production/direct_access/tests/test_insert_perf_idx.cpp
  production/direct_access/tests/test_insert_perf_rel.cpp
  production/direct_access/tests/test_perf.hpp
  production/direct_access/tests/test_read_perf_basic.cpp
  production/direct_access/tests/test_update_perf_basic.cpp
  production/schemas/test/CMakeLists.txt
  production/schemas/test/perf_basic/perf_basic.ddl
  production/schemas/test/perf_idx/perf_idx.ddl
  production/schemas/test/perf_rel/perf_rel.ddl
Due: fix_double_empty_lines, cmake_license_check, db_license_check, cpp_license_check

Use size_t consistently throughout perf test code
  production/direct_access/tests/test_insert_perf_rel.cpp
  production/direct_access/tests/test_perf.hpp
  production/direct_access/tests/test_read_perf_basic.cpp
Due: fix_double_empty_lines, cpp_license_check

Stuff
  production/tools/suppini/CMakeLists.txt
  production/tools/suppini/src/main.cpp
  production/tools/suppini/tests/test_suppini.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Add txn size benchmarks
  production/examples/sqlite3/src/sqlite3_bench_simple.cpp
Due: fix_double_empty_lines, cpp_license_check_examples

Use size_t consistently throughout perf test code (#1457)
  production/direct_access/tests/test_insert_perf_rel.cpp
  production/direct_access/tests/test_perf.hpp
  production/direct_access/tests/test_read_perf_basic.cpp
Due: fix_double_empty_lines, cpp_license_check

Change timer_t to use uint64_t instead of int64_t
  production/common/src/timer.cpp
  production/inc/gaia_internal/common/timer.hpp
Due: fix_double_empty_lines, cpp_license_check

Fix relationship tests to run for larger insertion numbers
  production/direct_access/tests/test_insert_perf_rel.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix relationship tests to run for larger insertion numbers (#1460)
  production/direct_access/tests/test_insert_perf_rel.cpp
Due: fix_double_empty_lines, cpp_license_check

Add txn size benchmarks in insertion
  production/direct_access/tests/test_insert_perf.cpp
  production/direct_access/tests/test_read_perf.cpp
Due: fix_double_empty_lines, cpp_license_check

Update test_insert_perf.cpp
  production/direct_access/tests/test_insert_perf.cpp
Due: fix_double_empty_lines, cpp_license_check

small fix
  production/direct_access/tests/test_read_perf.cpp
Due: fix_double_empty_lines, cpp_license_check

Address PR comments
  production/direct_access/tests/test_insert_perf.cpp
Due: fix_double_empty_lines, cpp_license_check

Address PR feeback
  production/direct_access/tests/test_insert_perf.cpp
Due: fix_double_empty_lines, cpp_license_check

Add txn size benchmarks in insertion (#1458)
  production/direct_access/tests/test_insert_perf.cpp
  production/direct_access/tests/test_read_perf.cpp
Due: fix_double_empty_lines, cpp_license_check

Revert "Increase hash bucket count and misc. cleanup (#1425)"
  production/db/core/inc/db_hash_map.hpp
  production/db/core/inc/db_internal_types.hpp
Due: fix_double_empty_lines, cpp_license_check

Disable gaia service in samples workflow
  dev_tools/sdk/test/Dockerfile_gaia_sdk_20
Due: fix_double_empty_lines

Add ldconfig
  dev_tools/sdk/test/Dockerfile_gaia_sdk_20
Due: fix_double_empty_lines

Change static gaia library path to -lgaia
  production/examples/hello/build.sh
Due: fix_double_empty_lines, bash_license_check_examples

Suppini
  production/db/core/src/gaia_ptr_api.cpp
  production/direct_access/tests/test_auto_connect.cpp
  production/schemas/test/airport/airport.ddl
Due: fix_double_empty_lines, db_license_check, cpp_license_check

Replace ULL suffix with UL
  production/db/core/inc/db_internal_types.hpp
  production/db/core/inc/db_server.hpp
  production/db/core/inc/txn_metadata_entry.hpp
  production/db/core/inc/txn_metadata_entry.inc
  production/db/core/inc/type_index.hpp
  production/db/inc/memory_manager/memory_structures.hpp
  production/db/inc/memory_manager/memory_structures.inc
  production/db/memory_manager/src/bitmap.cpp
  production/db/memory_manager/tests/test_bitmap.cpp
  production/inc/gaia_internal/common/inline_shared_lock.hpp
  production/inc/gaia_internal/common/inline_shared_lock.inc
Due: fix_double_empty_lines, cpp_license_check

Replace ULL suffix with UL (#1463)
  production/db/core/inc/db_internal_types.hpp
  production/db/core/inc/db_server.hpp
  production/db/core/inc/txn_metadata_entry.hpp
  production/db/core/inc/txn_metadata_entry.inc
  production/db/core/inc/type_index.hpp
  production/db/inc/memory_manager/memory_structures.hpp
  production/db/inc/memory_manager/memory_structures.inc
  production/db/memory_manager/src/bitmap.cpp
  production/db/memory_manager/tests/test_bitmap.cpp
  production/inc/gaia_internal/common/inline_shared_lock.hpp
  production/inc/gaia_internal/common/inline_shared_lock.inc
Due: fix_double_empty_lines, cpp_license_check

Add missed update test
  production/direct_access/tests/test_update_perf_basic.cpp
Due: fix_double_empty_lines, cpp_license_check

Remove old perf test files and other cleanup
  production/catalog/src/ddl_executor.cpp
  production/catalog/tests/test_rule_tables.cpp
  production/direct_access/CMakeLists.txt
  production/direct_access/tests/test_insert_perf.cpp
  production/direct_access/tests/test_insert_perf_basic.cpp
  production/direct_access/tests/test_perf.hpp
  production/direct_access/tests/test_read_perf.cpp
  production/direct_access/tests/test_read_perf_basic.cpp
  production/direct_access/tests/test_update_perf_basic.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Update index maintenance logic to account for system indexes
  production/db/core/src/db_server.cpp
  production/inc/gaia_internal/catalog/catalog.hpp
Due: fix_double_empty_lines, cpp_license_check

Remove old perf test files and move the new tests to the new files; additional cleanup (#1461)
  production/catalog/src/ddl_executor.cpp
  production/catalog/tests/test_rule_tables.cpp
  production/direct_access/CMakeLists.txt
  production/direct_access/tests/test_insert_perf.cpp
  production/direct_access/tests/test_insert_perf_basic.cpp
  production/direct_access/tests/test_perf.hpp
  production/direct_access/tests/test_read_perf.cpp
  production/direct_access/tests/test_read_perf_basic.cpp
  production/direct_access/tests/test_update_perf_basic.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Update index maintenance logic to account for system indexes (#1462)
  production/db/core/src/db_server.cpp
  production/inc/gaia_internal/catalog/catalog.hpp
Due: fix_double_empty_lines, cpp_license_check

Ensure we point to the correct bin and lib dirs for our symbolic links
  production/sdk/debian/links.in
Due: fix_double_empty_lines

Update links
  production/sdk/debian/links.in
Due: fix_double_empty_lines

[GAIAPLAT-2138] Fix wrong VLR deletion logic
  production/db/core/src/gaia_ptr_api.cpp
  production/db/core/src/gaia_ptr_client.cpp
  production/direct_access/tests/test_auto_connect.cpp
  production/schemas/test/airport/airport.ddl
Due: fix_double_empty_lines, db_license_check, cpp_license_check

Fix
  production/db/core/CMakeLists.txt
  production/inc/gaia/internal/direct_access/dac_iterators.inc
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py))|(^.+\_\_init\_\_\.py)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/docker_dev|production/examples))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cpp_license_check_examples: any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
