Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples, cpp_license_check_examples

fix_double_empty_lines:
  name: Eliminate multiple empty lines
  entry: dev_tools/github-actions/pre-commit-hooks/fix_double_empty_lines.py
  language: python

python_executable_license_check:
  name: Check Python Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#!/usr/bin/env python3
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

python_non_executable_license_check:
  name: Check Python Non-Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

bash_license_check:
  name: Check Bash files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#!/usr/bin/env bash
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

cmake_license_check:
  name: Check CMake files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

db_license_check:
  name: Check SQL and DDL files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '---------------------------------------------
  
    -- Copyright (c) Gaia Platform LLC
  
    -- All rights reserved.
  
  ...

cpp_license_check:
  name: Check C++ files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '/////////////////////////////////////////////
  
    // Copyright (c) Gaia Platform LLC
  
    // All rights reserved.
  
  ...

bash_license_check_examples:
  name: Check Example Bash files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#!/usr/bin/env bash
  
  
    ###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

cmake_license_check_examples:
  name: Check Example CMake files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

Add comment to rules engine initializations
  production/rules/event_manager/tests/test_rule_exceptions.cpp
  production/system/src/gaia_system.cpp
  production/system/tests/test_gaia_system.cpp
Due: fix_double_empty_lines, cpp_license_check

Remove outdated comment
  production/system/src/gaia_system.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix DDL session handling in tests (#1512)
  production/benchmarks/src/benchmark_test_base.cpp
  production/benchmarks/tests/bench_read_perf_basic.cpp
  production/direct_access/tests/test_direct_access.cpp
  production/direct_access/tests/test_iterator.cpp
  production/direct_access/tests/test_references.cpp
  production/rules/event_manager/CMakeLists.txt
  production/rules/event_manager/tests/test_rule_exceptions.cpp
  production/rules/event_manager/tests/test_rule_integration.cpp
  production/rules/event_manager/tests/test_system_init.cpp
  production/system/src/gaia_system.cpp
  production/system/tests/test_gaia_system.cpp
  production/tools/gaia_translate/tests/test_amr_swarm.cpp
  production/tools/gaia_translate/tests/test_array.cpp
  production/tools/gaia_translate/tests/test_connect_disconnect.cpp
  production/tools/gaia_translate/tests/test_insert_delete.cpp
  production/tools/gaia_translate/tests/test_metarule3.cpp
  production/tools/gaia_translate/tests/test_mixed_ruleset.cpp
  production/tools/gaia_translate/tests/test_queries.cpp
  production/tools/gaia_translate/tests/test_rules_perf_basic.cpp
  production/tools/gaia_translate/tests/test_serial.cpp
  production/tools/gaia_translate/tests/test_tags.cpp
  production/tools/gaia_translate/tests/test_translation_engine.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Add LTO cache, customize LTO settings for tests
  production/CMakeLists.txt
  production/cmake/gaia_internal.cmake
Due: fix_double_empty_lines, cmake_license_check

Address PR feedback
  production/cmake/gaia_internal.cmake
Due: fix_double_empty_lines, cmake_license_check

Address PR feedback
  production/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

Add DDL session checks and Ping sessions
  production/benchmarks/tests/bench_read_perf_basic.cpp
  production/db/core/src/db_client.cpp
  production/db/core/src/db_client_api.cpp
  production/db/core/src/db_server.cpp
  production/db/core/src/db_server_instance.cpp
  production/db/core/src/flatbuffers/messages.fbs
  production/db/inc/core/db_client.hpp
  production/db/inc/core/db_client.inc
  production/db/inc/core/db_server.hpp
  production/inc/gaia_internal/db/db.hpp
  production/inc/gaia_internal/db/db_client_config.hpp
Due: fix_double_empty_lines, cpp_license_check

Fix bug
  production/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

Fix FDW tests
  production/sql/tests/test_fdw.cpp
Due: fix_double_empty_lines, cpp_license_check

Update copy-pasted comment
  production/inc/gaia_internal/db/db.hpp
Due: fix_double_empty_lines, cpp_license_check

Add DDL session checks and Ping sessions (#1514)
  production/benchmarks/tests/bench_read_perf_basic.cpp
  production/db/core/src/db_client.cpp
  production/db/core/src/db_client_api.cpp
  production/db/core/src/db_server.cpp
  production/db/core/src/db_server_instance.cpp
  production/db/core/src/flatbuffers/messages.fbs
  production/db/inc/core/db_client.hpp
  production/db/inc/core/db_client.inc
  production/db/inc/core/db_server.hpp
  production/inc/gaia_internal/db/db.hpp
  production/inc/gaia_internal/db/db_client_config.hpp
  production/sql/tests/test_fdw.cpp
Due: fix_double_empty_lines, cpp_license_check

Rewrite chunk/offset extraction logic
  production/db/core/src/log_file.cpp
  production/db/core/src/log_io.cpp
  production/db/inc/core/log_file.hpp
  production/db/inc/core/log_io.hpp
Due: fix_double_empty_lines, cpp_license_check

Revert DDL session checks to fix test failures
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

Revert DDL session checks to fix test failures (#1515)
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

Add LTO cache, customize LTO settings for tests (#1513)
  production/CMakeLists.txt
  production/cmake/gaia_internal.cmake
Due: fix_double_empty_lines, cmake_license_check

Address PR comments
  production/catalog/src/catalog.cpp
  production/inc/gaia/exceptions.hpp
  production/inc/gaia/rules/exceptions.hpp
  production/inc/gaia/system.hpp
  production/inc/gaia_internal/exceptions.hpp
  production/rules/event_manager/src/rule_checker.cpp
  production/system/src/gaia_system.cpp
  production/tools/gaia_translate/src/main.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix lint failures
  production/inc/gaia_internal/exceptions.hpp
  production/rules/event_manager/src/rule_checker.cpp
Due: fix_double_empty_lines, cpp_license_check

Re-enable bench tests
  production/benchmarks/tests/bench_read_perf_basic.cpp
Due: fix_double_empty_lines, cpp_license_check

Re-enable bench tests (#1517)
  production/benchmarks/tests/bench_read_perf_basic.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix initialize_db()
  production/benchmarks/src/benchmark_test_base.cpp
  production/system/src/gaia_system.cpp
Due: fix_double_empty_lines, cpp_license_check

Re-enable benchmark test suite
  production/benchmarks/CMakeLists.txt
  production/benchmarks/src/benchmark_test_base.cpp
  production/benchmarks/src/db_server_cmd.cpp
  production/inc/gaia/system.hpp
  production/system/src/gaia_system.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Fix helper and build
  production/benchmarks/CMakeLists.txt
  production/benchmarks/src/benchmark_test_base.cpp
  production/benchmarks/src/db_server_cmd.cpp
  production/system/src/gaia_system.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Remove need for initialize_db()
  production/benchmarks/src/benchmark_test_base.cpp
  production/inc/gaia/system.hpp
  production/system/src/gaia_system.cpp
Due: fix_double_empty_lines, cpp_license_check

Remove unnecessary include
  production/benchmarks/src/benchmark_test_base.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix bug in ENABLE_LTO Cmake handling.
  production/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

Additional fixes for benchmark suite (#1516)
  production/benchmarks/src/benchmark_test_base.cpp
  production/system/src/gaia_system.cpp
Due: fix_double_empty_lines, cpp_license_check

Build and test a database-only shared library
  production/cmake/gaia.cmake
  production/db/core/src/gaia_ptr_api.cpp
  production/db/inc/core/db_client.hpp
  production/db/inc/core/db_client.inc
  production/examples/direct_access/CMakeLists.txt
  production/examples/direct_access_multithread/CMakeLists.txt
  production/examples/direct_access_vlr/CMakeLists.txt
  production/examples/hello/CMakeLists.txt
  production/examples/incubator/CMakeLists.txt
  production/inc/gaia/system.hpp
  production/sdk/CMakeLists.txt
  production/sdk/tests/test_sdk_base.hpp
  production/sdk/tests/test_sdk_db.cpp
  production/sdk/tests/test_sdk_db_no_init_rules.cpp
  production/sdk/tests/test_sdk_no_init_rules.cpp
  production/sdk/tests/test_sdk_rules.cpp
  production/system/CMakeLists.txt
  production/system/db/CMakeLists.txt
  production/system/db/README.md
  production/system/db_rules/CMakeLists.txt
  production/system/db_rules/README.md
  production/system/src/gaia_system.cpp
  production/tools/gaia_translate/src/main.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check, cmake_license_check_examples

Stuff
  production/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

Gaiat hash (#1511)
  production/catalog/src/dac_generator.cpp
  production/catalog/src/gaia_catalog.cpp
  production/inc/gaia/rules/exceptions.hpp
  production/inc/gaia/system.hpp
  production/rules/event_manager/src/rule_checker.cpp
  production/system/src/gaia_system.cpp
  production/tools/gaia_translate/src/main.cpp
  third_party/production/TranslationEngineLLVM/clang/include/clang/Catalog/GaiaCatalog.h
  third_party/production/TranslationEngineLLVM/clang/lib/Catalog/GaiaCatalog.cpp
Due: fix_double_empty_lines, cpp_license_check

Update CMakeLists.txt
  production/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

Fix bug in ENABLE_LTO Cmake handling. (#1518)
  production/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

Disable initialization of db_caches until handling of DDL updates is added
  production/db/core/src/db_client.cpp
Due: fix_double_empty_lines, cpp_license_check

Disable initialization of db_caches until handling of DDL updates is added (#1520)
  production/db/core/src/db_client.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix root gdev.cfg
  production/gdev.cfg
Due: fix_double_empty_lines

One more fix for renaming of sql folder
  dev_tools/github-actions/post_build_inside_container.sh
Due: fix_double_empty_lines, bash_license_check

Additional fixes
  production/catalog/CMakeLists.txt
  production/catalog/tests/test_rules_tables.cpp
  production/fdw/README.md
  production/fdw/gdev.cfg
  production/fdw/tests/test_fdw.cpp
  production/sdk/CMakeLists.txt
  production/sdk/tests/test_sdk.cpp
  production/sdk/tests/test_sdk_no_init_rules.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Change db_caches from global to session-level
  production/db/core/src/db_caches.cpp
  production/db/core/src/db_client.cpp
  production/db/core/src/db_server.cpp
  production/db/core/src/gaia_ptr_api.cpp
  production/db/core/tests/test_db_caches.cpp
  production/db/inc/core/db_caches.hpp
  production/db/inc/core/db_client.hpp
  production/db/inc/core/db_server.hpp
  production/db/inc/core/db_shared_data.hpp
  production/db/inc/core/db_shared_data_client.inc
  production/db/inc/core/db_shared_data_interface.inc
  production/db/inc/core/db_shared_data_server.inc
Due: fix_double_empty_lines, cpp_license_check

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py))|(^.+\_\_init\_\_\.py)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/docker_dev|production/examples))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cpp_license_check_examples: any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
