Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples, cpp_license_check_examples

fix_double_empty_lines:
  name: Eliminate multiple empty lines
  entry: dev_tools/github-actions/pre-commit-hooks/fix_double_empty_lines.py
  language: python

python_executable_license_check:
  name: Check Python Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#!/usr/bin/env python3
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

python_non_executable_license_check:
  name: Check Python Non-Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

bash_license_check:
  name: Check Bash files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#!/usr/bin/env bash
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

cmake_license_check:
  name: Check CMake files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

db_license_check:
  name: Check SQL and DDL files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '---------------------------------------------
  
    -- Copyright (c) Gaia Platform LLC
  
    -- All rights reserved.
  
  ...

cpp_license_check:
  name: Check C++ files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '/////////////////////////////////////////////
  
    // Copyright (c) Gaia Platform LLC
  
    // All rights reserved.
  
  ...

bash_license_check_examples:
  name: Check Example Bash files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#!/usr/bin/env bash
  
  
    ###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

cmake_license_check_examples:
  name: Check Example CMake files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

sqlite3 benchmark
  production/examples/sqlite3/.gitignore
  production/examples/sqlite3/CMakeLists.txt
  production/examples/sqlite3/include/timer.hpp
  production/examples/sqlite3/src/sqlite3_bench.cpp
  production/examples/sqlite3/src/sqlite3_bench_simple.cpp
  production/examples/sqlite3/src/timer.cpp
Due: fix_double_empty_lines, cmake_license_check_examples, cpp_license_check_examples

Enforce 16-byte alignment of FDW scan state structs (#1416)
  production/sql/inc/gaia_fdw_adapter.hpp
Due: fix_double_empty_lines, cpp_license_check

Move spdlog formatter to internal header
  production/common/CMakeLists.txt
  production/inc/gaia/logger.hpp
  production/inc/gaia_internal/common/logger_spdlog.hpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Add an example for incubator implemented using Behavior Tree
  production/examples/incubator_behavior_tree/CMakeLists.txt
  production/examples/incubator_behavior_tree/README.md
  production/examples/incubator_behavior_tree/gdev.cfg
  production/examples/incubator_behavior_tree/inc/behave.hpp
  production/examples/incubator_behavior_tree/src/behave.ddl
  production/examples/incubator_behavior_tree/src/behave.ruleset
  production/examples/incubator_behavior_tree/src/incubator.cpp
  production/examples/incubator_behavior_tree/src/incubator.ddl
Due: fix_double_empty_lines, cmake_license_check_examples, db_license_check_eamples, cpp_license_check_examples

Fix clang-tidy issus
  production/examples/incubator_behavior_tree/CMakeLists.txt
  production/examples/incubator_behavior_tree/README.md
  production/examples/incubator_behavior_tree/inc/behave.hpp
  production/examples/incubator_behavior_tree/src/behave.ruleset
  production/examples/incubator_behavior_tree/src/incubator.cpp
Due: fix_double_empty_lines, cmake_license_check_examples, cpp_license_check_examples

Formatter needs to be in a public header for clients
  production/inc/gaia/logger.hpp
  production/inc/gaia_internal/common/logger_spdlog.hpp
Due: fix_double_empty_lines, cpp_license_check

fix whitespace lint issue
  production/inc/gaia_internal/common/logger_spdlog.hpp
Due: fix_double_empty_lines, cpp_license_check

remove unnecessary headers
  production/inc/gaia_internal/common/logger_spdlog.hpp
Due: fix_double_empty_lines, cpp_license_check

update comment for rule
  production/examples/rules/clinic.ruleset
Due: fix_double_empty_lines, cpp_license_check_examples

[GAIAPLAT-2096] Prevent gaia_ptr_t::auto_connect() to waste time when there are no VLR
  production/db/core/src/gaia_ptr_api.cpp
  production/db/core/src/type_metadata.cpp
  production/inc/gaia_internal/db/type_metadata.hpp
Due: fix_double_empty_lines, cpp_license_check

remove extra line
  production/inc/gaia/logger.hpp
Due: fix_double_empty_lines, cpp_license_check

Add spdlog formatter for optional types. (#1419)
  production/common/CMakeLists.txt
  production/common/tests/test_logging.cpp
  production/examples/rules/clinic.cpp
  production/examples/rules/clinic.ruleset
  production/inc/gaia/logger.hpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check, cpp_license_check_examples

Improve VLR insertion performance tests
  production/direct_access/tests/test_insertion_perf.cpp
Due: fix_double_empty_lines, cpp_license_check

Prototype snapshot iterator; investigate standalone test failure
  production/direct_access/tests/test_direct_access.cpp
  production/inc/gaia/direct_access/dac_iterators.hpp
  production/inc/gaia/internal/direct_access/dac_iterators.inc
Due: fix_double_empty_lines, cpp_license_check

More debugging of test_direct_access
  production/direct_access/tests/test_direct_access.cpp
Due: fix_double_empty_lines, cpp_license_check

prototype silly callback invocation in rules
  production/examples/incubator/incubator.cpp
  production/examples/incubator/incubator.ddl
  production/examples/incubator/incubator.ruleset
  production/examples/incubator/incubator_helper.cpp
  production/examples/incubator/incubator_helper.hpp
Due: fix_double_empty_lines, db_license_check_eamples, cpp_license_check_examples

re-enable direct access tests
  production/direct_access/tests/test_direct_access.cpp
Due: fix_double_empty_lines, cpp_license_check

Update type_metadata.hpp
  production/inc/gaia_internal/db/type_metadata.hpp
Due: fix_double_empty_lines, cpp_license_check

Stuff
  production/direct_access/tests/test_read_perf.cpp
Due: fix_double_empty_lines, cpp_license_check

[GAIAPLAT-2096] Prevent gaia_ptr_t::auto_connect() to waste time when there are no VLR (#1420)
  production/db/core/src/gaia_ptr_api.cpp
  production/db/core/src/type_metadata.cpp
  production/inc/gaia_internal/db/type_metadata.hpp
Due: fix_double_empty_lines, cpp_license_check

Update test_insertion_perf.cpp
  production/direct_access/tests/test_insertion_perf.cpp
Due: fix_double_empty_lines, cpp_license_check

Improve VLR insertion performance tests (#1422)
  production/direct_access/tests/test_insertion_perf.cpp
Due: fix_double_empty_lines, cpp_license_check

fixup after rebase
  production/inc/gaia/direct_access/dac_iterators.hpp
Due: fix_double_empty_lines, cpp_license_check

Add read benchmarks
  production/examples/sqlite3/src/sqlite3_bench_simple.cpp
Due: fix_double_empty_lines, cpp_license_check_examples

[GAIAPLAT-2102] Workaround to improve the db_hash_map performance.
  production/db/core/inc/db_internal_types.hpp
Due: fix_double_empty_lines, cpp_license_check

Add read benchmakrs
  production/direct_access/CMakeLists.txt
  production/direct_access/tests/test_read_perf.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Update test_insertion_perf.cpp (#1417)
  production/direct_access/tests/test_insertion_perf.cpp
Due: fix_double_empty_lines, cpp_license_check

Add read benchmarks (#1424)
  production/direct_access/CMakeLists.txt
  production/direct_access/tests/test_read_perf.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Add a check for type collision
  production/catalog/src/ddl_executor.cpp
Due: fix_double_empty_lines, cpp_license_check

Add a check for type collision (#1421)
  production/catalog/src/ddl_executor.cpp
Due: fix_double_empty_lines, cpp_license_check

Increase hash bucket count and misc. cleanup
  production/db/core/inc/db_hash_map.hpp
  production/db/core/inc/db_internal_types.hpp
Due: fix_double_empty_lines, cpp_license_check

Enable performance tests with smaller datasets.
  production/direct_access/tests/test_insertion_perf.cpp
  production/direct_access/tests/test_read_perf.cpp
Due: fix_double_empty_lines, cpp_license_check

[GAIAPLAT-2107] Workaround to reduce time spent in evaluating filter function in dac_iterator_t
  production/inc/gaia/internal/direct_access/dac_iterators.inc
Due: fix_double_empty_lines, cpp_license_check

Enable performance tests with smaller datasets. (#1426)
  production/direct_access/tests/test_insertion_perf.cpp
  production/direct_access/tests/test_read_perf.cpp
Due: fix_double_empty_lines, cpp_license_check

Rename get_record_id() to get_table_id()
  production/db/core/inc/type_id_mapping.hpp
  production/db/core/src/db_server.cpp
  production/db/core/src/gaia_ptr_api.cpp
  production/db/core/src/index_builder.cpp
  production/db/core/src/payload_diff.cpp
  production/db/core/src/type_id_mapping.cpp
  production/db/core/src/type_metadata.cpp
  production/db/query_processor/tests/test_index_scan.cpp
  production/inc/gaia_internal/db/type_metadata.hpp
Due: fix_double_empty_lines, cpp_license_check

Rename local variable
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

Rename get_record_id() to get_table_id() (#1428)
  production/db/core/inc/type_id_mapping.hpp
  production/db/core/src/db_server.cpp
  production/db/core/src/gaia_ptr_api.cpp
  production/db/core/src/index_builder.cpp
  production/db/core/src/payload_diff.cpp
  production/db/core/src/type_id_mapping.cpp
  production/db/core/src/type_metadata.cpp
  production/db/query_processor/tests/test_index_scan.cpp
  production/inc/gaia_internal/db/type_metadata.hpp
Due: fix_double_empty_lines, cpp_license_check

[GAIAPLAT-2101] Reduce time spent on int_type_t conversion oeprator
  production/common/CMakeLists.txt
  production/inc/gaia/int_type.hpp
  production/inc/gaia/internal/common/int_type.inc
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Increase hash bucket count and misc. cleanup (#1425)
  production/db/core/inc/db_hash_map.hpp
  production/db/core/inc/db_internal_types.hpp
Due: fix_double_empty_lines, cpp_license_check

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py))|(^.+\_\_init\_\_\.py)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/docker_dev|production/examples))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cpp_license_check_examples: any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
