Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples, cpp_license_check_examples

fix_double_empty_lines:
  name: Eliminate multiple empty lines
  entry: dev_tools/github-actions/pre-commit-hooks/fix_double_empty_lines.py
  language: python

python_executable_license_check:
  name: Check Python Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#!/usr/bin/env python3
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

python_non_executable_license_check:
  name: Check Python Non-Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

bash_license_check:
  name: Check Bash files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#!/usr/bin/env bash
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

cmake_license_check:
  name: Check CMake files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

db_license_check:
  name: Check SQL and DDL files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '---------------------------------------------
  
    -- Copyright (c) Gaia Platform LLC
  
    -- All rights reserved.
  
  ...

cpp_license_check:
  name: Check C++ files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '/////////////////////////////////////////////
  
    // Copyright (c) Gaia Platform LLC
  
    // All rights reserved.
  
  ...

bash_license_check_examples:
  name: Check Example Bash files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#!/usr/bin/env bash
  
  
    ###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

cmake_license_check_examples:
  name: Check Example CMake files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

Add type check for relationship fields and some code cleanup
  production/catalog/src/ddl_executor.cpp
Due: fix_double_empty_lines, cpp_license_check

Add type check for relationship fields and some code cleanup (#1407)
  production/catalog/src/ddl_executor.cpp
Due: fix_double_empty_lines, cpp_license_check

Quick fix for broken FDW test
  data/internal/airport/routes_small.dat.gz
  production/sql/tests/CMakeLists.txt
  production/sql/tests/airport_setup.sql
  production/sql/tests/airport_small_expected.txt
Due: fix_double_empty_lines, cmake_license_check, db_license_check

Quick fix for broken FDW test (#1408)
  data/internal/airport/routes_small.dat.gz
  production/sql/tests/CMakeLists.txt
  production/sql/tests/airport_setup.sql
  production/sql/tests/airport_small_expected.txt
Due: fix_double_empty_lines, cmake_license_check, db_license_check

Update FDW scan to use generator_iterator
  production/sql/inc/gaia_fdw_adapter.hpp
  production/sql/src/gaia_fdw_adapter.cpp
Due: fix_double_empty_lines, cpp_license_check

Update FDW scan to use generator_iterator (#1409)
  production/sql/inc/gaia_fdw_adapter.hpp
  production/sql/src/gaia_fdw_adapter.cpp
Due: fix_double_empty_lines, cpp_license_check

Change FDW airport test to load routes table in chunks
  data/internal/airport/routes_small.dat.gz
  production/sql/tests/CMakeLists.txt
  production/sql/tests/airport_setup.sql
  production/sql/tests/airport_small_expected.txt
Due: fix_double_empty_lines, cmake_license_check, db_license_check

Fix filter conditions to correctly insert records only once
  production/sql/tests/airport_setup.sql
Due: fix_double_empty_lines, db_license_check

Add comment to explain 'chunking'
  production/sql/tests/airport_setup.sql
Due: fix_double_empty_lines, db_license_check

Change FDW airport test to load routes table in chunks (#1410)
  data/internal/airport/routes_small.dat.gz
  production/sql/tests/CMakeLists.txt
  production/sql/tests/airport_setup.sql
  production/sql/tests/airport_small_expected.txt
Due: fix_double_empty_lines, cmake_license_check, db_license_check

Add more rules for interop and navigation
  production/examples/rules/hospital.cpp
  production/examples/rules/hospital.ruleset
Due: fix_double_empty_lines, cpp_license_check_examples

fix double end line
  production/examples/rules/hospital.ruleset
Due: fix_double_empty_lines, cpp_license_check_examples

Fix tests that expected iteration in insertion order
  production/common/tests/test_multi_process.cpp
  production/direct_access/tests/test_direct_access.cpp
  production/direct_access/tests/test_references.cpp
  production/tools/gaia_translate/tests/test_amr_swarm.cpp
Due: fix_double_empty_lines, cpp_license_check

Enable new table scan implementation
  production/CMakeLists.txt
  production/db/core/CMakeLists.txt
  production/db/core/inc/db_client.hpp
  production/db/core/inc/db_server.hpp
  production/db/core/inc/type_index_cursor.inc
  production/db/core/src/db_client.cpp
  production/db/core/src/db_server.cpp
  production/db/core/src/flatbuffers/messages.fbs
  production/db/core/src/gaia_ptr.cpp
  production/db/core/src/gaia_ptr_client.cpp
  production/db/core/src/gaia_ptr_server.cpp
  production/db/core/src/rdb_object_converter.cpp
  production/inc/gaia_internal/db/gaia_ptr.hpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Fix legacy table scan build
  production/db/core/src/flatbuffers/messages.fbs
Due: fix_double_empty_lines

cleanup
  production/direct_access/tests/test_references.cpp
Due: fix_double_empty_lines, cpp_license_check

Change schema so that the all samples can live side by side in the database; rename sample binaries
  dev_tools/sdk/test/build_sdk_samples.sh
  production/examples/direct_access/CMakeLists.txt
  production/examples/direct_access_multithread/CMakeLists.txt
  production/examples/rules/CMakeLists.txt
  production/examples/rules/README.md
  production/examples/rules/clinic.cpp
  production/examples/rules/clinic.ddl
  production/examples/rules/clinic.ruleset
  production/examples/rules/hospital.cpp
  production/examples/rules/hospital.ruleset
  production/sdk/CMakeLists.txt
Due: fix_double_empty_lines, bash_license_check, cmake_license_check, cmake_license_check_examples, db_license_check_eamples, cpp_license_check_examples

Fix tests that expected iteration in insertion order (#1412)
  production/common/tests/test_multi_process.cpp
  production/direct_access/tests/test_direct_access.cpp
  production/direct_access/tests/test_references.cpp
  production/tools/gaia_translate/tests/test_amr_swarm.cpp
Due: fix_double_empty_lines, cpp_license_check

Apply fit&finish code review feedback
  production/examples/rules/README.md
  production/examples/rules/clinic.cpp
  production/examples/rules/clinic.ruleset
  production/examples/rules/lesson_manager.cpp
  production/examples/rules/lesson_manager.hpp
Due: fix_double_empty_lines, cpp_license_check_examples

Stuff
  production/db/core/src/gaia_ptr_api.cpp
  production/db/index/src/hash_index.cpp
  production/db/index/src/index.cpp
  production/db/query_processor/tests/test_index_scan.cpp
  production/direct_access/tests/test_insertion_perf.cpp
  production/schemas/test/index_sandbox/index_sandbox.ddl
Due: fix_double_empty_lines, db_license_check, cpp_license_check

Improve unit test validation checks
  production/common/tests/test_multi_process.cpp
  production/direct_access/tests/test_direct_access.cpp
  production/tools/gaia_translate/tests/test_amr_swarm.cpp
Due: fix_double_empty_lines, cpp_license_check

Improve unit test validation checks (#1413)
  production/common/tests/test_multi_process.cpp
  production/direct_access/tests/test_direct_access.cpp
  production/tools/gaia_translate/tests/test_amr_swarm.cpp
Due: fix_double_empty_lines, cpp_license_check

Add interop examples to handle optional fields; update production CMakeLists
  production/examples/rules/CMakeLists_prod.txt
  production/examples/rules/clinic.cpp
  production/examples/rules/clinic.ruleset
Due: fix_double_empty_lines, cpp_license_check_examples

Add a rules tutorial to the SDK (#1405)
  dev_tools/sdk/test/build_sdk_samples.sh
  production/examples/direct_access_multithread/CMakeLists.txt
  production/examples/rules/.gitignore
  production/examples/rules/CMakeLists.txt
  production/examples/rules/CMakeLists_prod.txt
  production/examples/rules/README.md
  production/examples/rules/clinic.cpp
  production/examples/rules/clinic.ddl
  production/examples/rules/clinic.ruleset
  production/examples/rules/gaia.conf
  production/examples/rules/lesson_manager.cpp
  production/examples/rules/lesson_manager.hpp
  production/sdk/CMakeLists.txt
  production/tools/gaia_translate/src/main.cpp
Due: fix_double_empty_lines, bash_license_check, cmake_license_check, cpp_license_check, cmake_license_check_examples, db_license_check_eamples, cpp_license_check_examples

Re-enable FDW tests in debug build
  production/gdev.cfg
Due: fix_double_empty_lines

set EXECUTE_FDW_TESTS=ON instead of just defining it
  production/gdev.cfg
Due: fix_double_empty_lines

Remove old table scan implementation
  production/CMakeLists.txt
  production/db/core/CMakeLists.txt
  production/db/core/inc/db_client.hpp
  production/db/core/inc/db_server.hpp
  production/db/core/inc/record_list.hpp
  production/db/core/inc/record_list.inc
  production/db/core/inc/record_list_manager.hpp
  production/db/core/inc/type_generator.hpp
  production/db/core/src/db_client.cpp
  production/db/core/src/db_server.cpp
  production/db/core/src/flatbuffers/messages.fbs
  production/db/core/src/gaia_ptr.cpp
  production/db/core/src/gaia_ptr_client.cpp
  production/db/core/src/gaia_ptr_server.cpp
  production/db/core/src/rdb_object_converter.cpp
  production/db/core/src/record_list.cpp
  production/db/core/src/record_list_manager.cpp
  production/db/core/src/type_generator.cpp
  production/db/core/tests/test_record_list.cpp
  production/db/core/tests/test_record_list_manager.cpp
  production/inc/gaia_internal/db/gaia_ptr.hpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Follow install steps post build to enable FDW tests
  dev_tools/github-actions/post_build_inside_container.sh
  production/gdev.cfg
Due: fix_double_empty_lines, bash_license_check

Shared memory table scan (phase 3) (#1411)
  production/db/core/CMakeLists.txt
  production/db/core/inc/db_client.hpp
  production/db/core/inc/db_server.hpp
  production/db/core/inc/record_list.hpp
  production/db/core/inc/record_list.inc
  production/db/core/inc/record_list_manager.hpp
  production/db/core/inc/type_generator.hpp
  production/db/core/inc/type_index_cursor.inc
  production/db/core/src/db_client.cpp
  production/db/core/src/db_server.cpp
  production/db/core/src/flatbuffers/messages.fbs
  production/db/core/src/gaia_ptr.cpp
  production/db/core/src/gaia_ptr_client.cpp
  production/db/core/src/gaia_ptr_server.cpp
  production/db/core/src/rdb_object_converter.cpp
  production/db/core/src/record_list.cpp
  production/db/core/src/record_list_manager.cpp
  production/db/core/src/type_generator.cpp
  production/db/core/tests/test_record_list.cpp
  production/db/core/tests/test_record_list_manager.cpp
  production/direct_access/tests/test_references.cpp
  production/inc/gaia_internal/db/gaia_ptr.hpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Be sure to pull down the data/internal directory for FDW tests
  production/gdev.cfg
Due: fix_double_empty_lines

add gdev.cfg for data
  data/internal/gdev.cfg
Due: none

Fix lint errors
  dev_tools/github-actions/post_build_inside_container.sh
Due: fix_double_empty_lines, bash_license_check

Add logging and imropve clear_table() time in test_insertion_perf
  production/direct_access/tests/test_insertion_perf.cpp
Due: fix_double_empty_lines, cpp_license_check

Update test_insertion_perf.cpp
  production/direct_access/tests/test_insertion_perf.cpp
Due: fix_double_empty_lines, cpp_license_check

Add logging and imropve clear_table() time in test_insertion_perf (#1415)
  production/direct_access/tests/test_insertion_perf.cpp
Due: fix_double_empty_lines, cpp_license_check

[GAIAPLAT-1572] Reenable FDW tests in CI (#1414)
  data/internal/gdev.cfg
  dev_tools/github-actions/post_build_inside_container.sh
  production/gdev.cfg
Due: fix_double_empty_lines, bash_license_check

Use alignof() and std::align() for alignment
  production/sql/inc/gaia_fdw_adapter.hpp
Due: fix_double_empty_lines, cpp_license_check

Enforce 16-byte alignment of FDW scan state structs
  production/sql/inc/gaia_fdw_adapter.hpp
Due: fix_double_empty_lines, cpp_license_check

Add spdlog formatter for gaia::common::optional_t
  production/common/CMakeLists.txt
  production/common/tests/test_logging.cpp
  production/examples/rules/clinic.cpp
  production/examples/rules/clinic.ruleset
  production/inc/gaia/logger.hpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check, cpp_license_check_examples

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py))|(^.+\_\_init\_\_\.py)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/docker_dev|production/examples))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cpp_license_check_examples: any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
