Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples, cpp_license_check_examples

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py))|(^.+\_\_init\_\_\.py)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/docker_dev|production/examples))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cpp_license_check_examples: any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))

Apply review feedback
  production/rules/event_manager/src/event_manager.cpp
  production/rules/event_manager/tests/test_event_manager.cpp
  production/rules/event_manager/tests/test_rule_context.cpp
  production/rules/event_manager/tests/test_rule_integration.cpp
  production/system/tests/test_gaia_system.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix unused variable warning
  production/catalog/gaiac/src/main.cpp
Due: fix_double_empty_lines, cpp_license_check

Add accessors for context data (#1529)
  production/db/core/src/db_client.cpp
  production/db/core/src/db_server.cpp
  production/db/inc/core/db_client.hpp
  production/db/inc/core/db_client.inc
  production/db/inc/core/db_server.hpp
  production/db/inc/core/db_server.inc
Due: fix_double_empty_lines, cpp_license_check

Move some session cleanup in the destructor of session_context
  production/db/core/src/db_server.cpp
  production/db/core/src/server_contexts.cpp
Due: fix_double_empty_lines, cpp_license_check

Move some session cleanup in the destructor of session_context (#1530)
  production/db/core/src/db_server.cpp
  production/db/core/src/server_contexts.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix unused variable warning (#1532)
  production/catalog/gaiac/src/main.cpp
Due: fix_double_empty_lines, cpp_license_check

test github action runners (instead of self-hosted)
  .github/workflows/main.yml
Due: fix_double_empty_lines

move all workflows to run ubuntu-20.04 instead of self-hosted
  .github/workflows/README.md
  .github/workflows/core.yml
  .github/workflows/cores-and-sdks.yml
  .github/workflows/documentation.yml
  .github/workflows/integration-only.yml
  .github/workflows/llvm-tests.yml
  .github/workflows/performance-only.yml
  .github/workflows/remove-old-artifacts.yml
Due: fix_double_empty_lines

update python code formatter
  .pre-commit-config.yaml
Due: fix_double_empty_lines

Fixup python lint issues found by Black
  dev_tools/docker_dev/gdev/sections/_abc/cfg.py
  dev_tools/docker_dev/gdev/sections/_abc/dockerfile.py
  dev_tools/docker_dev/gdev/sections/_custom/dockerfile.py
Due: python_executable_license_check

Cleanup requires sudo
  .github/actions/setup-job/action.yml
Due: fix_double_empty_lines

use ssh-agent to fill in ssh env variables
  .github/actions/build-job/action.yml
Due: fix_double_empty_lines

Fix
  production/db/core/src/flatbuffers/messages.fbs
Due: fix_double_empty_lines

Stuff
  production/db/core/CMakeLists.txt
  production/db/core/src/db_client.cpp
  production/db/core/src/db_server.cpp
  production/db/core/src/exceptions.cpp
  production/db/core/tests/test_sessions.cpp
  production/db/inc/core/db_server.hpp
  production/inc/gaia/exceptions.hpp
  production/inc/gaia_internal/exceptions.hpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Address PR comments
  production/db/core/src/db_client.cpp
  production/db/core/src/db_server.cpp
  production/db/inc/core/db_server.hpp
Due: fix_double_empty_lines, cpp_license_check

Minor nits and bits
  production/db/core/src/flatbuffers/messages.fbs
Due: fix_double_empty_lines

Address PR feedback
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

Address PR feedback
  production/db/core/src/flatbuffers/messages.fbs
  production/db/core/tests/test_sessions.cpp
Due: fix_double_empty_lines, cpp_license_check

Make the begin_session() blocking
  production/common/src/logger.cpp
  production/common/src/logger_manager.cpp
  production/db/core/src/db_client.cpp
  production/db/core/src/db_server.cpp
  production/db/core/tests/test_sessions.cpp
  production/db/inc/core/db_server.hpp
  production/inc/gaia_internal/common/logger.hpp
  production/inc/gaia_internal/common/logger_manager.hpp
  production/inc/gaia_internal/db/db_test_base.hpp
  production/rules/event_manager/src/rule_thread_pool.cpp
  production/system/tests/test_gaia_system.cpp
Due: fix_double_empty_lines, cpp_license_check

Address PR feedback
  production/db/core/src/db_client.cpp
  production/db/core/src/db_server.cpp
  production/db/core/src/exceptions.cpp
  production/db/core/tests/test_sessions.cpp
  production/inc/gaia/exceptions.hpp
  production/inc/gaia_internal/exceptions.hpp
Due: fix_double_empty_lines, cpp_license_check

One more ssh-agent related break; streamline build for testing
  .github/workflows/main.yml
Due: fix_double_empty_lines

fix typo in yaml
  .github/workflows/main.yml
Due: fix_double_empty_lines

Fix merge issues
  production/common/src/logger.cpp
  production/common/src/logger_manager.cpp
  production/db/core/src/db_server.cpp
  production/inc/gaia_internal/common/logger.hpp
  production/inc/gaia_internal/common/logger_manager.hpp
  production/inc/gaia_internal/db/db_test_base.hpp
  production/rules/event_manager/src/rule_thread_pool.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix merge typo
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

[GAIAPLAT-2163] Ensure that DDL sessions cannot happen concurrently with other DDL or regular sessions (#1524)
  production/db/core/CMakeLists.txt
  production/db/core/src/db_server.cpp
  production/db/core/tests/test_sessions.cpp
  production/db/inc/core/db_server.hpp
  production/system/tests/test_gaia_system.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Fix list indentation
  docs/coding-guidelines-principles.md
Due: fix_double_empty_lines

Additional markdown fixes
  docs/coding-guidelines-c++.md
Due: fix_double_empty_lines

Add coding guidelines as markdown files
  docs/coding-guidelines-c++.md
  docs/coding-guidelines-principles.md
  docs/repository-guidelines.md
Due: fix_double_empty_lines

One more fix attempt
  docs/coding-guidelines-c++.md
Due: fix_double_empty_lines

Additional formatting
  docs/coding-guidelines-c++.md
Due: fix_double_empty_lines

More formatting
  docs/coding-guidelines-c++.md
Due: fix_double_empty_lines

Fix file extensions section indentation
  docs/coding-guidelines-c++.md
Due: fix_double_empty_lines

Add coding guidelines to repository as markdown files (#1533)
  docs/coding-guidelines-c++.md
  docs/coding-guidelines-principles.md
  docs/repository-guidelines.md
Due: fix_double_empty_lines

Re-enable db_caches
  production/db/core/src/db_client.cpp
Due: fix_double_empty_lines, cpp_license_check

Re-enable jobs in main; testing complete
  .github/workflows/main.yml
Due: fix_double_empty_lines

Re-enable db_caches (#1534)
  production/db/core/src/db_client.cpp
Due: fix_double_empty_lines, cpp_license_check

apply review feedback
  .github/actions/build-job/action.yml
  .github/workflows/README.md
  .github/workflows/main.yml
Due: fix_double_empty_lines

Update pre-commit license checks
  .pre-commit-config.yaml
Due: fix_double_empty_lines

Try updating a copyright comment
  production/benchmarks/inc/benchmark_test_base.hpp
Due: fix_double_empty_lines, cpp_license_check
