Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses/|production/tools/gaia_translate/tests/test_translation.ruleset)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py|production/db/core/tests/test_db.py|production/db/core/src/dump_se.py))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/sdk|production/examples|production/tests|production/coverage|production/sql/tests/test_fdw.sh))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples|production/sql|production/db|production/cmake|production/tools)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: (any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp|production/tests/workloads|production/inc/gaia/expressions|production/catalog/src/gaia_generate.cpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))) or (any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))

remove session decision eventfd
  production/db/core/inc/async_disk_writer.hpp
  production/db/core/src/async_disk_writer.cpp
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

Add code generation tests
  production/schemas/test/addr_book/addr_book.ddl
  production/tools/gaia_translate/CMakeLists.txt
  production/tools/gaia_translate/tests/test_array.cpp
  production/tools/gaia_translate/tests/test_array.ruleset
Due: fix_double_empty_lines, db_license_check, cpp_license_check

SDK build break: Ensure ForceDefaults is true on FlatbufferBuilder instances (#1310)
  production/catalog/src/dac_generator.cpp
  production/catalog/src/gaia_catalog.cpp
  production/db/core/src/db_client.cpp
  production/db/core/src/db_server.cpp
  production/db/query_processor/src/scan_generators.cpp
  production/direct_access/tests/test_auto_connect.cpp
  production/inc/gaia/direct_access/dac_object.hpp
  production/inc/gaia/direct_access/dac_object.inc
  production/inc/gaia_internal/catalog/gaia_catalog.h
Due: fix_double_empty_lines, cpp_license_check

Reenable rule tests (#1306)
  production/rules/event_manager/tests/test_rule_integration.cpp
  production/tools/gaia_translate/tests/test_translation_engine.cpp
Due: fix_double_empty_lines, cpp_license_check

Remove exclusions for rules test on double-line pre-commit check
  .pre-commit-config.yaml
Due: fix_double_empty_lines

Add license text to CMake files
  production/tools/gaia_translate/CMakeLists.txt
  production/tools/tests/CMakeLists.txt
  production/tools/tests/gaiat/CMakeLists.txt
Due: fix_double_empty_lines

Add three .deb install options regarding gaia systemd service
  production/sdk/CMakeLists.txt
  production/sdk/debian/postinst.in
  production/sdk/debian/templates.in
Due: fix_double_empty_lines, cmake_license_check

Add debconf as a dependency
  production/sdk/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

Fix accidentally quadratic behavior in GC
  production/db/core/inc/db_server.hpp
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

Make client socket buffer larger to accommodate new transaction_log_info_t struct
  production/inc/gaia_internal/common/socket_helpers.hpp
Due: fix_double_empty_lines, cpp_license_check

Fix debconf dependency
  production/sdk/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

Fix signature
  production/db/core/tests/test_concurrent_db_client.cpp
Due: fix_double_empty_lines, cpp_license_check

Addressed PR feedback
  production/examples/rules_vlr/rules_vlr.cpp
  production/examples/rules_vlr/rules_vlr.ruleset
Due: fix_double_empty_lines, cpp_license_check

[GAIAPLAT-1992] Add optional to da examples
  production/examples/direct_access/hospital.cpp
  production/examples/direct_access/hospital.ddl
Due: fix_double_empty_lines, cpp_license_check, db_license_check_eamples

GAIAPLAT-1894 - Addressing PR issues from SR
  .github/workflows/core.yml
  .github/workflows/cores-and-sdks.yml
  .github/workflows/llvm-tests.yml
  .github/workflows/main.yml
  production/coverage/gen_coverage.sh
Due: fix_double_empty_lines

Minor Thingy
  production/examples/direct_access/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check_examples

GAIAPLAT-1894 : Enabled better caching between jobs. (#1282)
  .github/workflows/README.md
  .github/workflows/core.yml
  .github/workflows/cores-and-sdks.yml
  .github/workflows/llvm-tests.yml
  .github/workflows/main.yml
  .gitignore
  production/coverage/copy_after_line.py
  production/coverage/coverage.sh
  production/coverage/gen_coverage.sh
  production/coverage/summarize.py
Due: fix_double_empty_lines, python_executable_license_check

[GAIAPLAT-1947] Mark Entries Committed Crashes while incrementing operator (#1309)
  production/db/inc/index/index.inc
Due: fix_double_empty_lines, cpp_license_check

Reduce the options to 1
  production/sdk/CMakeLists.txt
  production/sdk/debian/postinst.in
  production/sdk/debian/templates.in
Due: fix_double_empty_lines, cmake_license_check

GAIAPLAT-1940: add license text for CMake files under production/tools (#1312)
  .pre-commit-config.yaml
  production/tools/gaia_translate/CMakeLists.txt
  production/tools/tests/CMakeLists.txt
  production/tools/tests/gaiat/CMakeLists.txt
Due: fix_double_empty_lines

test
  .github/workflows/main.yml
  dev_tools/github-actions/execute_tests_against_package.sh
Due: fix_double_empty_lines, bash_license_check

test
  .github/workflows/main.yml
  .pre-commit-config.yaml
Due: fix_double_empty_lines

test
  .github/workflows/main.yml
Due: fix_double_empty_lines

Add configure_gaia_target() to QP CMakeLists.txt (#1307)
  production/db/query_processor/CMakeLists.txt
Due: fix_double_empty_lines

Fix accidentally quadratic behavior in GC (#1314)
  production/db/core/inc/db_server.hpp
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

removed unnecessary files
  production/catalog/diagram/catalog.png
  production/inc/gaia/direct_access/dac_expressions.hpp
Due: fix_double_empty_lines, cpp_license_check

test
  .github/workflows/main.yml
  dev_tools/sdk/test/build_sdk_samples.sh
Due: fix_double_empty_lines

code simplification
  production/tools/gaia_db_extract/src/gaia_db_extract.cpp
  production/tools/gaia_translate/src/main.cpp
  production/tools/gaia_translate/src/table_navigation.cpp
Due: fix_double_empty_lines, cpp_license_check

fixed bug in rule catalog table creation
  production/catalog/src/ddl_executor.cpp
Due: fix_double_empty_lines, cpp_license_check

Address PR feedback
  production/examples/direct_access/hospital.cpp
Due: fix_double_empty_lines, cpp_license_check

code cleanup after debuging
  production/tools/gaia_translate/tests/test_mixed_ruleset.cpp
  third_party/production/TranslationEngineLLVM/clang/lib/AST/ASTContext.cpp
  third_party/production/TranslationEngineLLVM/clang/lib/Sema/SemaGaia.cpp
Due: fix_double_empty_lines, cpp_license_check

test
  dev_tools/github-actions/execute_tests_against_package.sh
Due: fix_double_empty_lines, bash_license_check

fixed some bad formatting
  production/rules/event_manager/tests/test_rule_exceptions.cpp
  production/rules/event_manager/tests/test_rule_integration.cpp
Due: fix_double_empty_lines, cpp_license_check

Add concurrency test
  production/db/core/CMakeLists.txt
  production/db/core/tests/test_concurrent_db_client.cpp
Due: fix_double_empty_lines, cpp_license_check

Make client socket buffer still larger
  production/inc/gaia_internal/common/socket_helpers.hpp
Due: fix_double_empty_lines, cpp_license_check
