Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples, cpp_license_check_examples

fix_double_empty_lines:
  name: Eliminate multiple empty lines
  entry: dev_tools/github-actions/pre-commit-hooks/fix_double_empty_lines.py
  language: python

python_executable_license_check:
  name: Check Python Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#!/usr/bin/env python3
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

python_non_executable_license_check:
  name: Check Python Non-Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

bash_license_check:
  name: Check Bash files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#!/usr/bin/env bash
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

cmake_license_check:
  name: Check CMake files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

db_license_check:
  name: Check SQL and DDL files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '---------------------------------------------
  
    -- Copyright (c) Gaia Platform LLC
  
    -- All rights reserved.
  
  ...

cpp_license_check:
  name: Check C++ files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '/////////////////////////////////////////////
  
    // Copyright (c) Gaia Platform LLC
  
    // All rights reserved.
  
  ...

bash_license_check_examples:
  name: Check Example Bash files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#!/usr/bin/env bash
  
  
    ###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

cmake_license_check_examples:
  name: Check Example CMake files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

Revert previous edit
  production/benchmarks/inc/benchmark_test_base.hpp
Due: fix_double_empty_lines, cpp_license_check

Fix SQL and DDL files
  production/fdw/src/gaia_fdw.sql
  production/fdw/tests/airport_schema.ddl
  production/fdw/tests/airport_setup.sql
  production/fdw/tests/airport_test.sql
  production/fdw/tests/array_schema.ddl
  production/fdw/tests/array_setup.sql
  production/fdw/tests/array_test.sql
  production/fdw/tests/test_fdw.sh
  production/schemas/test/addr_book/addr_book.ddl
  production/schemas/test/airport/airport.ddl
  production/schemas/test/amr_swarm/amr_swarm.ddl
  production/schemas/test/default/no_db.ddl
  production/schemas/test/incubator/incubator.ddl
  production/schemas/test/index_sandbox/index_sandbox.ddl
  production/schemas/test/insert/insert.ddl
  production/schemas/test/one_to_one/one_to_one.ddl
  production/schemas/test/optional/optional.ddl
  production/schemas/test/perf_basic/perf_basic.ddl
  production/schemas/test/perf_idx/perf_idx.ddl
  production/schemas/test/perf_rel/perf_rel.ddl
  production/schemas/test/perf_rules/perf_rules.ddl
  production/schemas/test/prerequisites/prerequisites.ddl
  production/tests/workloads/mink/mink.ddl
  production/tests/workloads/palletbox/palletbox.ddl
  production/tests/workloads/pingpong/pingpong.ddl
  production/tools/tests/ping_pong/ping_pong.ddl
Due: fix_double_empty_lines, bash_license_check, db_license_check

Fix missed files
  .pre-commit-config.yaml
  docs/repository-guidelines.md
  production/db/core/tests/test_db.py
  production/fdw/src/gaia_fdw.control
  production/java/com/gaiaplatform/database/cachegraph/tinkerpop/gremlin/structure/CacheEdge.java
  production/java/com/gaiaplatform/database/cachegraph/tinkerpop/gremlin/structure/CacheElement.java
  production/java/com/gaiaplatform/database/cachegraph/tinkerpop/gremlin/structure/CacheFactory.java
  production/java/com/gaiaplatform/database/cachegraph/tinkerpop/gremlin/structure/CacheGraph.java
  production/java/com/gaiaplatform/database/cachegraph/tinkerpop/gremlin/structure/CacheHelper.java
  production/java/com/gaiaplatform/database/cachegraph/tinkerpop/gremlin/structure/CacheProperty.java
  production/java/com/gaiaplatform/database/cachegraph/tinkerpop/gremlin/structure/CacheTransaction.java
  production/java/com/gaiaplatform/database/cachegraph/tinkerpop/gremlin/structure/CacheVertex.java
  production/java/com/gaiaplatform/database/cachegraph/tinkerpop/gremlin/structure/CacheVertexProperty.java
  production/sdk/debian/postinst.in
  production/tests/workloads/mink/python/generate_config.py
  production/tests/workloads/mink/python/summarize_test_results.py
  production/tests/workloads/mink/python/translate_to_csv.py
Due: fix_double_empty_lines, python_executable_license_check

Fix end of README.md file
  production/fdw/tests/airport/README.md
Due: fix_double_empty_lines

Remove gdev reference to data/internal
  production/gdev.cfg
Due: fix_double_empty_lines

Fix rocks_wrapper and gaia_db_persistence Cmake dependecies
  production/db/core/CMakeLists.txt
  production/db/core/src/log_io.cpp
  production/db/core/src/persistent_store_manager.cpp
  production/db/core/src/rdb_object_converter.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Remove outdated SDK scripts. Move release instructions to dev_tools
  .gitmodules
  README.md
  dev_tools/sdk/README.md
  dev_tools/sdk/get-sdk-url.sh
  dev_tools/sdk/publish-sdk-to-s3.sh
Due: fix_double_empty_lines, bash_license_check

Fix rocks_wrapper and gaia_db_persistence Cmake dependecies (#1538)
  production/db/core/CMakeLists.txt
  production/db/core/src/log_io.cpp
  production/db/core/src/persistent_store_manager.cpp
  production/db/core/src/rdb_object_converter.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Make the linter happy
  README.md
Due: fix_double_empty_lines

Remove outdated SDK scripts. Move release instructions to dev_tools (#1539)
  .gitmodules
  README.md
  dev_tools/sdk/README.md
  dev_tools/sdk/get-sdk-url.sh
  dev_tools/sdk/publish-sdk-to-s3.sh
Due: fix_double_empty_lines, bash_license_check

Cleanup of index scan test
  production/db/query_processor/tests/test_index_scan.cpp
Due: fix_double_empty_lines, cpp_license_check

Cleanup of index scan test (#1540)
  production/db/query_processor/tests/test_index_scan.cpp
Due: fix_double_empty_lines, cpp_license_check

INDEX: Internal APIs for range queries on index
  production/db/core/src/db_server.cpp
  production/db/inc/index/base_index.hpp
  production/db/inc/index/range_index.hpp
  production/db/inc/query_processor/index_scan_physical.inc
  production/db/inc/query_processor/predicate.hpp
  production/db/index/src/range_index.cpp
  production/db/payload_types/src/data_buffer.cpp
  production/db/query_processor/src/predicate.cpp
  production/db/query_processor/tests/test_index_scan.cpp
Due: fix_double_empty_lines, cpp_license_check

Addressed comments.
  production/db/core/src/db_server.cpp
  production/db/inc/query_processor/index_scan_physical.inc
  production/db/inc/query_processor/predicate.hpp
  production/db/index/src/range_index.cpp
  production/db/query_processor/src/predicate.cpp
  production/db/query_processor/tests/test_index_scan.cpp
Due: fix_double_empty_lines, cpp_license_check

fix compile error
  production/db/query_processor/tests/test_index_scan.cpp
Due: fix_double_empty_lines, cpp_license_check

Add API to using.
  production/db/query_processor/tests/test_index_scan.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix typo.
  production/db/query_processor/tests/test_index_scan.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix some merge issues
  production/db/core/src/db_server.cpp
  production/db/inc/query_processor/predicate.hpp
Due: fix_double_empty_lines, cpp_license_check

Rename field
  production/db/inc/query_processor/predicate.hpp
  production/db/query_processor/src/predicate.cpp
Due: fix_double_empty_lines, cpp_license_check

did not mean to re-enable integration tests
  .github/workflows/main.yml
Due: fix_double_empty_lines

Enable github action runners (#1537)
  .github/actions/build-job/action.yml
  .github/actions/setup-job/action.yml
  .github/workflows/README.md
  .github/workflows/core.yml
  .github/workflows/cores-and-sdks.yml
  .github/workflows/documentation.yml
  .github/workflows/integration-only.yml
  .github/workflows/llvm-tests.yml
  .github/workflows/main.yml
  .github/workflows/performance-only.yml
  .github/workflows/remove-old-artifacts.yml
  .pre-commit-config.yaml
  dev_tools/docker_dev/gdev/sections/_abc/cfg.py
  dev_tools/docker_dev/gdev/sections/_abc/dockerfile.py
  dev_tools/docker_dev/gdev/sections/_custom/dockerfile.py
Due: fix_double_empty_lines, python_executable_license_check

Update version to 0.6.0
  dev_tools/sdk/README.md
  production/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

Remove timing comparison for rule stats test since it causes intermittent failures
  production/rules/event_manager/tests/test_rule_stats.cpp
Due: fix_double_empty_lines, cpp_license_check

Update version to 0.6.0 (#1541)
  dev_tools/sdk/README.md
  production/CMakeLists.txt
  production/rules/event_manager/tests/test_rule_stats.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Disable Debug_SDK build
  .github/workflows/main.yml
Due: fix_double_empty_lines

Rename master to main
  .github/actions/documentation-job/action.yml
  .github/actions/setup-job/action.yml
  .github/workflows/README.md
  .github/workflows/core.yml
  .github/workflows/cores-and-sdks.yml
  .github/workflows/documentation.yml
  .github/workflows/integration-only.yml
  .github/workflows/llvm-tests.yml
  .github/workflows/main.yml
  .github/workflows/performance-only.yml
  dev_tools/gdev/gdev/cmd/gen/_abc/dockerfile.py
  dev_tools/sdk/README.md
  dev_tools/sdk/test/README.md
  docs/repository-guidelines.md
  production/README.md
  production/cmake/gaia_version.cmake
  production/common/src/gaia_version.cpp
  production/coverage/coverage.sh
  production/gdev.cfg
  production/inc/gaia_internal/common/gaia_version.hpp.in
  production/licenses/README.md
  production/tests/README.md
  production/tests/workloads/template/readme.md
Due: fix_double_empty_lines, bash_license_check, cmake_license_check, cpp_license_check

Don't change path to docker registry
  dev_tools/gdev/gdev/cmd/gen/_abc/dockerfile.py
  production/coverage/coverage.sh
Due: fix_double_empty_lines, bash_license_check

Use relative paths to files in repo for readme files
  dev_tools/sdk/test/README.md
  production/README.md
  production/licenses/README.md
  production/tests/workloads/template/readme.md
Due: fix_double_empty_lines

Disable Debug_SDK build (#1542)
  .github/actions/documentation-job/action.yml
  .github/actions/setup-job/action.yml
  .github/workflows/README.md
  .github/workflows/core.yml
  .github/workflows/cores-and-sdks.yml
  .github/workflows/documentation.yml
  .github/workflows/integration-only.yml
  .github/workflows/llvm-tests.yml
  .github/workflows/main.yml
  .github/workflows/performance-only.yml
  dev_tools/sdk/README.md
  dev_tools/sdk/test/README.md
  docs/repository-guidelines.md
  production/README.md
  production/cmake/gaia_version.cmake
  production/common/src/gaia_version.cpp
  production/gdev.cfg
  production/inc/gaia_internal/common/gaia_version.hpp.in
  production/licenses/README.md
  production/tests/README.md
  production/tests/workloads/template/readme.md
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Fix link
  third_party/README.md
Due: none

Clean up README.md files under third-party
  third_party/README.md
  third_party/bundle/README.md
  third_party/production/README.md
Due: none

Clean up README.md files under third-party (#1543)
  third_party/README.md
  third_party/bundle/README.md
  third_party/production/README.md
Due: none

Articulate
  LICENSE.md
Due: fix_double_empty_lines

Add LICENSE files
  LICENSE.md
  LICENSE.txt
Due: fix_double_empty_lines

Add LICENSE files (#1544)
  LICENSE.md
  LICENSE.txt
Due: fix_double_empty_lines

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py))|(^.+\_\_init\_\_\.py)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/docker_dev|production/examples))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cpp_license_check_examples: any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
