Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples

fix_double_empty_lines:
  name: Eliminate multiple empty lines
  entry: dev_tools/github-actions/pre-commit-hooks/fix_double_empty_lines.py
  language: python

python_executable_license_check:
  name: Check Python Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#! /usr/bin/python3
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

python_non_executable_license_check:
  name: Check Python Non-Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

bash_license_check:
  name: Check Bash files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#! /usr/bin/bash
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

cmake_license_check:
  name: Check CMake files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

db_license_check:
  name: Check SQL and DDL files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '---------------------------------------------
  
    -- Copyright (c) Gaia Platform LLC
  
    -- All rights reserved.
  
  ...

cpp_license_check:
  name: Check Example C++ files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '////////////////////////////////////////////////////
  
    // Copyright (c) Gaia Platform LLC
  
    //
  
  ...

bash_license_check_examples:
  name: Check Example Bash files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#! /usr/bin/bash
  
  
    ###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

cmake_license_check_examples:
  name: Check Example CMake files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

test
  dev_tools/docker_dev/gdev/cmd/cfg.py
  dev_tools/docker_dev/gdev/cmd/dockerfile.py
  dev_tools/docker_dev/gdev/dependency.py
  dev_tools/docker_dev/gdev/mount.py
  dev_tools/docker_dev/gdev/options.py
  dev_tools/docker_dev/test.sh
  dev_tools/docker_dev/test/test_scenarios.py
Due: fix_double_empty_lines, python_executable_license_check, bash_license_check

test
  dev_tools/github-actions/execute_tests_against_package.sh
Due: fix_double_empty_lines, bash_license_check

test
  dev_tools/docker_dev/gdev/host.py
  dev_tools/docker_dev/gdev/options.py
Due: python_executable_license_check

test
  .github/actions/build-job/action.yml
Due: fix_double_empty_lines

test
  dev_tools/gdev/gdev/dependency.py
Due: none

test
  .github/workflows/main.yml
Due: fix_double_empty_lines

fix lint warnings
  production/tools/gaia_translate/src/main.cpp
Due: fix_double_empty_lines, cpp_license_check

Renaming based on PR feedback.
  production/inc/gaia/expressions/accessors/value_accessor.hpp
  production/inc/gaia/expressions/accessors/value_accessor.inc
  production/inc/gaia/expressions/builders/expression_bind.hpp
  production/inc/gaia/expressions/builders/expression_builder.hpp
  production/inc/gaia/expressions/expression_traits.hpp
  production/inc/gaia/expressions/operators.hpp
Due: fix_double_empty_lines

Reworded readmes
  production/inc/gaia/expressions/accessors/README.md
  production/inc/gaia/expressions/builders/README.md
  production/inc/gaia/expressions/internal/README.md
Due: fix_double_empty_lines

test
  dev_tools/docker_dev/gdev/dependency.py
  dev_tools/docker_dev/gdev/host.py
  dev_tools/gdev/gdev/dependency.py
  production/tests/workloads/palletbox/palletbox.conf
Due: fix_double_empty_lines, python_executable_license_check

tests
  dev_tools/github-actions/execute_tests_against_package.sh
Due: fix_double_empty_lines, bash_license_check

test
  .github/actions/integration-test-job/action.yml
  .github/workflows/main.yml
Due: fix_double_empty_lines

Gaiaplat 1975 - test for catching failure (#1316)
  .github/workflows/main.yml
  dev_tools/github-actions/execute_tests_against_package.sh
  dev_tools/sdk/test/build_sample_for_github_actions.sh
  production/examples/hello/build.sh
Due: fix_double_empty_lines, bash_license_check, bash_license_check_examples

direct queries -> queries
  production/inc/gaia/expressions/accessors/README.md
  production/inc/gaia/expressions/builders/README.md
  production/inc/gaia/expressions/internal/README.md
Due: fix_double_empty_lines

Simplify the installation choices for Gaia service
  production/sdk/debian/postinst.in
  production/sdk/debian/templates.in
Due: fix_double_empty_lines

draft version of hashing of catalog
  production/catalog/CMakeLists.txt
  production/catalog/src/ddl_execution.cpp
  production/catalog/src/hash_generator.cpp
  production/catalog/tests/test_hash_generation.cpp
  production/common/src/hash.cpp
  production/common/tests/test_hash.cpp
  production/inc/gaia_internal/catalog/catalog.hpp
  production/inc/gaia_internal/common/hash.hpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

simplified some NOLINT directives
  production/common/src/hash.cpp
Due: fix_double_empty_lines, cpp_license_check

Add a new test for concurrent table scans
  production/direct_access/CMakeLists.txt
  production/direct_access/tests/test_iterator.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Remove unnecessary namespace qualifications
  production/direct_access/tests/test_iterator.cpp
Due: fix_double_empty_lines, cpp_license_check

Add some more comments
  production/direct_access/tests/test_iterator.cpp
Due: fix_double_empty_lines, cpp_license_check

Add waits and corresponding constants to both workloads
  production/direct_access/tests/test_iterator.cpp
Due: fix_double_empty_lines, cpp_license_check

Add a new test for concurrent table scans (#1344)
  production/direct_access/CMakeLists.txt
  production/direct_access/tests/test_iterator.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

code cleanup & simplification
  production/catalog/CMakeLists.txt
  production/catalog/src/ddl_execution.cpp
  production/catalog/src/hash_generator.cpp
  production/catalog/tests/test_hash_generation.cpp
  production/common/src/hash.cpp
  production/common/tests/test_hash.cpp
  production/inc/gaia_internal/common/hash.hpp
  production/tools/gaia_db_extract/src/gaia_db_extract.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Comments in dac_vector_t, variable renaming in DAC array test
  production/direct_access/tests/test_array_fields.cpp
  production/inc/gaia/direct_access/dac_array.hpp
  production/inc/gaia/direct_access/dac_array.inc
Due: fix_double_empty_lines, cpp_license_check

Simplify the installation choices for Gaia service (#1345)
  production/sdk/debian/postinst.in
  production/sdk/debian/templates.in
Due: fix_double_empty_lines

test
  dev_tools/docker_dev/gdev/cmd/dockerfile.py
  dev_tools/docker_dev/gdev/cmd/gen/_abc/run.py
  dev_tools/docker_dev/gdev/cmd/gen/_custom/cfg.py
  dev_tools/docker_dev/gdev/dependency.py
  dev_tools/docker_dev/gdev/host.py
  dev_tools/docker_dev/test.sh
  dev_tools/docker_dev/test/test_scenarios.py
  dev_tools/gdev/gdev/cmd/gen/_abc/run.py
  dev_tools/gdev/gdev/cmd/gen/_custom/cfg.py
  dev_tools/gdev/gdev/dependency.py
  dev_tools/gdev/gdev/host.py
Due: fix_double_empty_lines, python_executable_license_check, bash_license_check

Gaiaplat 2004 - Splitting integration and performance tests into their own jobs (#1342)
  .github/workflows/main.yml
  .github/workflows/performance-only.yml
  dev_tools/github-actions/execute_tests_against_package.sh
Due: fix_double_empty_lines, bash_license_check

fixed error in hash calculation, added testing
  production/catalog/src/hash_generator.cpp
  production/common/tests/test_hash.cpp
Due: fix_double_empty_lines, cpp_license_check

test
  .pre-commit-config.yaml
  dev_tools/docker_dev/gdev/dependency.py
  dev_tools/docker_dev/gdev/host.py
  dev_tools/docker_dev/gdev/main.py
  dev_tools/docker_dev/test.sh
  dev_tools/docker_dev/test/conftest.py
  dev_tools/docker_dev/test/gdev_execute.py
  dev_tools/docker_dev/test/pytest_execute.py
  dev_tools/docker_dev/test/test_scenarios.py
Due: fix_double_empty_lines, python_executable_license_check, bash_license_check

test
  dev_tools/docker_dev/test.sh
Due: fix_double_empty_lines, bash_license_check

Gaiaplat 2001 - Adding palletbox to the list of tests to run. (#1343)
  .github/workflows/integration-only.yml
  .github/workflows/main.yml
  .github/workflows/performance-only.yml
Due: fix_double_empty_lines

test
  dev_tools/docker_dev/gdev/host.py
  dev_tools/docker_dev/test/test_scenarios.py
Due: python_executable_license_check

test
  .github/actions/integration-test-job/action.yml
  dev_tools/github-actions/post_build_inside_container.sh
Due: fix_double_empty_lines, bash_license_check

test
  dev_tools/github-actions/build_image.sh
Due: fix_double_empty_lines, bash_license_check

Refactor expressions API to simplify implementation of specialized operator (#1288)
  production/catalog/src/catalog_facade.cpp
  production/direct_access/CMakeLists.txt
  production/direct_access/tests/test_expressions.cpp
  production/direct_access/tests/test_expressions_no_dac.cpp
  production/inc/README.md
  production/inc/gaia/expressions/accessors/README.md
  production/inc/gaia/expressions/accessors/container_accessor.hpp
  production/inc/gaia/expressions/accessors/container_accessor.inc
  production/inc/gaia/expressions/accessors/member_accessor.hpp
  production/inc/gaia/expressions/accessors/member_accessor.inc
  production/inc/gaia/expressions/accessors/value_accessor.hpp
  production/inc/gaia/expressions/accessors/value_accessor.inc
  production/inc/gaia/expressions/accessors/vector_accessor.hpp
  production/inc/gaia/expressions/accessors/vector_accessor.inc
  production/inc/gaia/expressions/binary_expression.inc
  production/inc/gaia/expressions/builders/README.md
  production/inc/gaia/expressions/builders/expression_bind.hpp
  production/inc/gaia/expressions/builders/expression_builder.hpp
  production/inc/gaia/expressions/builders/expression_int_type.hpp
  production/inc/gaia/expressions/builders/expression_string.hpp
  production/inc/gaia/expressions/expression_ast.hpp
  production/inc/gaia/expressions/expression_base.hpp
  production/inc/gaia/expressions/expression_builder.hpp
  production/inc/gaia/expressions/expression_int_type.hpp
  production/inc/gaia/expressions/expression_string.hpp
  production/inc/gaia/expressions/expression_traits.hpp
  production/inc/gaia/expressions/expressions.hpp
  production/inc/gaia/expressions/internal/README.md
  production/inc/gaia/expressions/internal/binary_expression.hpp
  production/inc/gaia/expressions/internal/binary_expression.inc
  production/inc/gaia/expressions/internal/transform_expression.hpp
  production/inc/gaia/expressions/internal/transform_expression.inc
  production/inc/gaia/expressions/internal/unary_expression.hpp
  production/inc/gaia/expressions/internal/unary_expression.inc
  production/inc/gaia/expressions/operators.hpp
  production/inc/gaia/expressions/unary_expression.inc
  production/inc/gaia/expressions/value_accessor.inc
  production/inc/gaia_internal/catalog/catalog_facade.hpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses/|production/tools/gaia_translate/tests/test_translation.ruleset)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py|production/db/core/tests/test_db.py|production/db/core/src/dump_se.py))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/sdk|production/examples|production/tests|production/coverage|production/sql/tests/test_fdw.sh))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples|production/sql|production/db|production/cmake|production/tools)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: (any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp|production/tests/workloads|production/inc/gaia/expressions|production/catalog/src/gaia_generate.cpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))) or (any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
