Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples

fix_double_empty_lines:
  name: Eliminate multiple empty lines
  entry: dev_tools/github-actions/pre-commit-hooks/fix_double_empty_lines.py
  language: python

python_executable_license_check:
  name: Check Python Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#! /usr/bin/python3
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

python_non_executable_license_check:
  name: Check Python Non-Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

bash_license_check:
  name: Check Bash files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#! /usr/bin/bash
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

cmake_license_check:
  name: Check CMake files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

db_license_check:
  name: Check SQL and DDL files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '---------------------------------------------
  
    -- Copyright (c) Gaia Platform LLC
  
    -- All rights reserved.
  
  ...

cpp_license_check:
  name: Check Example C++ files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '////////////////////////////////////////////////////
  
    // Copyright (c) Gaia Platform LLC
  
    //
  
  ...

bash_license_check_examples:
  name: Check Example Bash files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#! /usr/bin/bash
  
  
    ###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

cmake_license_check_examples:
  name: Check Example CMake files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

Gaiaplat 1961: Adding in developer workflows for manual execution. (#1274)
  .github/workflows/README.md
  .github/workflows/core.yml
  .github/workflows/cores-and-sdks.yml
  .github/workflows/llvm-tests.yml
  .pre-commit-config.yaml
  dev_tools/github-actions/pre-commit-hooks/verify_child_workflows.py
  docs/repository-guidelines.md
Due: fix_double_empty_lines, python_executable_license_check

Add documentation
  production/inc/gaia/optional.hpp
  production/inc/gaia/optional.inc
Due: fix_double_empty_lines, cpp_license_check

test
  .github/workflows/main.yml
Due: fix_double_empty_lines

test
  .github/workflows/core.yml
  .github/workflows/cores-and-sdks.yml
  .github/workflows/llvm-tests.yml
Due: fix_double_empty_lines

moved initialize_rules_tables() into the init() (#1287)
  production/rules/event_manager/src/event_manager.cpp
Due: fix_double_empty_lines, cpp_license_check

Refactor expressions API to simplify implementation of specialized operator.
  production/inc/README.md
  production/inc/gaia/expressions/accessors/README.md
  production/inc/gaia/expressions/accessors/container_accessor.hpp
  production/inc/gaia/expressions/accessors/container_accessor.inc
  production/inc/gaia/expressions/accessors/member_accessor.hpp
  production/inc/gaia/expressions/accessors/member_accessor.inc
  production/inc/gaia/expressions/accessors/value_accessor.hpp
  production/inc/gaia/expressions/accessors/value_accessor.inc
  production/inc/gaia/expressions/binary_expression.inc
  production/inc/gaia/expressions/builders/README.md
  production/inc/gaia/expressions/builders/expression_bind.hpp
  production/inc/gaia/expressions/builders/expression_builder.hpp
  production/inc/gaia/expressions/builders/expression_int_type.hpp
  production/inc/gaia/expressions/builders/expression_string.hpp
  production/inc/gaia/expressions/expression_ast.hpp
  production/inc/gaia/expressions/expression_base.hpp
  production/inc/gaia/expressions/expression_builder.hpp
  production/inc/gaia/expressions/expression_int_type.hpp
  production/inc/gaia/expressions/expression_string.hpp
  production/inc/gaia/expressions/expression_traits.hpp
  production/inc/gaia/expressions/expressions.hpp
  production/inc/gaia/expressions/internal/README.md
  production/inc/gaia/expressions/internal/binary_expression.hpp
  production/inc/gaia/expressions/internal/binary_expression.inc
  production/inc/gaia/expressions/internal/transform_expression.hpp
  production/inc/gaia/expressions/internal/transform_expression.inc
  production/inc/gaia/expressions/internal/unary_expression.hpp
  production/inc/gaia/expressions/internal/unary_expression.inc
  production/inc/gaia/expressions/operators.hpp
  production/inc/gaia/expressions/unary_expression.inc
  production/inc/gaia/expressions/value_accessor.inc
Due: fix_double_empty_lines

test
  .github/workflows/llvm-tests.yml
  .github/workflows/main.yml
  production/coverage/coverage.sh
Due: fix_double_empty_lines

Expressions: XOR implementation
  production/direct_access/tests/test_expressions.cpp
  production/inc/gaia/expressions/builders/expression_builder.hpp
  production/inc/gaia/expressions/operators.hpp
Due: fix_double_empty_lines, cpp_license_check

Revert "Expressions: XOR implementation"
  production/direct_access/tests/test_expressions.cpp
  production/inc/gaia/expressions/builders/expression_builder.hpp
  production/inc/gaia/expressions/operators.hpp
Due: fix_double_empty_lines, cpp_license_check

Expressions: Implement arithmetic operators and introduce no dac sandbox
  production/direct_access/CMakeLists.txt
  production/direct_access/tests/test_expressions_no_dac.cpp
  production/inc/gaia/expressions/builders/expression_builder.hpp
  production/inc/gaia/expressions/operators.hpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Move rules catalog table creation to ddl executor
  production/catalog/CMakeLists.txt
  production/catalog/gaiac/src/main.cpp
  production/catalog/src/ddl_executor.cpp
  production/catalog/tests/test_rule_tables.cpp
  production/db/core/src/db_server.cpp
  production/db/core/src/index_builder.cpp
  production/inc/gaia_internal/catalog/ddl_executor.hpp
  production/inc/gaia_internal/catalog/gaia_catalog.h
  production/inc/gaia_internal/common/system_table_types.hpp
  production/inc/gaia_internal/db/catalog_core.hpp
  production/rules/event_manager/CMakeLists.txt
  production/rules/event_manager/inc/event_manager.hpp
  production/rules/event_manager/src/event_manager.cpp
  production/rules/event_manager/src/rule_catalog.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Expressions: Array accessor.
  production/catalog/src/catalog_facade.cpp
  production/direct_access/tests/test_expressions.cpp
  production/inc/gaia/expressions/accessors/container_accessor.hpp
  production/inc/gaia/expressions/accessors/vector_accessor.hpp
  production/inc/gaia/expressions/accessors/vector_accessor.inc
  production/inc/gaia/expressions/expression_ast.hpp
  production/inc/gaia_internal/catalog/catalog_facade.hpp
Due: fix_double_empty_lines, cpp_license_check

Address CR comments
  production/catalog/src/ddl_executor.cpp
  production/inc/gaia_internal/common/system_table_types.hpp
  production/inc/gaia_internal/db/catalog_core.hpp
Due: fix_double_empty_lines, cpp_license_check

Fixed Rules VLR example with serial_group
  production/examples/rules_vlr/rules_vlr.ddl
  production/examples/rules_vlr/rules_vlr.ruleset
Due: fix_double_empty_lines, cpp_license_check, db_license_check_eamples

Move rules catalog table creation to ddl executor (#1291)
  production/catalog/CMakeLists.txt
  production/catalog/gaiac/src/main.cpp
  production/catalog/src/ddl_executor.cpp
  production/catalog/tests/test_rule_tables.cpp
  production/db/core/src/db_server.cpp
  production/db/core/src/index_builder.cpp
  production/inc/gaia_internal/catalog/ddl_executor.hpp
  production/inc/gaia_internal/catalog/gaia_catalog.h
  production/inc/gaia_internal/common/system_table_types.hpp
  production/inc/gaia_internal/db/catalog_core.hpp
  production/rules/event_manager/CMakeLists.txt
  production/rules/event_manager/inc/event_manager.hpp
  production/rules/event_manager/src/event_manager.cpp
  production/rules/event_manager/src/rule_catalog.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Add tests for implicit conversions
  production/common/tests/test_int_type.cpp
Due: fix_double_empty_lines, cpp_license_check

Add an explicit bool cast operator to int_type_t
  production/common/src/int_type.cpp
  production/common/tests/test_int_type.cpp
  production/db/core/inc/db_client.inc
  production/db/core/src/db_client.cpp
  production/db/inc/index/base_index.hpp
  production/inc/gaia/int_type.hpp
  production/inc/gaia/rules/rules.hpp
  production/rules/event_manager/tests/test_event_manager.cpp
Due: fix_double_empty_lines, cpp_license_check

Delete operator bool and replace it with is_valid() method
  production/common/src/int_type.cpp
  production/common/tests/test_int_type.cpp
  production/db/core/inc/db_client.inc
  production/db/core/src/db_server.cpp
  production/db/core/src/gaia_ptr.cpp
  production/db/inc/index/base_index.hpp
  production/inc/gaia/int_type.hpp
  production/rules/event_manager/tests/test_event_manager.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix incorrect condition test
  production/db/core/src/gaia_ptr_client.cpp
Due: fix_double_empty_lines, cpp_license_check

Update cchecks to use is_valid()
  production/catalog/gaiac/src/command.cpp
  production/catalog/src/dac_generator.cpp
  production/catalog/src/ddl_executor.cpp
  production/db/core/inc/db_helpers.hpp
  production/db/core/inc/db_internal_types.hpp
  production/db/core/inc/db_server.inc
  production/db/core/inc/txn_metadata.inc
  production/db/core/src/catalog_core.cpp
  production/db/core/src/db_client.cpp
  production/db/core/src/db_server.cpp
  production/db/core/src/gaia_ptr_api.cpp
  production/db/core/src/index_builder.cpp
  production/db/core/src/payload_diff.cpp
  production/db/core/src/record_list.cpp
  production/db/core/src/type_generator.cpp
  production/db/core/src/type_metadata.cpp
  production/db/core/tests/db_test_util.hpp
  production/db/inc/memory_manager/chunk_manager.hpp
  production/db/inc/memory_manager/memory_helpers.inc
  production/db/memory_manager/src/chunk_manager.cpp
  production/db/memory_manager/src/memory_manager.cpp
  production/direct_access/src/dac_base.cpp
  production/inc/gaia/direct_access/dac_iterators.inc
  production/inc/gaia_internal/db/gaia_ptr.inc
  production/sql/src/gaia_fdw.cpp
  production/sql/src/gaia_fdw_adapter.cpp
Due: fix_double_empty_lines, cpp_license_check

Add is_valid() method to int_type_t and disable operator bool() (#1286)
  production/catalog/gaiac/src/command.cpp
  production/catalog/src/dac_generator.cpp
  production/catalog/src/ddl_executor.cpp
  production/common/tests/test_int_type.cpp
  production/db/core/inc/db_client.inc
  production/db/core/inc/db_helpers.hpp
  production/db/core/inc/db_internal_types.hpp
  production/db/core/inc/db_server.inc
  production/db/core/inc/txn_metadata.inc
  production/db/core/src/catalog_core.cpp
  production/db/core/src/db_client.cpp
  production/db/core/src/db_server.cpp
  production/db/core/src/gaia_ptr.cpp
  production/db/core/src/gaia_ptr_api.cpp
  production/db/core/src/gaia_ptr_client.cpp
  production/db/core/src/index_builder.cpp
  production/db/core/src/payload_diff.cpp
  production/db/core/src/record_list.cpp
  production/db/core/src/type_generator.cpp
  production/db/core/src/type_metadata.cpp
  production/db/core/tests/db_test_util.hpp
  production/db/inc/index/base_index.hpp
  production/db/inc/memory_manager/chunk_manager.hpp
  production/db/inc/memory_manager/memory_helpers.inc
  production/db/memory_manager/src/chunk_manager.cpp
  production/db/memory_manager/src/memory_manager.cpp
  production/direct_access/src/dac_base.cpp
  production/inc/gaia/direct_access/dac_iterators.inc
  production/inc/gaia/int_type.hpp
  production/inc/gaia/rules/rules.hpp
  production/inc/gaia_internal/db/gaia_ptr.inc
  production/rules/event_manager/tests/test_event_manager.cpp
  production/sql/src/gaia_fdw.cpp
  production/sql/src/gaia_fdw_adapter.cpp
Due: fix_double_empty_lines, cpp_license_check

Added comments to ruleset
  production/examples/rules_vlr/rules_vlr.ruleset
Due: fix_double_empty_lines, cpp_license_check

Address PR feedback
  production/direct_access/tests/test_optional_dac.cpp
  production/inc/gaia/optional.hpp
  production/schemas/test/optional/optional.ddl
Due: fix_double_empty_lines, db_license_check, cpp_license_check

change int to size_t to eliminate warnings (#1285)
  production/tools/gaia_dump/src/gaia_dump.cpp
  production/tools/gaia_dump/src/main.cpp
Due: fix_double_empty_lines, cpp_license_check

Also disable operator bool() const for int_type_t
  production/db/core/src/gaia_ptr.cpp
  production/inc/gaia/int_type.hpp
Due: fix_double_empty_lines, cpp_license_check

Also disable operator bool() const for int_type_t (#1294)
  production/db/core/src/gaia_ptr.cpp
  production/inc/gaia/int_type.hpp
Due: fix_double_empty_lines, cpp_license_check

Update optional.hpp
  production/inc/gaia/optional.hpp
Due: fix_double_empty_lines, cpp_license_check

adjust the unsigned length correctly
  production/tools/gaia_dump/src/gaia_dump.cpp
Due: fix_double_empty_lines, cpp_license_check

[GAIAPLAT-1968] Add CMake option to prevent the gaia_db_server to be installed as a service
  production/CMakeLists.txt
  production/sdk/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

Address PR feedback
  production/inc/gaia/optional.hpp
Due: fix_double_empty_lines, cpp_license_check

adjust the unsigned length correctly (#1295)
  production/tools/gaia_dump/src/gaia_dump.cpp
Due: fix_double_empty_lines, cpp_license_check

Avoid potential type collision with system tables
  production/catalog/src/ddl_executor.cpp
Due: fix_double_empty_lines, cpp_license_check

test
  .github/workflows/main.yml
  .gitignore
  production/coverage/coverage.sh
  production/coverage/gen_coverage.sh
  production/coverage/summarize.py
Due: fix_double_empty_lines, python_executable_license_check

test
  production/coverage/coverage.sh
  production/coverage/summarize.py
Due: fix_double_empty_lines, python_executable_license_check

test
  .github/workflows/main.yml
  production/coverage/coverage.sh
Due: fix_double_empty_lines

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses/|production/tools/gaia_translate/tests/test_translation.ruleset)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py|production/db/core/tests/test_db.py|production/db/core/src/dump_se.py))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/sdk|production/examples|production/tests|production/coverage|production/sql/tests/test_fdw.sh))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples|production/sql|production/db|production/cmake|production/tools)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: (any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp|production/tests/workloads|production/inc/gaia/expressions|production/catalog/src/gaia_generate.cpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))) or (any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
