Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples, cpp_license_check_examples

fix_double_empty_lines:
  name: Eliminate multiple empty lines
  entry: dev_tools/github-actions/pre-commit-hooks/fix_double_empty_lines.py
  language: python

python_executable_license_check:
  name: Check Python Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#!/usr/bin/env python3
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

python_non_executable_license_check:
  name: Check Python Non-Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

bash_license_check:
  name: Check Bash files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#!/usr/bin/env bash
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

cmake_license_check:
  name: Check CMake files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

db_license_check:
  name: Check SQL and DDL files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '---------------------------------------------
  
    -- Copyright (c) Gaia Platform LLC
  
    -- All rights reserved.
  
  ...

cpp_license_check:
  name: Check C++ files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '/////////////////////////////////////////////
  
    // Copyright (c) Gaia Platform LLC
  
    // All rights reserved.
  
  ...

bash_license_check_examples:
  name: Check Example Bash files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#!/usr/bin/env bash
  
  
    ###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

cmake_license_check_examples:
  name: Check Example CMake files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

exclude internal
  production/docs/doxyfile
Due: fix_double_empty_lines

fix typo in host execute method
  dev_tools/gdev/gdev/host.py
Due: none

fix typo in host execute method (#1394)
  dev_tools/gdev/gdev/host.py
Due: none

Comment fixes
  production/catalog/gaiac/src/main.cpp
  production/db/inc/index/hash_index.hpp
  production/db/inc/index/index.hpp
  production/db/inc/index/index_iterator.hpp
  production/db/inc/index/index_key.hpp
  production/db/inc/query_processor/index_scan.hpp
  production/db/inc/query_processor/index_scan_physical.hpp
  production/db/inc/query_processor/predicate.hpp
  production/db/inc/query_processor/qp_operator.hpp
  production/db/index/src/index.cpp
  production/db/index/src/index_offset_buffer.cpp
  production/db/query_processor/src/scan_generators.cpp
  production/direct_access/src/dac_base.cpp
  production/examples/direct_access/hospital.cpp
  production/tools/gaia_translate/inc/table_navigation.h
  production/tools/gaia_translate/src/main.cpp
Due: fix_double_empty_lines, cpp_license_check, cpp_license_check_examples

Comment fixes (#1392)
  production/catalog/gaiac/src/main.cpp
  production/db/inc/index/hash_index.hpp
  production/db/inc/index/index.hpp
  production/db/inc/index/index_iterator.hpp
  production/db/inc/index/index_key.hpp
  production/db/inc/query_processor/index_scan.hpp
  production/db/inc/query_processor/index_scan_physical.hpp
  production/db/inc/query_processor/predicate.hpp
  production/db/inc/query_processor/qp_operator.hpp
  production/db/index/src/index.cpp
  production/db/index/src/index_offset_buffer.cpp
  production/db/query_processor/src/scan_generators.cpp
  production/direct_access/src/dac_base.cpp
  production/examples/direct_access/hospital.cpp
  production/tools/gaia_translate/inc/table_navigation.h
  production/tools/gaia_translate/src/main.cpp
Due: fix_double_empty_lines, cpp_license_check, cpp_license_check_examples

Streamline build jobs
  .github/workflows/main.yml
Due: fix_double_empty_lines

Remove documentation job
  .github/workflows/main.yml
Due: fix_double_empty_lines

Use our own build runners
  .github/workflows/README.md
  .github/workflows/core.yml
  .github/workflows/cores-and-sdks.yml
  .github/workflows/documentation.yml
  .github/workflows/integration-only.yml
  .github/workflows/llvm-tests.yml
  .github/workflows/main.yml
  .github/workflows/performance-only.yml
  .github/workflows/remove-old-artifacts.yml
Due: fix_double_empty_lines

Fix for GAIAPLAT-1906 (#1348)
  production/schemas/test/prerequisites/prerequisites.ddl
  production/tools/gaia_translate/tests/test_rulesets.ruleset
  third_party/production/TranslationEngineLLVM/clang/lib/Sema/SemaExpr.cpp
Due: fix_double_empty_lines, db_license_check

Don't use sudo in setup job
  .github/actions/setup-job/action.yml
Due: fix_double_empty_lines

remove ssh setup
  .github/actions/setup-job/action.yml
  .github/workflows/core.yml
Due: fix_double_empty_lines

Reinstante ssh but don't pull down sources for each step
  .github/actions/setup-job/action.yml
  .github/workflows/core.yml
Due: fix_double_empty_lines

Shut down the ssh-agent between jobs
  .github/actions/setup-job/action.yml
Due: fix_double_empty_lines

cleanup the ssh-agent
  .github/actions/setup-job/action.yml
Due: fix_double_empty_lines

kill ssh-agent before attempting to create it
  .github/actions/setup-job/action.yml
  .github/workflows/core.yml
Due: fix_double_empty_lines

conditionally kill ssh-agent
  .github/actions/setup-job/action.yml
Due: fix_double_empty_lines

add shellcheck for precommit hooks
  .pre-commit-config.yaml
Due: fix_double_empty_lines

reorder shellcheck dependency
  .pre-commit-config.yaml
Due: fix_double_empty_lines

suppress shellcheck warnings with dynamic paths
  .pre-commit-config.yaml
  production/tests/performance_suites.sh
  production/tests/release_long_no_persistence_suite.sh
  production/tests/release_long_persistence_suite.sh
  production/tests/smoke_suites.sh
  production/tests/smoke_suites_with_persistence.sh
Due: fix_double_empty_lines, bash_license_check

more spellcheck suppression
  production/tests/release_long_no_persistence_suite.sh
Due: fix_double_empty_lines, bash_license_check

Disable shellcheck SC1091 across board
  production/tests/release_long_no_persistence_suites.sh
  production/tests/release_long_persistence_suites.sh
  production/tests/release_suites.sh
Due: fix_double_empty_lines, bash_license_check

revert self-host changes
  .github/actions/setup-job/action.yml
  .github/workflows/README.md
  .github/workflows/core.yml
  .github/workflows/cores-and-sdks.yml
  .github/workflows/documentation.yml
  .github/workflows/integration-only.yml
  .github/workflows/llvm-tests.yml
  .github/workflows/main.yml
  .github/workflows/performance-only.yml
  .github/workflows/remove-old-artifacts.yml
  .pre-commit-config.yaml
  production/tests/performance_suites.sh
  production/tests/release_long_persistence_suite.sh
  production/tests/release_long_persistence_suites.sh
  production/tests/release_suites.sh
  production/tests/smoke_suites.sh
  production/tests/smoke_suites_with_persistence.sh
Due: fix_double_empty_lines, bash_license_check

Revert self-host changes part 2
  .github/workflows/remove-old-artifacts.yml
  production/tests/release_long_no_persistence_suite.sh
  production/tests/release_long_no_persistence_suites.sh
Due: fix_double_empty_lines, bash_license_check

Fix for Gaiaplat 1999: Generate correct code when a field is used as an index for another array field (#1341)
  production/schemas/test/addr_book/addr_book.ddl
  production/tools/gaia_translate/src/main.cpp
  production/tools/gaia_translate/tests/test_array.cpp
  production/tools/gaia_translate/tests/test_array.ruleset
  production/tools/gaia_translate/tests/test_translation.ruleset
  third_party/production/TranslationEngineLLVM/clang/lib/Parse/ParseGaia.cpp
Due: fix_double_empty_lines, db_license_check, cpp_license_check

Trim CI jobs (#1396)
  .github/workflows/main.yml
Due: fix_double_empty_lines

Add workflow for downloading python tools
  .github/workflows/build-tool-cache.yml
Due: fix_double_empty_lines

Ignore build-tool-cache.yml when doing workflow consistency check
  .pre-commit-config.yaml
Due: fix_double_empty_lines

Add workflow for downloading python tools (#1397)
  .github/workflows/build-tool-cache.yml
  .pre-commit-config.yaml
Due: fix_double_empty_lines

Run docker container as local user
  dev_tools/github-actions/post_build_action.sh
Due: fix_double_empty_lines, bash_license_check

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py))|(^.+\_\_init\_\_\.py)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/docker_dev|production/examples))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cpp_license_check_examples: any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
