Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples

fix_double_empty_lines:
  name: Eliminate multiple empty lines
  entry: dev_tools/github-actions/pre-commit-hooks/fix_double_empty_lines.py
  language: python

python_executable_license_check:
  name: Check Python Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#! /usr/bin/python3
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

python_non_executable_license_check:
  name: Check Python Non-Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

bash_license_check:
  name: Check Bash files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#! /usr/bin/bash
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

cmake_license_check:
  name: Check CMake files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

db_license_check:
  name: Check SQL and DDL files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '---------------------------------------------
  
    -- Copyright (c) Gaia Platform LLC
  
    -- All rights reserved.
  
  ...

cpp_license_check:
  name: Check Example C++ files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '////////////////////////////////////////////////////
  
    // Copyright (c) Gaia Platform LLC
  
    //
  
  ...

bash_license_check_examples:
  name: Check Example Bash files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#! /usr/bin/bash
  
  
    ###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

cmake_license_check_examples:
  name: Check Example CMake files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

GAIAPLAT-1798 - Adding in documentation sources.
  production/coverage/gen_coverage.sh
Due: fix_double_empty_lines

test
  .github/actions/action1/action.yml
  .github/workflows/main.yml
Due: fix_double_empty_lines

test
  .github/actions/action1/action.yml
Due: fix_double_empty_lines

GAIAPLAT-1963 - Small change to 'fix_double_empty_lines.py' to bypass binary files.
  dev_tools/github-actions/pre-commit-hooks/fix_double_empty_lines.py
Due: python_executable_license_check

test
  .github/workflows/main.yml
Due: fix_double_empty_lines

changed repo path to relative path
  production/catalog/README.md
Due: fix_double_empty_lines

GAIAPLAT-1963 - Small change to 'fix_double_empty_lines.py' to bypass binary files. (#1277)
  dev_tools/github-actions/pre-commit-hooks/fix_double_empty_lines.py
Due: python_executable_license_check

test
  .github/actions/setup-job/action.yml
  .github/workflows/main.yml
Due: fix_double_empty_lines

Forbid operations on system db
  production/catalog/src/catalog.cpp
  production/catalog/src/ddl_execution.cpp
  production/catalog/tests/test_ddl_execution.cpp
  production/inc/gaia_internal/catalog/catalog.hpp
Due: fix_double_empty_lines, cpp_license_check

use the ddl_executor_t API in initialize_rule_tables()
  production/rules/event_manager/src/rule_catalog.cpp
Due: fix_double_empty_lines, cpp_license_check

Update unit test; remove the check in create_table
  production/catalog/src/catalog.cpp
  production/catalog/tests/test_ddl_execution.cpp
Due: fix_double_empty_lines, cpp_license_check

Forbid system db operations (#1278)
  production/catalog/src/catalog.cpp
  production/catalog/src/ddl_execution.cpp
  production/catalog/tests/test_ddl_execution.cpp
  production/inc/gaia_internal/catalog/catalog.hpp
Due: fix_double_empty_lines, cpp_license_check

removed incorrect comment
  production/rules/event_manager/src/rule_catalog.cpp
Due: fix_double_empty_lines, cpp_license_check

test
  .github/workflows/main.yml
  production/coverage/coverage.sh
  production/coverage/gen_coverage.sh
Due: fix_double_empty_lines

First commit
  production/catalog/src/catalog_facade.cpp
  production/catalog/src/dac_generator.cpp
  production/direct_access/CMakeLists.txt
  production/direct_access/tests/test_optional_dac.cpp
  production/schemas/test/CMakeLists.txt
  production/schemas/test/optional/optional.ddl
Due: fix_double_empty_lines, cmake_license_check, db_license_check, cpp_license_check

test
  production/coverage/coverage.sh
Due: fix_double_empty_lines

test
  .github/workflows/main.yml
  dev_tools/gdev/gdev/dependency.py
  production/coverage/coverage.sh
  production/coverage/gen_coverage.sh
  production/coverage/summarize.py
Due: fix_double_empty_lines, python_executable_license_check

test
  .github/workflows/main.yml
  production/coverage/coverage.sh
Due: fix_double_empty_lines

test
  .github/workflows/main.yml
  production/coverage/gen_coverage.sh
Due: fix_double_empty_lines

Address PR comments Fix several minor issues
  production/tools/gaia_translate/src/table_navigation.cpp
  production/tools/gaia_translate/tests/test_translation.ruleset
  third_party/production/TranslationEngineLLVM/clang/include/clang/Basic/DiagnosticSemaKinds.td
  third_party/production/TranslationEngineLLVM/clang/include/clang/Sema/Sema.h
  third_party/production/TranslationEngineLLVM/clang/lib/Parse/ParseDecl.cpp
  third_party/production/TranslationEngineLLVM/clang/lib/Parse/ParseGaia.cpp
  third_party/production/TranslationEngineLLVM/clang/lib/Sema/SemaExpr.cpp
  third_party/production/TranslationEngineLLVM/clang/lib/Sema/SemaGaia.cpp
  third_party/production/TranslationEngineLLVM/clang/test/Parser/gaia_array.cpp
Due: fix_double_empty_lines, cpp_license_check

Add scalar array support for declarative language (LLVM only) (#1244)
  production/tools/gaia_translate/src/table_navigation.cpp
  production/tools/gaia_translate/tests/test_translation.ruleset
  third_party/production/TranslationEngineLLVM/clang/include/clang/Basic/DiagnosticSemaKinds.td
  third_party/production/TranslationEngineLLVM/clang/include/clang/Catalog/GaiaCatalog.h
  third_party/production/TranslationEngineLLVM/clang/include/clang/Sema/Sema.h
  third_party/production/TranslationEngineLLVM/clang/lib/Catalog/GaiaCatalog.cpp
  third_party/production/TranslationEngineLLVM/clang/lib/Parse/ParseDecl.cpp
  third_party/production/TranslationEngineLLVM/clang/lib/Parse/ParseExpr.cpp
  third_party/production/TranslationEngineLLVM/clang/lib/Parse/ParseGaia.cpp
  third_party/production/TranslationEngineLLVM/clang/lib/Sema/SemaChecking.cpp
  third_party/production/TranslationEngineLLVM/clang/lib/Sema/SemaExpr.cpp
  third_party/production/TranslationEngineLLVM/clang/lib/Sema/SemaGaia.cpp
  third_party/production/TranslationEngineLLVM/clang/lib/Sema/SemaOverload.cpp
  third_party/production/TranslationEngineLLVM/clang/test/Parser/barn_storage.ddl
  third_party/production/TranslationEngineLLVM/clang/test/Parser/gaia_array.cpp
Due: fix_double_empty_lines, cpp_license_check

First iteration of code generation to support array fields
  production/inc/gaia/direct_access/dac_array.hpp
  production/tools/gaia_translate/CMakeLists.txt
  production/tools/gaia_translate/src/main.cpp
  production/tools/gaia_translate/tests/test_array.ruleset
Due: fix_double_empty_lines, cpp_license_check

[GAIAPLAT-1925] Expression functor fix.
  production/tools/CMakeLists.txt
  production/tools/gaia_translate/CMakeLists.txt
  production/tools/suppini/CMakeLists.txt
  production/tools/suppini/src/main.cpp
  production/tools/suppini/tests/test.cpp
  production/tools/suppini/tests/test_out.cpp
  production/tools/suppini/tests/test_suppini.cpp
  third_party/production/TranslationEngineLLVM/clang/include/clang/Basic/Attr.td
  third_party/production/TranslationEngineLLVM/clang/lib/Sema/SemaDeclAttr.cpp
Due: fix_double_empty_lines, cpp_license_check

GAIAPLAT-1961 - fixed comments per SR
  .github/workflows/README.md
  .github/workflows/cores-and-sdks.yml
  .github/workflows/main.yml
Due: fix_double_empty_lines

Create and test "rules catalog" tables (#1267)
  production/catalog/CMakeLists.txt
  production/catalog/README.md
  production/catalog/gaiac/src/main.cpp
  production/catalog/notes/catalog.plantuml
  production/catalog/notes/catalog.png
  production/catalog/src/catalog.cpp
  production/catalog/src/ddl_executor.cpp
  production/catalog/src/gaia_catalog.cpp
  production/catalog/tests/test_rule_tables.cpp
  production/inc/gaia_internal/catalog/catalog.hpp
  production/inc/gaia_internal/catalog/catalog_generated.h
  production/inc/gaia_internal/catalog/gaia_catalog.h
  production/inc/gaia_internal/common/system_table_types.hpp
  production/rules/event_manager/CMakeLists.txt
  production/rules/event_manager/inc/event_manager.hpp
  production/rules/event_manager/src/event_manager.cpp
  production/rules/event_manager/src/rule_catalog.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

GAIAPLAT-1798 - Adding missing permissions line back in. (#1275)
  .github/workflows/main.yml
  dev_tools/gdev/gdev/dependency.py
  production/coverage/coverage.sh
  production/coverage/gen_coverage.sh
  production/coverage/summarize.py
Due: fix_double_empty_lines, python_executable_license_check

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses/|production/tools/gaia_translate/tests/test_translation.ruleset)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py|production/db/core/tests/test_db.py|production/db/core/src/dump_se.py))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/sdk|production/examples|production/tests|production/coverage|production/sql/tests/test_fdw.sh))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples|production/sql|production/db|production/cmake|production/tools)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: (any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp|production/tests/workloads|production/inc/gaia/expressions|production/catalog/src/gaia_generate.cpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))) or (any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
