Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples, cpp_license_check_examples

fix_double_empty_lines:
  name: Eliminate multiple empty lines
  entry: dev_tools/github-actions/pre-commit-hooks/fix_double_empty_lines.py
  language: python

python_executable_license_check:
  name: Check Python Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#!/usr/bin/env python3
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

python_non_executable_license_check:
  name: Check Python Non-Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

bash_license_check:
  name: Check Bash files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#!/usr/bin/env bash
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

cmake_license_check:
  name: Check CMake files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

db_license_check:
  name: Check SQL and DDL files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '---------------------------------------------
  
    -- Copyright (c) Gaia Platform LLC
  
    -- All rights reserved.
  
  ...

cpp_license_check:
  name: Check C++ files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '/////////////////////////////////////////////
  
    // Copyright (c) Gaia Platform LLC
  
    // All rights reserved.
  
  ...

bash_license_check_examples:
  name: Check Example Bash files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#!/usr/bin/env bash
  
  
    ###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

cmake_license_check_examples:
  name: Check Example CMake files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

Use FAIL/SUCCEED macros in unit test
  production/common/tests/test_assert.cpp
Due: fix_double_empty_lines, cpp_license_check

Update tests
  production/db/core/tests/test_gaia_ptr_api.cpp
  production/direct_access/tests/test_direct_access.cpp
  production/direct_access/tests/test_one_to_one.cpp
Due: fix_double_empty_lines, cpp_license_check

Apply review feedback
  production/direct_access/src/dac_base.cpp
  production/direct_access/tests/test_direct_access.cpp
  production/direct_access/tests/test_one_to_one.cpp
Due: fix_double_empty_lines, cpp_license_check

Remove exceptions thrown from shared memory accessors (#1492)
  production/db/core/inc/db_client.hpp
  production/db/core/inc/db_client.inc
  production/db/core/inc/db_helpers.hpp
  production/db/core/src/db_shared_data_client.cpp
  production/db/core/src/gaia_ptr_api.cpp
  production/db/core/src/gaia_ptr_client.cpp
  production/db/core/tests/test_db_client.cpp
  production/db/core/tests/test_gaia_ptr_api.cpp
  production/direct_access/src/dac_base.cpp
  production/direct_access/tests/test_direct_access.cpp
  production/direct_access/tests/test_one_to_one.cpp
Due: fix_double_empty_lines, cpp_license_check

Make hash calculation more resilient to definition reordering
  production/catalog/src/hash_generator.cpp
  production/catalog/tests/test_ddl_execution.cpp
Due: fix_double_empty_lines, cpp_license_check

fix clang-tidy issues
  production/catalog/src/hash_generator.cpp
  production/common/tests/test_hash.cpp
Due: fix_double_empty_lines, cpp_license_check

Update assert performance test
  production/common/tests/test_assert.cpp
Due: fix_double_empty_lines, cpp_license_check

Revert numbers initialization
  production/common/tests/test_assert.cpp
Due: fix_double_empty_lines, cpp_license_check

Add test for inline asserts
  production/common/tests/test_assert.cpp
Due: fix_double_empty_lines, cpp_license_check

Update assert performance test (#1494)
  production/common/tests/test_assert.cpp
Due: fix_double_empty_lines, cpp_license_check

Add functionality to gaia_db_extract utility (#1483)
  production/sdk/debian/links.in
  production/tools/gaia_db_extract/CMakeLists.txt
  production/tools/gaia_db_extract/inc/gaia_db_extract.hpp
  production/tools/gaia_db_extract/inc/table_iterator.hpp
  production/tools/gaia_db_extract/src/gaia_db_extract.cpp
  production/tools/gaia_db_extract/src/main.cpp
  production/tools/gaia_db_extract/src/table_iterator.cpp
  production/tools/gaia_db_extract/tests/test_gaia_db_extract.cpp
  production/tools/gaia_db_extract/tests/test_row_extract.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Additional assert perf test updates
  production/common/tests/test_assert.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix a typo
  production/catalog/src/ddl_execution.cpp
Due: fix_double_empty_lines, cpp_license_check

Additional assert perf test updates (#1495)
  production/common/tests/test_assert.cpp
Due: fix_double_empty_lines, cpp_license_check

Restore memory_manager namespace
  production/db/core/src/chunk_manager.cpp
  production/db/core/src/db_client.cpp
  production/db/core/src/db_server.cpp
  production/db/core/src/db_shared_data_client.cpp
  production/db/core/src/db_shared_data_server.cpp
  production/db/core/src/memory_manager.cpp
  production/db/inc/core/chunk_manager.hpp
  production/db/inc/core/db_client.hpp
  production/db/inc/core/db_helpers.hpp
  production/db/inc/core/db_server.hpp
  production/db/inc/core/db_shared_data.hpp
  production/db/inc/core/memory_manager.hpp
Due: fix_double_empty_lines, cpp_license_check

Move header file
  production/db/inc/core/db_caches.hpp
Due: fix_double_empty_lines, cpp_license_check

Fix typo that broke debug build
  production/inc/gaia_internal/common/bitmap.inc
Due: fix_double_empty_lines, cpp_license_check

Fix typo that broke debug build (#1496)
  production/inc/gaia_internal/common/bitmap.inc
Due: fix_double_empty_lines, cpp_license_check

Inline shared memory accessors
  production/catalog/src/ddl_executor.cpp
  production/db/core/CMakeLists.txt
  production/db/core/src/db_client_api.cpp
  production/db/core/src/db_server.cpp
  production/db/core/src/db_server_exec.cpp
  production/db/core/src/gaia_ptr_client.cpp
  production/db/core/src/index_builder.cpp
  production/db/core/src/persistent_store_manager.cpp
  production/db/inc/core/db_client.hpp
  production/db/inc/core/db_client.inc
  production/db/inc/core/db_helpers.hpp
  production/db/inc/core/db_server.hpp
  production/db/inc/core/db_server.inc
  production/db/inc/core/db_shared_data.hpp
  production/db/inc/core/db_shared_data_client.inc
  production/db/inc/core/db_shared_data_server.inc
  production/db/inc/core/persistent_store_manager.hpp
  production/inc/gaia_internal/common/bitmap.inc
  production/inc/gaia_internal/db/db.hpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Factor out chunk allocation slow path from allocate_object()
  production/db/inc/core/db_helpers.hpp
Due: fix_double_empty_lines, cpp_license_check

Fix typo
  production/catalog/src/ddl_executor.cpp
Due: fix_double_empty_lines, cpp_license_check

Delete vscode extension (#1497)
  dev_tools/intellisense-vscode-ext/.gitignore
  dev_tools/intellisense-vscode-ext/.vscode/launch.json
  dev_tools/intellisense-vscode-ext/.vscode/settings.json
  dev_tools/intellisense-vscode-ext/.vscode/tasks.json
  dev_tools/intellisense-vscode-ext/client/package-lock.json
  dev_tools/intellisense-vscode-ext/client/package.json
  dev_tools/intellisense-vscode-ext/client/src/extension.ts
  dev_tools/intellisense-vscode-ext/client/src/hover_info.js
  dev_tools/intellisense-vscode-ext/client/tsconfig.json
  dev_tools/intellisense-vscode-ext/language-configurations/ddl-language-configuration.json
  dev_tools/intellisense-vscode-ext/language-configurations/ruleset-language-configuration.json
  dev_tools/intellisense-vscode-ext/package-lock.json
  dev_tools/intellisense-vscode-ext/package.json
  dev_tools/intellisense-vscode-ext/snippets/ddl.json
  dev_tools/intellisense-vscode-ext/snippets/ruleset.json
  dev_tools/intellisense-vscode-ext/syntaxes/ddl.tmLanguage.json
  dev_tools/intellisense-vscode-ext/syntaxes/ruleset.tmLanguage.json
  dev_tools/intellisense-vscode-ext/tsconfig.json
Due: fix_double_empty_lines

Add missing file
  production/db/inc/core/db_shared_data_interface.inc
Due: fix_double_empty_lines, cpp_license_check

Inline shared memory accessors (#1498)
  production/catalog/src/ddl_executor.cpp
  production/db/core/CMakeLists.txt
  production/db/core/src/db_client_api.cpp
  production/db/core/src/db_server.cpp
  production/db/core/src/db_server_exec.cpp
  production/db/core/src/gaia_ptr_client.cpp
  production/db/core/src/index_builder.cpp
  production/db/core/src/persistent_store_manager.cpp
  production/db/inc/core/db_client.hpp
  production/db/inc/core/db_client.inc
  production/db/inc/core/db_helpers.hpp
  production/db/inc/core/db_server.hpp
  production/db/inc/core/db_server.inc
  production/db/inc/core/db_shared_data.hpp
  production/db/inc/core/db_shared_data_client.inc
  production/db/inc/core/db_shared_data_interface.inc
  production/db/inc/core/db_shared_data_server.inc
  production/db/inc/core/persistent_store_manager.hpp
  production/inc/gaia_internal/db/db.hpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Address PR feedback
  production/benchmarks/CMakeLists.txt
  production/benchmarks/inc/benchmark_test_base.hpp
  production/benchmarks/inc/test_perf.hpp
  production/benchmarks/src/benchmark_test_base.cpp
  production/benchmarks/src/db_server_cmd.cpp
  production/benchmarks/tests/bench_read_perf_basic.cpp
  production/cmake/gaia_internal.cmake
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Numbers
  production/benchmarks/inc/test_perf.hpp
Due: fix_double_empty_lines, cpp_license_check

Prepare for 0.5.0 release
  production/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

Address PR comments
  production/catalog/src/hash_generator.cpp
Due: fix_double_empty_lines, cpp_license_check

Prepare for 0.5.0 release (#1499)
  production/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

Fix build break
  production/benchmarks/CMakeLists.txt
  production/cmake/gaia_internal.cmake
Due: fix_double_empty_lines, cmake_license_check

Add comment
  production/benchmarks/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

Make objects stored in TLS have trivial constructors and destructors
  production/db/inc/core/db_client.hpp
  production/db/inc/core/db_server.hpp
  production/db/inc/core/mapped_data.hpp
  production/db/inc/core/mapped_data.inc
Due: fix_double_empty_lines, cpp_license_check

Add comments on TLS attributes
  production/db/inc/core/db_client.hpp
  production/db/inc/core/db_server.hpp
Due: fix_double_empty_lines, cpp_license_check

Ctest no longer run and kill gaia_db_server
  production/CMakeLists.txt
  production/db/core/CMakeLists.txt
  production/java/CMakeLists.txt
  production/sdk/CMakeLists.txt
  production/sdk/tests/test_sdk.cpp
  production/sdk/tests/test_sdk_no_init_rules.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Minor nits and bits
  production/sdk/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

Workaround
  production/benchmarks/inc/benchmark_test_base.hpp
Due: fix_double_empty_lines, cpp_license_check

Remove close_internal() method and add comments on manual resource management
  production/db/inc/core/mapped_data.hpp
  production/db/inc/core/mapped_data.inc
Due: fix_double_empty_lines, cpp_license_check

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py))|(^.+\_\_init\_\_\.py)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/docker_dev|production/examples))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cpp_license_check_examples: any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
