Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples

fix_double_empty_lines:
  name: Eliminate multiple empty lines
  entry: dev_tools/github-actions/pre-commit-hooks/fix_double_empty_lines.py
  language: python

python_executable_license_check:
  name: Check Python Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#! /usr/bin/python3
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

python_non_executable_license_check:
  name: Check Python Non-Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

bash_license_check:
  name: Check Bash files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#! /usr/bin/bash
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

cmake_license_check:
  name: Check CMake files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

db_license_check:
  name: Check SQL and DDL files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '---------------------------------------------
  
    -- Copyright (c) Gaia Platform LLC
  
    -- All rights reserved.
  
  ...

cpp_license_check:
  name: Check Example C++ files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '////////////////////////////////////////////////////
  
    // Copyright (c) Gaia Platform LLC
  
    //
  
  ...

bash_license_check_examples:
  name: Check Example Bash files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#! /usr/bin/bash
  
  
    ###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

cmake_license_check_examples:
  name: Check Example CMake files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

https://gaiaplatform.atlassian.net/browse/GAIAPLAT-1936 - Ensuring that examples have consistent MIT license prefix.
  .pre-commit-config.yaml
  production/examples/default/CMakeLists.txt
  production/examples/default/hello.cpp
  production/examples/default/hello.ddl
  production/examples/default/hello.ruleset
  production/examples/direct_access/CMakeLists.txt
  production/examples/direct_access/hospital.cpp
  production/examples/direct_access/hospital.ddl
  production/examples/direct_access_multithread/CMakeLists.txt
  production/examples/direct_access_multithread/counter.cpp
  production/examples/direct_access_multithread/counter.ddl
  production/examples/hello/CMakeLists.txt
  production/examples/hello/build.sh
  production/examples/hello/hello.cpp
  production/examples/hello/hello.ddl
  production/examples/hello/hello.ruleset
  production/examples/hello/run.sh
  production/examples/hello/setup.sh
  production/examples/hello/setup.sql
  production/examples/incubator/CMakeLists.txt
  production/examples/incubator/CMakeLists_debug.txt
  production/examples/incubator/incubator.cpp
  production/examples/incubator/incubator.ddl
  production/examples/incubator/incubator.ruleset
Due: fix_double_empty_lines, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples

https://gaiaplatform.atlassian.net/browse/GAIAPLAT-1936 : Fixing small ommission.
  .pre-commit-config.yaml
Due: fix_double_empty_lines

https://gaiaplatform.atlassian.net/browse/GAIAPLAT-1931 : Fixing file prefix.
  .pre-commit-config.yaml
  dev_tools/sdk/get-sdk-url.sh
  dev_tools/sdk/publish-sdk-to-s3.sh
  dev_tools/sdk/test/build_sdk_samples.sh
Due: fix_double_empty_lines

https://gaiaplatform.atlassian.net/browse/GAIAPLAT-1942 : Fixing file prefix.
  .pre-commit-config.yaml
  production/tests/workloads/mink/properties.sh
  production/tests/workloads/palletbox/palletbox_constants.hpp
  production/tests/workloads/palletbox/properties.sh
  production/tests/workloads/pingpong/properties.sh
  production/tests/workloads/template/properties.sh
Due: fix_double_empty_lines

https://gaiaplatform.atlassian.net/browse/GAIAPLAT-1939 : Changing file prefix for production/cmake and production/coverage
  .pre-commit-config.yaml
  production/cmake/CMakeGraphVizOptions.cmake
  production/cmake/gaia.cmake
  production/coverage/coverage.sh
  production/coverage/gen_coverage.sh
  production/coverage/llvm-gcov.sh
Due: fix_double_empty_lines

Rename private set_record() method to set()
  production/catalog/src/dac_generator.cpp
  production/direct_access/src/dac_base.cpp
  production/inc/gaia/direct_access/dac_base.hpp
Due: fix_double_empty_lines, cpp_license_check

Rename private set_record() method to set() (#1254)
  production/catalog/src/dac_generator.cpp
  production/direct_access/src/dac_base.cpp
  production/inc/gaia/direct_access/dac_base.hpp
Due: fix_double_empty_lines, cpp_license_check

Fix non-standard file headers
  .pre-commit-config.yaml
  production/catalog/src/gaia_generate.cpp
  production/db/core/src/dump_se.py
  production/db/core/tests/test_db.py
  production/db/query_processor/CMakeLists.txt
  production/examples/default/CMakeLists.txt
  production/examples/default/hello.cpp
  production/examples/default/hello.ddl
  production/examples/default/hello.ruleset
  production/examples/direct_access/CMakeLists.txt
  production/examples/direct_access/hospital.cpp
  production/examples/direct_access/hospital.ddl
  production/examples/direct_access_multithread/CMakeLists.txt
  production/examples/direct_access_multithread/counter.cpp
  production/examples/direct_access_multithread/counter.ddl
  production/examples/hello/CMakeLists.txt
  production/examples/hello/build.sh
  production/examples/hello/hello.cpp
  production/examples/hello/hello.ddl
  production/examples/hello/hello.ruleset
  production/examples/hello/run.sh
  production/examples/hello/setup.sh
  production/examples/hello/setup.sql
  production/examples/incubator/CMakeLists.txt
  production/examples/incubator/CMakeLists_debug.txt
  production/examples/incubator/incubator.cpp
  production/examples/incubator/incubator.ddl
  production/examples/incubator/incubator.ruleset
  production/inc/gaia/expressions/container_accessor.inc
  production/inc/gaia/expressions/value_accessor.inc
  production/sql/CMakeLists.txt
  production/sql/src/CMakeLists.txt
  production/sql/tests/CMakeLists.txt
  production/sql/tests/test_fdw.sh
Due: fix_double_empty_lines, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples

Fix pre-commit yaml check
  .pre-commit-config.yaml
Due: fix_double_empty_lines

Remove year removal from headers
  production/examples/default/CMakeLists.txt
  production/examples/default/hello.cpp
  production/examples/default/hello.ddl
  production/examples/default/hello.ruleset
  production/examples/direct_access/CMakeLists.txt
  production/examples/direct_access/hospital.cpp
  production/examples/direct_access/hospital.ddl
  production/examples/direct_access_multithread/CMakeLists.txt
  production/examples/direct_access_multithread/counter.cpp
  production/examples/direct_access_multithread/counter.ddl
  production/examples/hello/CMakeLists.txt
  production/examples/hello/build.sh
  production/examples/hello/hello.cpp
  production/examples/hello/hello.ddl
  production/examples/hello/hello.ruleset
  production/examples/hello/run.sh
  production/examples/hello/setup.sh
  production/examples/hello/setup.sql
  production/examples/incubator/CMakeLists.txt
  production/examples/incubator/CMakeLists_debug.txt
  production/examples/incubator/incubator.cpp
  production/examples/incubator/incubator.ddl
  production/examples/incubator/incubator.ruleset
Due: fix_double_empty_lines, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples

Fix non-standard file headers (#1256)
  .pre-commit-config.yaml
  production/catalog/src/gaia_generate.cpp
  production/db/core/src/dump_se.py
  production/db/core/tests/test_db.py
  production/db/query_processor/CMakeLists.txt
  production/examples/hello/build.sh
  production/examples/hello/run.sh
  production/examples/hello/setup.sh
  production/inc/gaia/expressions/container_accessor.inc
  production/inc/gaia/expressions/value_accessor.inc
  production/sql/CMakeLists.txt
  production/sql/src/CMakeLists.txt
  production/sql/tests/CMakeLists.txt
  production/sql/tests/test_fdw.sh
Due: fix_double_empty_lines, bash_license_check_examples

GAIAPLAT-1936 - Ensuring that examples have consistent MIT license prefix. (#1257)
  .pre-commit-config.yaml
  production/examples/default/CMakeLists.txt
  production/examples/default/hello.cpp
  production/examples/default/hello.ddl
  production/examples/default/hello.ruleset
  production/examples/direct_access/CMakeLists.txt
  production/examples/direct_access/hospital.cpp
  production/examples/direct_access/hospital.ddl
  production/examples/direct_access_multithread/CMakeLists.txt
  production/examples/direct_access_multithread/counter.cpp
  production/examples/direct_access_multithread/counter.ddl
  production/examples/hello/CMakeLists.txt
  production/examples/hello/build.sh
  production/examples/hello/hello.cpp
  production/examples/hello/hello.ddl
  production/examples/hello/hello.ruleset
  production/examples/hello/run.sh
  production/examples/hello/setup.sh
  production/examples/hello/setup.sql
  production/examples/incubator/CMakeLists.txt
  production/examples/incubator/CMakeLists_debug.txt
  production/examples/incubator/incubator.cpp
  production/examples/incubator/incubator.ddl
  production/examples/incubator/incubator.ruleset
Due: fix_double_empty_lines, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples

https://gaiaplatform.atlassian.net/browse/GAIAPLAT-1931 : Fixing file prefix. (#1258)
  .pre-commit-config.yaml
  dev_tools/sdk/get-sdk-url.sh
  dev_tools/sdk/publish-sdk-to-s3.sh
  dev_tools/sdk/test/build_sdk_samples.sh
Due: fix_double_empty_lines

Move gaia_field 'hash' field after 'optional'
  production/catalog/src/ddl_executor.cpp
  production/catalog/src/gaia_catalog.cpp
  production/inc/gaia_internal/catalog/catalog_generated.h
  production/inc/gaia_internal/catalog/gaia_catalog.h
Due: fix_double_empty_lines, cpp_license_check

https://gaiaplatform.atlassian.net/browse/GAIAPLAT-1942 : Fixing file prefix. (#1259)
  .pre-commit-config.yaml
  production/tests/workloads/mink/properties.sh
  production/tests/workloads/palletbox/palletbox_constants.hpp
  production/tests/workloads/palletbox/properties.sh
  production/tests/workloads/pingpong/properties.sh
  production/tests/workloads/template/properties.sh
Due: fix_double_empty_lines

https://gaiaplatform.atlassian.net/browse/GAIAPLAT-1939 : Fixed up small typo.
  .pre-commit-config.yaml
Due: fix_double_empty_lines

GAIAPLAT-1939 : Changing file prefix for production/cmake and production/coverage (#1260)
  .pre-commit-config.yaml
  production/cmake/CMakeGraphVizOptions.cmake
  production/cmake/gaia.cmake
  production/coverage/coverage.sh
  production/coverage/gen_coverage.sh
  production/coverage/llvm-gcov.sh
Due: fix_double_empty_lines

Move gaia_field 'hash' field after 'optional' (#1255)
  production/catalog/src/ddl_executor.cpp
  production/catalog/src/gaia_catalog.cpp
  production/inc/gaia_internal/catalog/catalog_generated.h
  production/inc/gaia_internal/catalog/gaia_catalog.h
Due: fix_double_empty_lines, cpp_license_check

Add support for 'OPTIONAL' in DDL
  production/catalog/parser/src/lexer.ll
  production/catalog/parser/src/parser.yy
  production/catalog/parser/tests/test_ddl_parser.cpp
  production/catalog/src/fbs_generator.cpp
  production/catalog/tests/test_ddl_execution.cpp
  production/inc/gaia_internal/catalog/catalog.hpp
Due: fix_double_empty_lines, cpp_license_check

Add tests Fix an issue with an llvm not properly marking array statements translation engine processing
  third_party/production/TranslationEngineLLVM/clang/lib/Sema/SemaExpr.cpp
  third_party/production/TranslationEngineLLVM/clang/test/Parser/gaia_array.cpp
Due: none

Fix a build break
  third_party/production/TranslationEngineLLVM/clang/lib/Catalog/GaiaCatalog.cpp
Due: none

[GAIAPLAT-1949] Create optional class as replacement of c++17 std::optional
  production/direct_access/CMakeLists.txt
  production/direct_access/src/dac_optional.cpp
  production/direct_access/tests/test_optional.cpp
  production/inc/gaia/direct_access/dac_optional.hpp
  production/inc/gaia/direct_access/dac_optional.inc
  production/inc/gaia/exceptions.hpp
  production/inc/gaia_internal/exceptions.hpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Minor fix
  production/inc/gaia/direct_access/dac_optional.hpp
Due: fix_double_empty_lines, cpp_license_check

https://gaiaplatform.atlassian.net/browse/GAIAPLAT-1953 - adding in ability to kick off workflow manually
  .github/workflows/main.yml
Due: fix_double_empty_lines

Address PR feedabck
  production/direct_access/tests/test_optional.cpp
  production/inc/gaia/direct_access/dac_optional.hpp
  production/inc/gaia/direct_access/dac_optional.inc
  production/inc/gaia/exceptions.hpp
  production/inc/gaia_internal/exceptions.hpp
Due: fix_double_empty_lines, cpp_license_check

Address PR feedabck
  production/direct_access/src/dac_optional.cpp
  production/inc/gaia_internal/exceptions.hpp
Due: fix_double_empty_lines, cpp_license_check

address further PR feedback
  production/inc/gaia/direct_access/dac_optional.hpp
Due: fix_double_empty_lines, cpp_license_check

https://gaiaplatform.atlassian.net/browse/GAIAPLAT-1953 - adding in ability to kick off workflow manually (#1263)
  .github/workflows/main.yml
Due: fix_double_empty_lines

using constants for table names
  production/catalog/src/catalog.cpp
Due: fix_double_empty_lines, cpp_license_check

Address PR feedback
  production/direct_access/tests/test_optional.cpp
  production/inc/gaia/direct_access/dac_optional.hpp
  production/inc/gaia/direct_access/dac_optional.inc
Due: fix_double_empty_lines, cpp_license_check

GAIAPLAT-1954 - Changes and documentation to bring parity to GitHub actions.
  .github/workflows/README.md
  .github/workflows/main.yml
  docs/repository-guidelines.md
Due: fix_double_empty_lines

GAIAPLAT-1798 - Implementation of Code coverage measurements.
  production/coverage/coverage.sh
  production/coverage/gen_coverage.sh
  production/coverage/llvm-gcov.sh
  production/coverage/summarize.py
Due: fix_double_empty_lines, python_executable_license_check

GAIAPLAT-1798 - adding missed file change for Coverage job
  .github/workflows/main.yml
Due: fix_double_empty_lines

Revert "Add iterator functionality to dac"
  production/direct_access/CMakeLists.txt
  production/direct_access/tests/test_vector.cpp
  production/inc/gaia/direct_access/dac_array.hpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

added catalog documentation & removed debugging prints
  production/catalog/README.md
  production/catalog/diagram/catalog.png
  production/catalog/diagram/catalog.txt
  third_party/production/TranslationEngineLLVM/clang/lib/Catalog/GaiaCatalog.cpp
  third_party/production/TranslationEngineLLVM/clang/lib/Sema/SemaGaia.cpp
Due: fix_double_empty_lines

GAIAPLAT-1839 - Cleaning up production/db/core formatting.
  .pre-commit-config.yaml
  production/db/core/src/dump_se.py
  production/db/core/tests/test_db.py
Due: fix_double_empty_lines

several new tests added
  production/catalog/src/catalog.cpp
  production/catalog/src/gaia_catalog.cpp
  production/catalog/tests/test_rule_tables.cpp
  production/inc/gaia_internal/catalog/catalog_generated.h
  production/inc/gaia_internal/catalog/gaia_catalog.h
Due: fix_double_empty_lines, cpp_license_check

Wrote an ill-fated student dorm rooms example, doomed by transaction conflicts
  production/examples/rules_vlr/rules_vlr.cpp
  production/examples/rules_vlr/rules_vlr.ddl
  production/examples/rules_vlr/rules_vlr.ruleset
Due: fix_double_empty_lines, cpp_license_check, db_license_check_eamples

Address CR comments
  production/catalog/parser/tests/test_ddl_parser.cpp
  production/catalog/src/fbs_generator.cpp
Due: fix_double_empty_lines, cpp_license_check

Add support for 'OPTIONAL' in DDL (#1261)
  production/catalog/parser/src/lexer.ll
  production/catalog/parser/src/parser.yy
  production/catalog/parser/tests/test_ddl_parser.cpp
  production/catalog/src/fbs_generator.cpp
  production/catalog/tests/test_ddl_execution.cpp
  production/inc/gaia_internal/catalog/catalog.hpp
Due: fix_double_empty_lines, cpp_license_check

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses/|production/tools/gaia_translate/tests/test_translation.ruleset)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py|production/db/core/tests/test_db.py|production/db/core/src/dump_se.py))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/sdk|production/examples|production/tests|production/coverage|production/sql/tests/test_fdw.sh))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples|production/sql|production/db|production/cmake|production/tools)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: (any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp|production/tests/workloads|production/inc/gaia/expressions|production/catalog/src/gaia_generate.cpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))) or (any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
