Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples, cpp_license_check_examples

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py))|(^.+\_\_init\_\_\.py)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/docker_dev|production/examples))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cpp_license_check_examples: any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))

WIP: emitting new code
  production/catalog/gaiac/src/main.cpp
  production/catalog/inc/dac_generator.hpp
  production/catalog/src/catalog.cpp
  production/catalog/src/catalog_facade.cpp
  production/catalog/src/dac_generator.cpp
  production/catalog/src/gaia_generate.cpp
  production/inc/gaia_internal/catalog/catalog.hpp
  production/inc/gaia_internal/catalog/catalog_facade.hpp
  production/system/src/gaia_system.cpp
Due: fix_double_empty_lines, cpp_license_check

Update clang-format pre-commit hook
  .clang-format
  production/inc/gaia/internal/expressions/builders/expression_builder.hpp
Due: fix_double_empty_lines, cpp_license_check

Create gaia/internal folder
  production/inc/gaia/direct_access/dac_iterators.hpp
  production/inc/gaia/direct_access/dac_object.hpp
  production/inc/gaia/direct_access/dac_vector.hpp
  production/inc/gaia/expressions/accessors/README.md
  production/inc/gaia/expressions/builders/README.md
  production/inc/gaia/expressions/expression_ast.hpp
  production/inc/gaia/expressions/expressions.hpp
  production/inc/gaia/expressions/internal/README.md
  production/inc/gaia/internal/README.md
  production/inc/gaia/internal/direct_access/dac_iterators.inc
  production/inc/gaia/internal/direct_access/dac_object.inc
  production/inc/gaia/internal/expressions/accessors/container_accessor.hpp
  production/inc/gaia/internal/expressions/accessors/container_accessor.inc
  production/inc/gaia/internal/expressions/accessors/member_accessor.hpp
  production/inc/gaia/internal/expressions/accessors/member_accessor.inc
  production/inc/gaia/internal/expressions/accessors/value_accessor.hpp
  production/inc/gaia/internal/expressions/accessors/value_accessor.inc
  production/inc/gaia/internal/expressions/accessors/vector_accessor.hpp
  production/inc/gaia/internal/expressions/accessors/vector_accessor.inc
  production/inc/gaia/internal/expressions/binary_expression.hpp
  production/inc/gaia/internal/expressions/binary_expression.inc
  production/inc/gaia/internal/expressions/builders/expression_bind.hpp
  production/inc/gaia/internal/expressions/builders/expression_builder.hpp
  production/inc/gaia/internal/expressions/builders/expression_int_type.hpp
  production/inc/gaia/internal/expressions/builders/expression_optional.hpp
  production/inc/gaia/internal/expressions/builders/expression_string.hpp
  production/inc/gaia/internal/expressions/transform_expression.hpp
  production/inc/gaia/internal/expressions/transform_expression.inc
  production/inc/gaia/internal/expressions/unary_expression.hpp
  production/inc/gaia/internal/expressions/unary_expression.inc
Due: fix_double_empty_lines, cpp_license_check

Update README.md for new folder
  production/inc/gaia/internal/README.md
Due: fix_double_empty_lines

Create gaia/internal folder for storing public internal header files (#1384)
  .clang-format
  production/inc/gaia/direct_access/dac_iterators.hpp
  production/inc/gaia/direct_access/dac_object.hpp
  production/inc/gaia/direct_access/dac_vector.hpp
  production/inc/gaia/expressions/accessors/README.md
  production/inc/gaia/expressions/builders/README.md
  production/inc/gaia/expressions/expression_ast.hpp
  production/inc/gaia/expressions/expressions.hpp
  production/inc/gaia/expressions/internal/README.md
  production/inc/gaia/internal/README.md
  production/inc/gaia/internal/direct_access/dac_iterators.inc
  production/inc/gaia/internal/direct_access/dac_object.inc
  production/inc/gaia/internal/expressions/accessors/container_accessor.hpp
  production/inc/gaia/internal/expressions/accessors/container_accessor.inc
  production/inc/gaia/internal/expressions/accessors/member_accessor.hpp
  production/inc/gaia/internal/expressions/accessors/member_accessor.inc
  production/inc/gaia/internal/expressions/accessors/value_accessor.hpp
  production/inc/gaia/internal/expressions/accessors/value_accessor.inc
  production/inc/gaia/internal/expressions/accessors/vector_accessor.hpp
  production/inc/gaia/internal/expressions/accessors/vector_accessor.inc
  production/inc/gaia/internal/expressions/binary_expression.hpp
  production/inc/gaia/internal/expressions/binary_expression.inc
  production/inc/gaia/internal/expressions/builders/expression_bind.hpp
  production/inc/gaia/internal/expressions/builders/expression_builder.hpp
  production/inc/gaia/internal/expressions/builders/expression_int_type.hpp
  production/inc/gaia/internal/expressions/builders/expression_optional.hpp
  production/inc/gaia/internal/expressions/builders/expression_string.hpp
  production/inc/gaia/internal/expressions/transform_expression.hpp
  production/inc/gaia/internal/expressions/transform_expression.inc
  production/inc/gaia/internal/expressions/unary_expression.hpp
  production/inc/gaia/internal/expressions/unary_expression.inc
Due: fix_double_empty_lines, cpp_license_check

i_optional -> optional_i
  production/db/query_processor/tests/test_index_scan.cpp
  production/schemas/test/index_sandbox/index_sandbox.ddl
Due: fix_double_empty_lines, db_license_check, cpp_license_check

[GAIAPLAT-1826] NULL support: Final index support for NULL keys (#1385)
  production/db/core/src/catalog_core.cpp
  production/db/core/src/flatbuffers/gaia_field.fbs
  production/db/core/src/index_builder.cpp
  production/db/inc/query_processor/predicate.hpp
  production/db/query_processor/src/predicate.cpp
  production/db/query_processor/src/scan_generators.cpp
  production/db/query_processor/tests/test_index_scan.cpp
  production/inc/gaia_internal/db/catalog_core.hpp
  production/inc/gaia_internal/db/index_builder.hpp
  production/schemas/test/index_sandbox/index_sandbox.ddl
Due: fix_double_empty_lines, db_license_check, cpp_license_check

Clean up documentation comments and further separation of public internal code
  production/inc/gaia/common.hpp
  production/inc/gaia/db/db.hpp
  production/inc/gaia/db/events.hpp
  production/inc/gaia/direct_access/auto_transaction.hpp
  production/inc/gaia/direct_access/dac_base.hpp
  production/inc/gaia/direct_access/dac_iterators.hpp
  production/inc/gaia/direct_access/dac_object.hpp
  production/inc/gaia/direct_access/dac_vector.hpp
  production/inc/gaia/direct_access/nullable_string.hpp
  production/inc/gaia/exception.hpp
  production/inc/gaia/exceptions.hpp
  production/inc/gaia/expressions/expression_traits.hpp
  production/inc/gaia/expressions/operators.hpp
  production/inc/gaia/int_type.hpp
  production/inc/gaia/internal/common_std.inc
  production/inc/gaia/internal/direct_access/dac_base.inc
  production/inc/gaia/internal/expressions/accessors/vector_accessor.hpp
  production/inc/gaia/internal/expressions/binary_expression.hpp
  production/inc/gaia/internal/expressions/transform_expression.hpp
  production/inc/gaia/internal/expressions/unary_expression.hpp
  production/inc/gaia/logger.hpp
  production/inc/gaia/optional.hpp
  production/inc/gaia/rules/exceptions.hpp
  production/inc/gaia/rules/rules.hpp
  production/inc/gaia/system.hpp
Due: fix_double_empty_lines, cpp_license_check

Add some additional comments
  production/inc/gaia/direct_access/dac_iterators.hpp
Due: fix_double_empty_lines, cpp_license_check

GAIAPLAT-2074 - Adding better testing of the Host module, responsible for calling out to other programs.
  dev_tools/docker_dev/gdev/host.py
  dev_tools/docker_dev/test/does_file_exist.sh
  dev_tools/docker_dev/test/echo_multiple_lines.sh
  dev_tools/docker_dev/test/pytest_execute.py
  dev_tools/docker_dev/test/test_host.py
Due: fix_double_empty_lines, python_executable_license_check

fixing
  dev_tools/docker_dev/gdev/command_line.py
  dev_tools/docker_dev/gdev/main.py
  dev_tools/docker_dev/test/test_scenario_help.py
Due: python_executable_license_check

GAIAPLAT-2078 - Updaing cleanup job to timeout after 5 minutes and run every 2 hours.
  .github/workflows/remove-old-artifacts.yml
Due: fix_double_empty_lines

Update @addtogroup commands
  production/inc/gaia/db/events.hpp
  production/inc/gaia/direct_access/dac_vector.hpp
  production/inc/gaia/direct_access/nullable_string.hpp
  production/inc/gaia/exceptions.hpp
  production/inc/gaia/expressions/expression_base.hpp
  production/inc/gaia/expressions/expression_traits.hpp
  production/inc/gaia/expressions/operators.hpp
  production/inc/gaia/rules/exceptions.hpp
  production/inc/gaia/rules/rules.hpp
Due: fix_double_empty_lines, cpp_license_check

Add some @brief commands
  production/inc/gaia/db/events.hpp
Due: fix_double_empty_lines, cpp_license_check

Put exceptions into their own groups
  production/inc/gaia/exceptions.hpp
  production/inc/gaia/rules/exceptions.hpp
Due: fix_double_empty_lines, cpp_license_check

Fix @} commands
  production/inc/gaia/common.hpp
  production/inc/gaia/db/db.hpp
  production/inc/gaia/db/events.hpp
  production/inc/gaia/direct_access/auto_transaction.hpp
  production/inc/gaia/direct_access/dac_base.hpp
  production/inc/gaia/direct_access/dac_iterators.hpp
  production/inc/gaia/direct_access/dac_object.hpp
  production/inc/gaia/direct_access/dac_vector.hpp
  production/inc/gaia/direct_access/nullable_string.hpp
  production/inc/gaia/exception.hpp
  production/inc/gaia/exceptions.hpp
  production/inc/gaia/expressions/expression_base.hpp
  production/inc/gaia/expressions/expression_traits.hpp
  production/inc/gaia/expressions/operators.hpp
  production/inc/gaia/int_type.hpp
  production/inc/gaia/logger.hpp
  production/inc/gaia/optional.hpp
  production/inc/gaia/rules/exceptions.hpp
  production/inc/gaia/rules/rules.hpp
  production/inc/gaia/system.hpp
Due: fix_double_empty_lines, cpp_license_check

Update dac_iterator_t description
  production/inc/gaia/direct_access/dac_iterators.hpp
Due: fix_double_empty_lines, cpp_license_check

More addtogroup fixes
  production/inc/gaia/direct_access/nullable_string.hpp
  production/inc/gaia/exceptions.hpp
  production/inc/gaia/rules/exceptions.hpp
Due: fix_double_empty_lines, cpp_license_check

Try to use @defgroup
  production/inc/gaia/common.hpp
  production/inc/gaia/db/db.hpp
  production/inc/gaia/db/events.hpp
  production/inc/gaia/direct_access/auto_transaction.hpp
  production/inc/gaia/expressions/expression_base.hpp
  production/inc/gaia/logger.hpp
  production/inc/gaia/rules/rules.hpp
  production/inc/gaia/system.hpp
Due: fix_double_empty_lines, cpp_license_check

Add @ingroup statements
  production/inc/gaia/common.hpp
  production/inc/gaia/db/db.hpp
  production/inc/gaia/db/events.hpp
  production/inc/gaia/direct_access/auto_transaction.hpp
  production/inc/gaia/expressions/expression_base.hpp
  production/inc/gaia/logger.hpp
  production/inc/gaia/rules/rules.hpp
  production/inc/gaia/system.hpp
Due: fix_double_empty_lines, cpp_license_check

Try putting rules exceptions back under gaia::rules
  production/inc/gaia/rules/exceptions.hpp
Due: fix_double_empty_lines, cpp_license_check

Fix exceptions
  production/inc/gaia/exceptions.hpp
Due: fix_double_empty_lines, cpp_license_check

GAIAPLAT-2086 - Attempt to reduce image size
  production/coverage/gen_coverage.sh
Due: fix_double_empty_lines, bash_license_check

test
  .github/workflows/main.yml
Due: fix_double_empty_lines

Clean up documentation comments and further separation of public internal code (#1387)
  production/inc/gaia/common.hpp
  production/inc/gaia/db/db.hpp
  production/inc/gaia/db/events.hpp
  production/inc/gaia/direct_access/auto_transaction.hpp
  production/inc/gaia/direct_access/dac_base.hpp
  production/inc/gaia/direct_access/dac_iterators.hpp
  production/inc/gaia/direct_access/dac_object.hpp
  production/inc/gaia/direct_access/dac_vector.hpp
  production/inc/gaia/direct_access/nullable_string.hpp
  production/inc/gaia/exception.hpp
  production/inc/gaia/exceptions.hpp
  production/inc/gaia/expressions/expression_base.hpp
  production/inc/gaia/expressions/expression_traits.hpp
  production/inc/gaia/expressions/operators.hpp
  production/inc/gaia/int_type.hpp
  production/inc/gaia/internal/common_std.inc
  production/inc/gaia/internal/direct_access/dac_base.inc
  production/inc/gaia/internal/expressions/accessors/vector_accessor.hpp
  production/inc/gaia/internal/expressions/binary_expression.hpp
  production/inc/gaia/internal/expressions/transform_expression.hpp
  production/inc/gaia/internal/expressions/unary_expression.hpp
  production/inc/gaia/logger.hpp
  production/inc/gaia/optional.hpp
  production/inc/gaia/rules/exceptions.hpp
  production/inc/gaia/rules/rules.hpp
  production/inc/gaia/system.hpp
Due: fix_double_empty_lines, cpp_license_check

test
  .github/workflows/main.yml
  production/coverage/gen_coverage.sh
Due: fix_double_empty_lines, bash_license_check

Updates for building API Docs
  production/docs/doxyfile
  production/inc/gaia/api_main_doc.dox
Due: fix_double_empty_lines

test
  production/coverage/coverage.sh
Due: fix_double_empty_lines, bash_license_check

GAIAPLAT-2074 - responding to comments
  dev_tools/docker_dev/test/test_host.py
  dev_tools/docker_dev/test/test_scenario_help.py
  dev_tools/docker_dev/test/test_scenario_run.py
  dev_tools/docker_dev/test/test_scenarios.py
Due: python_executable_license_check

GAIAPLAT-2074 - Cleaning up parts of docker_dev (#1388)
  dev_tools/docker_dev/gdev/host.py
  dev_tools/docker_dev/gdev/subcommands/push.py
  dev_tools/docker_dev/test/does_file_exist.sh
  dev_tools/docker_dev/test/echo_multiple_lines.sh
  dev_tools/docker_dev/test/pytest_execute.py
  dev_tools/docker_dev/test/test_host.py
  dev_tools/docker_dev/test/test_scenario_help.py
  dev_tools/docker_dev/test/test_scenario_run.py
  dev_tools/docker_dev/test/test_scenarios.py
Due: fix_double_empty_lines, python_executable_license_check

GAIAPLAT-2078 - Updaing cleanup job to timeout after 5 minutes and run every 2 hours. (#1389)
  .github/workflows/remove-old-artifacts.yml
Due: fix_double_empty_lines

GAIAPLAT-2076 - cleanup
  .github/workflows/main.yml
Due: fix_double_empty_lines

GaiaPlat-2076: Moving libexplain to use "internal" repo. (#1391)
  third_party/production/libexplain/gdev.cfg
Due: none

Gaiaplat 2081 - Add documentation job to workflow. (#1386)
  .github/actions/documentation-job/action.yml
  .github/workflows/documentation.yml
  .github/workflows/main.yml
Due: fix_double_empty_lines

Address feedback
  production/inc/gaia/api_main_doc.dox
Due: fix_double_empty_lines

GAIAPLAT-2086 - Cleaning up yaml.
  .github/workflows/main.yml
Due: fix_double_empty_lines

GAIAPLAT-2086 - cleanup and adding in job timeout
  .github/workflows/main.yml
  production/coverage/coverage.sh
  production/coverage/gen_coverage.sh
Due: fix_double_empty_lines, bash_license_check

Gaiaplat 2086 - Cleaning up coverage job. (#1393)
  .github/workflows/main.yml
  production/coverage/coverage.sh
  production/coverage/gen_coverage.sh
Due: fix_double_empty_lines, bash_license_check

More feedback
  production/docs/doxyfile
Due: fix_double_empty_lines

WIP: save point
  production/catalog/src/catalog.cpp
  production/catalog/src/dac_generator.cpp
  production/inc/gaia_internal/catalog/catalog.hpp
  production/system/src/gaia_system.cpp
Due: fix_double_empty_lines, cpp_license_check
