Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples, cpp_license_check_examples

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py))|(^.+\_\_init\_\_\.py)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/docker_dev|production/examples))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cpp_license_check_examples: any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))

Enable rule perf tests to run as part of unit tests. (#1477)
  production/tools/gaia_translate/tests/test_rules_perf_basic.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix ID index bucket overflow bug
  production/db/core/inc/db_hash_map.hpp
  production/db/core/inc/db_helpers.hpp
  production/db/core/inc/db_internal_types.hpp
  production/db/core/inc/db_object_helpers.hpp
  production/db/core/src/gaia_ptr.cpp
  production/db/core/src/gaia_ptr_client.cpp
  production/db/core/tests/test_db_client.cpp
Due: fix_double_empty_lines, cpp_license_check

Add nested join benchmark (#1469)
  production/direct_access/CMakeLists.txt
  production/direct_access/tests/test_perf.hpp
  production/direct_access/tests/test_read_perf_basic.cpp
  production/direct_access/tests/test_read_perf_rel.cpp
  production/schemas/test/perf_rel/perf_rel.ddl
Due: fix_double_empty_lines, cmake_license_check, db_license_check, cpp_license_check

Stuff
  production/examples/sqlite3/CMakeLists.txt
  production/examples/sqlite3/src/sqlite3_bench_c_api.cpp
Due: fix_double_empty_lines, cmake_license_check_examples, cpp_license_check_examples

Fix some perf test issues and enable a new test
  production/direct_access/tests/test_read_perf_basic.cpp
  production/direct_access/tests/test_read_perf_rel.cpp
Due: fix_double_empty_lines, cpp_license_check

Add all examples to the production project
  production/CMakeLists.txt
  production/cmake/gaia_internal.cmake
  production/examples/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

Minor nits and bits
  production/CMakeLists.txt
  production/cmake/gaia_internal.cmake
Due: fix_double_empty_lines, cmake_license_check

Enable direct-access only example on non-SDK builds
  production/CMakeLists.txt
  production/examples/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

Minor nits and bits
  production/cmake/gaia_internal.cmake
Due: fix_double_empty_lines, cmake_license_check

Fix some perf test issues and enable a new test (#1479)
  production/direct_access/tests/test_read_perf_basic.cpp
  production/direct_access/tests/test_read_perf_rel.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix bug
  production/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

Address PR feedback
  production/examples/CMakeLists.txt
Due: fix_double_empty_lines

Make the examples buildable as part of the production project (#1474)
  production/CMakeLists.txt
  production/cmake/gaia_internal.cmake
  production/examples/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

[GAIAPLAT-2142] Fix gaia::system::initialize() ASAN failure
  third_party/bundle/gaia_spdlog_setup/include/gaia_spdlog_setup/details/third_party/cpptoml.h
Due: none

Update cpptoml.h
  third_party/bundle/gaia_spdlog_setup/include/gaia_spdlog_setup/details/third_party/cpptoml.h
Due: none

[GAIAPLAT-2142] Fix gaia::system::initialize() ASAN failure (#1480)
  third_party/bundle/gaia_spdlog_setup/include/gaia_spdlog_setup/details/third_party/cpptoml.h
Due: none

Allow building benchmarks against libgaia.so
  production/CMakeLists.txt
  production/benchmarks/CMakeLists.txt
  production/benchmarks/inc/benchmark_test_base.hpp
  production/benchmarks/inc/db_server_cmd.hpp
  production/benchmarks/inc/gaiac_cmd.hpp
  production/benchmarks/inc/resource_manager.hpp
  production/benchmarks/inc/test_perf.hpp
  production/benchmarks/src/benchmark_test_base.cpp
  production/benchmarks/src/db_server_cmd.cpp
  production/benchmarks/src/gaiac_cmd.cpp
  production/benchmarks/src/resource_manager.cpp
  production/benchmarks/tests/bench_read_perf_basic.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Minor nits and bits
  production/benchmarks/CMakeLists.txt
  production/benchmarks/inc/test_perf.hpp
  production/benchmarks/src/benchmark_test_base.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Apply review feedback
  production/db/core/inc/db_hash_map.hpp
  production/db/core/inc/db_internal_types.hpp
Due: fix_double_empty_lines, cpp_license_check

Fix ID index bucket overflow bug (#1478)
  production/db/core/inc/db_hash_map.hpp
  production/db/core/inc/db_helpers.hpp
  production/db/core/inc/db_internal_types.hpp
  production/db/core/inc/db_object_helpers.hpp
  production/db/core/src/gaia_ptr.cpp
  production/db/core/src/gaia_ptr_client.cpp
  production/db/core/tests/test_db_client.cpp
Due: fix_double_empty_lines, cpp_license_check

Add db caches (table_relationship_cache_t)
  production/db/core/CMakeLists.txt
  production/db/core/inc/db_caches.hpp
  production/db/core/inc/db_client.hpp
  production/db/core/src/db_caches.cpp
  production/db/core/src/db_client.cpp
  production/db/core/src/gaia_ptr_api.cpp
  production/db/core/tests/test_db_caches.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Make cache store parent and child fields separately
  production/db/core/inc/db_caches.hpp
  production/db/core/src/db_caches.cpp
  production/db/core/src/db_client.cpp
  production/db/core/src/gaia_ptr_api.cpp
  production/db/core/tests/test_db_caches.cpp
Due: fix_double_empty_lines, cpp_license_check

Remove virtual function and use std::call_once
  production/db/core/inc/db_caches.hpp
  production/db/core/inc/db_client.hpp
  production/db/core/src/db_client.cpp
Due: fix_double_empty_lines, cpp_license_check

Add base cache class and some more comments
  production/db/core/inc/db_caches.hpp
  production/db/core/src/db_client.cpp
Due: fix_double_empty_lines, cpp_license_check

Add one more comment
  production/db/core/inc/db_caches.hpp
Due: fix_double_empty_lines, cpp_license_check

Add db caches (table_relationship_cache_t) (#1482)
  production/db/core/CMakeLists.txt
  production/db/core/inc/db_caches.hpp
  production/db/core/inc/db_client.hpp
  production/db/core/src/db_caches.cpp
  production/db/core/src/db_client.cpp
  production/db/core/src/gaia_ptr_api.cpp
  production/db/core/tests/test_db_caches.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Add server_connection_failed exception
  production/catalog/gaiac/src/main.cpp
  production/db/core/src/db_client.cpp
  production/db/core/src/db_server_instance.cpp
  production/db/core/src/exceptions.cpp
  production/db/core/tests/test_db_server_env.cpp
  production/inc/gaia/exceptions.hpp
  production/inc/gaia_internal/exceptions.hpp
Due: fix_double_empty_lines, cpp_license_check

Allocate individual rule stats at subscribe time
  production/rules/event_manager/inc/rule_stats.hpp
  production/rules/event_manager/inc/rule_stats_manager.hpp
  production/rules/event_manager/src/event_manager.cpp
  production/rules/event_manager/src/rule_stats.cpp
  production/rules/event_manager/src/rule_stats_manager.cpp
  production/rules/event_manager/tests/test_rule_stats.cpp
Due: fix_double_empty_lines, cpp_license_check

Use a shared lock for individual rule stats access
  production/rules/event_manager/inc/rule_stats_manager.hpp
  production/rules/event_manager/src/event_manager.cpp
  production/rules/event_manager/src/rule_stats_manager.cpp
  production/rules/event_manager/tests/test_rule_stats.cpp
Due: fix_double_empty_lines, cpp_license_check

Do not release shared lock until after the stats counter is incremented
  production/rules/event_manager/inc/rule_stats_manager.hpp
  production/rules/event_manager/src/rule_stats_manager.cpp
Due: fix_double_empty_lines, cpp_license_check

rebased and rebranded database-tools
  dev_tools/navigator-ext/.env
  dev_tools/navigator-ext/.gitignore
  dev_tools/navigator-ext/ext-src/extension.ts
  dev_tools/navigator-ext/package.json
  dev_tools/navigator-ext/public/gaia_logo.png
  dev_tools/navigator-ext/public/index.html
  dev_tools/navigator-ext/public/manifest.json
  dev_tools/navigator-ext/scripts/build-non-split.js
  dev_tools/navigator-ext/src/App.css
  dev_tools/navigator-ext/src/App.tsx
  dev_tools/navigator-ext/src/components/Tables.tsx
  dev_tools/navigator-ext/src/components/components.css
  dev_tools/navigator-ext/src/containers/MainContainer.tsx
  dev_tools/navigator-ext/src/gaia_logo.png
  dev_tools/navigator-ext/src/index.css
  dev_tools/navigator-ext/src/index.tsx
  dev_tools/navigator-ext/src/react-app-env.d.ts
  dev_tools/navigator-ext/tsconfig.extension.json
  dev_tools/navigator-ext/tsconfig.json
  dev_tools/navigator-ext/tslint.json
Due: fix_double_empty_lines

intial cut of database navigator tree-view
  dev_tools/navigator-ext/ext-src/databaseExplorer.ts
  dev_tools/navigator-ext/ext-src/extension.ts
  dev_tools/navigator-ext/media/gaia_logo.png
  dev_tools/navigator-ext/package.json
  dev_tools/navigator-ext/resources/dark/catalog.svg
  dev_tools/navigator-ext/resources/light/catalog.svg
Due: fix_double_empty_lines

experiment with react-data-grid
  dev_tools/navigator-ext/ext-src/databaseExplorer.ts
  dev_tools/navigator-ext/ext-src/extension.ts
  dev_tools/navigator-ext/package.json
  dev_tools/navigator-ext/src/App.tsx
Due: fix_double_empty_lines

Add context button to treeview item that will show records in table
  dev_tools/navigator-ext/ext-src/databaseExplorer.ts
  dev_tools/navigator-ext/ext-src/extension.ts
  dev_tools/navigator-ext/package.json
  dev_tools/navigator-ext/resources/dark/boolean.svg
  dev_tools/navigator-ext/resources/light/boolean.svg
Due: fix_double_empty_lines

update activation reasons for extension; hack around array fields error in the extractor
  dev_tools/navigator-ext/package.json
  production/tools/gaia_db_extract/src/gaia_db_extract.cpp
Due: fix_double_empty_lines, cpp_license_check

Add support for relationship extraction from schema
  production/tools/gaia_db_extract/src/gaia_db_extract.cpp
Due: fix_double_empty_lines, cpp_license_check

Update extension to use webpack; refactor ext and react apps
  dev_tools/navigator-ext/dataViewer/dataViewer.js
  dev_tools/navigator-ext/ext-src/data_view/ViewLoader.ts
  dev_tools/navigator-ext/ext-src/data_view/app/dataview.tsx
  dev_tools/navigator-ext/ext-src/data_view/app/index.css
  dev_tools/navigator-ext/ext-src/data_view/app/index.tsx
  dev_tools/navigator-ext/ext-src/data_view/app/model.ts
  dev_tools/navigator-ext/ext-src/data_view/app/tsconfig.json
  dev_tools/navigator-ext/ext-src/databaseExplorer.ts
  dev_tools/navigator-ext/ext-src/extension.ts
  dev_tools/navigator-ext/package.json
  dev_tools/navigator-ext/public/gaia_logo.png
  dev_tools/navigator-ext/public/index.html
  dev_tools/navigator-ext/public/manifest.json
  dev_tools/navigator-ext/scripts/build-non-split.js
  dev_tools/navigator-ext/src/App.css
  dev_tools/navigator-ext/src/App.tsx
  dev_tools/navigator-ext/src/components/Tables.tsx
  dev_tools/navigator-ext/src/components/components.css
  dev_tools/navigator-ext/src/containers/MainContainer.tsx
  dev_tools/navigator-ext/src/gaia_logo.png
  dev_tools/navigator-ext/src/index.tsx
  dev_tools/navigator-ext/src/react-app-env.d.ts
  dev_tools/navigator-ext/tsconfig.extension.json
  dev_tools/navigator-ext/tsconfig.json
  dev_tools/navigator-ext/webpack.config.js
Due: fix_double_empty_lines

support for extracting linked data
  production/tools/gaia_db_extract/inc/gaia_db_extract.hpp
  production/tools/gaia_db_extract/inc/table_iterator.hpp
  production/tools/gaia_db_extract/src/gaia_db_extract.cpp
  production/tools/gaia_db_extract/src/main.cpp
  production/tools/gaia_db_extract/src/table_iterator.cpp
  production/tools/gaia_db_extract/tests/test_gaia_db_extract.cpp
  production/tools/gaia_db_extract/tests/test_row_extract.cpp
Due: fix_double_empty_lines, cpp_license_check

Add generated columns for table relationships
  dev_tools/navigator-ext/ext-src/data_view/ViewLoader.ts
  dev_tools/navigator-ext/ext-src/data_view/app/dataview.tsx
  dev_tools/navigator-ext/ext-src/gaiaDataProvider.ts
Due: fix_double_empty_lines

add some icons
  dev_tools/navigator-ext/ext-src/databaseExplorer.ts
  dev_tools/navigator-ext/package.json
  dev_tools/navigator-ext/resources/dark/database.svg
  dev_tools/navigator-ext/resources/dark/database_light.svg
  dev_tools/navigator-ext/resources/dark/play_24dp.svg
  dev_tools/navigator-ext/resources/dark/server.svg
  dev_tools/navigator-ext/resources/dark/table_view_white_24dp.svg
  dev_tools/navigator-ext/resources/dark/view_column_white_24dp.svg
  dev_tools/navigator-ext/resources/light/database.svg
  dev_tools/navigator-ext/resources/light/database_light.svg
  dev_tools/navigator-ext/resources/light/play_24dp.svg
  dev_tools/navigator-ext/resources/light/server.svg
  dev_tools/navigator-ext/resources/light/table_view_black_24dp.svg
  dev_tools/navigator-ext/resources/light/view_column_black_24dp.svg
Due: fix_double_empty_lines
