Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses/|production/tools/gaia_translate/tests/test_translation.ruleset)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py|production/db/core/tests/test_db.py|production/db/core/src/dump_se.py))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/sdk|production/examples|production/tests|production/coverage|production/sql/tests/test_fdw.sh))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples|production/sql|production/db|production/cmake|production/tools)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: (any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp|production/tests/workloads|production/inc/gaia/expressions|production/catalog/src/gaia_generate.cpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))) or (any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))

test
  dev_tools/github-actions/post_build_inside_container.sh
Due: fix_double_empty_lines, bash_license_check

responses to PR comments
  production/catalog/src/hash_generator.cpp
  production/common/src/hash.cpp
  production/common/tests/test_hash.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix for GAIAPLAT-1906
  production/schemas/test/prerequisites/prerequisites.ddl
  production/tools/gaia_translate/tests/test_rulesets.ruleset
  third_party/production/TranslationEngineLLVM/clang/lib/Sema/SemaExpr.cpp
Due: fix_double_empty_lines, db_license_check

small change to try and get debug sdk not to install
  .github/actions/integration-test-job/action.yml
Due: fix_double_empty_lines

test
  dev_tools/docker_dev/Pipfile.lock
Due: fix_double_empty_lines

Simplify boolean expressions
  production/db/core/inc/db_internal_types.hpp
Due: fix_double_empty_lines, cpp_license_check

GAIAPLAT-1974 - Enabled debug SDK but disables debug intergration tests.
  .github/workflows/main.yml
Due: fix_double_empty_lines

GAIAPLAT-2031 - adding LLVM tests to coverage build
  production/tests/llvm.sh
Due: fix_double_empty_lines

more responses to PR comments
  production/catalog/src/hash_generator.cpp
  production/common/src/hash.cpp
  production/common/tests/test_hash.cpp
  production/inc/gaia_internal/common/hash.hpp
Due: fix_double_empty_lines, cpp_license_check

Address review feedback
  production/db/core/inc/db_client.inc
  production/db/core/inc/db_internal_types.hpp
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

Move txn logs into single shared memory segment (phase 1) (#1322)
  production/db/core/inc/db_client.hpp
  production/db/core/inc/db_client.inc
  production/db/core/inc/db_internal_types.hpp
  production/db/core/inc/db_server.hpp
  production/db/core/inc/db_shared_data.hpp
  production/db/core/inc/mapped_data.hpp
  production/db/core/src/db_client.cpp
  production/db/core/src/db_server.cpp
  production/db/core/src/db_shared_data_client.cpp
  production/db/core/src/db_shared_data_server.cpp
  production/db/core/src/exceptions.cpp
  production/db/core/src/flatbuffers/messages.fbs
  production/db/core/src/index_builder.cpp
  production/db/core/src/mapped_data.cpp
  production/db/core/src/persistent_store_manager.cpp
  production/inc/gaia/exceptions.hpp
  production/inc/gaia_internal/db/db_object.hpp
  production/inc/gaia_internal/db/index_builder.hpp
  production/inc/gaia_internal/exceptions.hpp
Due: fix_double_empty_lines, cpp_license_check

GAIAPLAT-2031 - Creating script to execute LLVM tests from a SDK build, within a container.
  production/tests/llvm.sh
Due: fix_double_empty_lines

Add JIRA IDs
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

more fixes
  production/db/core/inc/db_helpers.hpp
  production/db/core/inc/db_server.hpp
  production/db/core/inc/log_io.hpp
  production/db/core/inc/persistent_store_manager.hpp
  production/db/core/inc/txn_metadata.hpp
  production/db/core/inc/txn_metadata.inc
  production/db/core/src/async_disk_writer.cpp
  production/db/core/src/db_server.cpp
  production/db/core/src/exceptions.cpp
  production/db/core/src/log_io.cpp
  production/inc/gaia/exceptions.hpp
  production/inc/gaia_internal/exceptions.hpp
Due: fix_double_empty_lines, cpp_license_check

Other repro
  production/db/core/CMakeLists.txt
  production/db/core/tests/test_db_hash_map.cpp
  production/direct_access/tests/test_insertion_perf.cpp
  production/inc/gaia_internal/db/gaia_ptr.hpp
Due: fix_double_empty_lines, cpp_license_check

test
  .github/workflows/main.yml
  dev_tools/gdev/gdev/dependency.py
Due: fix_double_empty_lines

GAIAPLAT-1838 - Starting with initial GDEV (#1347)
  dev_tools/docker_dev/Pipfile
  dev_tools/docker_dev/gdev/__main__.py
  dev_tools/docker_dev/gdev/cmd/cfg.py
  dev_tools/docker_dev/gdev/cmd/dockerfile.py
  dev_tools/docker_dev/gdev/cmd/gen/__init__.py
  dev_tools/docker_dev/gdev/cmd/gen/_abc/cfg.py
  dev_tools/docker_dev/gdev/cmd/gen/_abc/dockerfile.py
  dev_tools/docker_dev/gdev/cmd/gen/_abc/run.py
  dev_tools/docker_dev/gdev/cmd/gen/_custom/cfg.py
  dev_tools/docker_dev/gdev/cmd/gen/_custom/dockerfile.py
  dev_tools/docker_dev/gdev/cmd/gen/apt/dockerfile.py
  dev_tools/docker_dev/gdev/cmd/gen/env/dockerfile.py
  dev_tools/docker_dev/gdev/cmd/gen/gaia/dockerfile.py
  dev_tools/docker_dev/gdev/cmd/gen/git/dockerfile.py
  dev_tools/docker_dev/gdev/cmd/gen/pip/dockerfile.py
  dev_tools/docker_dev/gdev/cmd/gen/pre_run/dockerfile.py
  dev_tools/docker_dev/gdev/cmd/gen/run/dockerfile.py
  dev_tools/docker_dev/gdev/cmd/gen/web/dockerfile.py
  dev_tools/docker_dev/gdev/dependency.py
  dev_tools/docker_dev/gdev/host.py
  dev_tools/docker_dev/gdev/main.py
  dev_tools/docker_dev/gdev/mount.py
  dev_tools/docker_dev/gdev/options.py
  dev_tools/docker_dev/gdev/parser_structure.py
  dev_tools/docker_dev/test.sh
  dev_tools/docker_dev/test/__init__.py
  dev_tools/docker_dev/test/conftest.py
  dev_tools/docker_dev/test/gdev_execute.py
  dev_tools/docker_dev/test/pytest_execute.py
  dev_tools/docker_dev/test/test_scenarios.py
  dev_tools/gdev/gdev/cmd/gen/_abc/cfg.py
  dev_tools/gdev/gdev/cmd/gen/_abc/run.py
  dev_tools/gdev/gdev/cmd/gen/_custom/cfg.py
  dev_tools/gdev/gdev/dependency.py
  dev_tools/gdev/gdev/host.py
  production/tests/workloads/palletbox/palletbox.conf
Due: fix_double_empty_lines, python_executable_license_check, bash_license_check

test
  .github/workflows/coverage.yml
  production/coverage/gen_coverage.sh
  production/tests/llvm.sh
Due: fix_double_empty_lines

test
  .github/workflows/main.yml
Due: fix_double_empty_lines

[GAIAPLAT-1475] Occasionally getting an invalid object from an iterator
  production/db/core/inc/db_internal_types.hpp
  production/direct_access/CMakeLists.txt
  production/direct_access/tests/test_insertion_perf.cpp
  production/schemas/test/CMakeLists.txt
  production/schemas/test/insert/insert.ddl
Due: fix_double_empty_lines, cmake_license_check, db_license_check, cpp_license_check

Fix license
  production/direct_access/tests/test_insertion_perf.cpp
Due: fix_double_empty_lines, cpp_license_check

WHERE clause accepts optional<bool> functor
  production/direct_access/tests/test_optional_dac.cpp
  production/inc/gaia/direct_access/dac_iterators.hpp
  production/inc/gaia/direct_access/dac_iterators.inc
Due: fix_double_empty_lines, cpp_license_check

Port most operators from C++
  production/direct_access/tests/test_expressions_no_dac.cpp
  production/inc/gaia/expressions/builders/expression_builder.hpp
  production/inc/gaia/expressions/operators.hpp
Due: fix_double_empty_lines, cpp_license_check

[GAIAPLAT-2027] Ensure that NULL ordering for indexes are the same as in optional
  production/db/index/tests/test_index.cpp
Due: fix_double_empty_lines, cpp_license_check

Upgrading DAC vector iterator tag
  production/inc/gaia/direct_access/dac_array.hpp
  production/inc/gaia/direct_access/dac_array.inc
Due: fix_double_empty_lines, cpp_license_check

insert table hashes in alphabetical order
  production/catalog/src/hash_generator.cpp
Due: fix_double_empty_lines, cpp_license_check

Introduce max_txn_memory_size. Track txn size in client tls and throw error if it exceeds max txn size.
  production/db/core/inc/db_client.hpp
  production/db/core/inc/db_helpers.hpp
  production/db/core/inc/db_internal_types.hpp
  production/db/core/inc/db_shared_data.hpp
  production/db/core/src/db_client.cpp
  production/db/core/src/db_shared_data_client.cpp
  production/db/core/src/db_shared_data_server.cpp
Due: fix_double_empty_lines, cpp_license_check

topsort impl
  production/db/core/src/log_io.cpp
  production/inc/gaia_internal/common/topological_sort.hpp
Due: fix_double_empty_lines, cpp_license_check

use top sort to find chunk order
  production/db/core/inc/log_io.hpp
  production/db/core/inc/persistence_types.hpp
  production/db/core/src/log_io.cpp
  production/inc/gaia_internal/common/topological_sort.hpp
Due: fix_double_empty_lines, cpp_license_check

Refactoring
  production/db/core/inc/db_server.hpp
  production/db/core/src/db_server.cpp
  production/inc/gaia_internal/common/fd_helpers.hpp
Due: fix_double_empty_lines, cpp_license_check

refactor #2
  production/db/core/inc/log_io.hpp
  production/db/core/inc/persistence_types.hpp
  production/db/core/src/log_io.cpp
  production/inc/gaia_internal/common/topological_sort.hpp
Due: fix_double_empty_lines, cpp_license_check

nit
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

Add LLVM support for symmetric connect/disconnect
  third_party/production/TranslationEngineLLVM/clang/lib/Sema/SemaGaia.cpp
Due: none

Fix an issue for generating connect/disconnect functions
  third_party/production/TranslationEngineLLVM/clang/lib/Sema/SemaGaia.cpp
Due: none

Refactoring
  production/db/core/inc/db_server.hpp
  production/db/core/inc/log_io.hpp
  production/db/core/src/db_server.cpp
  production/db/core/src/log_io.cpp
Due: fix_double_empty_lines, cpp_license_check

refactoring 2
  production/db/core/inc/db_server.hpp
  production/db/core/inc/log_io.hpp
  production/db/core/inc/persistent_store_manager.hpp
  production/db/core/src/db_server.cpp
  production/db/core/src/log_io.cpp
  production/db/core/src/persistent_store_manager.cpp
Due: fix_double_empty_lines, cpp_license_check

Address PR feedback
  production/direct_access/tests/test_insertion_perf.cpp
Due: fix_double_empty_lines, cpp_license_check
