Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses/|production/tools/gaia_translate/tests/test_translation.ruleset)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py|production/db/core/tests/test_db.py|production/db/core/src/dump_se.py))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/sdk|production/examples|production/tests|production/coverage|production/sql/tests/test_fdw.sh))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples|production/sql|production/db|production/cmake|production/tools)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: (any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp|production/tests/workloads|production/inc/gaia/expressions|production/catalog/src/gaia_generate.cpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))) or (any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))

GAIAPLAT-1964: update the error message when an ambiguous field reference is found (#1332)
  .github/workflows/llvm-tests.yml
  production/tools/tests/gaiat/queries_test14.ruleset
  production/tools/tests/gaiat/queries_test17.ruleset
  third_party/production/TranslationEngineLLVM/clang/include/clang/Basic/DiagnosticSemaKinds.td
  third_party/production/TranslationEngineLLVM/clang/test/Parser/gaia_rule_attributes.cpp
  third_party/production/TranslationEngineLLVM/clang/test/Parser/gaia_rule_fields.cpp
Due: fix_double_empty_lines

Added DAC vector iterator and a test
  production/direct_access/tests/test_direct_access.cpp
  production/inc/gaia/direct_access/dac_array.hpp
  production/inc/gaia/direct_access/dac_array.inc
Due: fix_double_empty_lines, cpp_license_check

[GAIAPLAT-2006] Non-deterministic crash when generator_iterator is in… (#1335)
  production/db/core/src/db_server.cpp
  production/db/core/src/index_builder.cpp
  production/db/inc/index/base_index.hpp
  production/db/inc/index/hash_index.hpp
  production/db/inc/index/index.hpp
  production/db/inc/index/index.inc
  production/db/inc/index/index_generator.hpp
  production/db/inc/index/index_generator.inc
  production/db/inc/index/range_index.hpp
  production/db/inc/payload_types/data_buffer.hpp
  production/db/index/src/hash_index.cpp
  production/db/index/src/range_index.cpp
  production/db/payload_types/src/data_buffer.cpp
Due: fix_double_empty_lines, cpp_license_check

Stuff
  production/CMakeLists.txt
  production/catalog/src/ddl_executor.cpp
  production/db/query_processor/tests/test_index_scan.cpp
  production/direct_access/tests/test_insertion_perf.cpp
  production/direct_access/tests/test_insertion_perf2.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Gaiaplat 1799 - Testing caching for long running jobs (#1331)
  .github/workflows/main.yml
Due: fix_double_empty_lines

Revert "Revert "Revert "TEMP: disable record list/index maintenance"""
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

Remove unnecessary std::move for generator.
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

Stuff
  production/direct_access/CMakeLists.txt
  production/direct_access/tests/test_insertion_perf.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

getting tests set up
  dev_tools/docker_dev/Pipfile
  dev_tools/docker_dev/Pipfile.lock
  dev_tools/docker_dev/gdev/__main__.py
  dev_tools/docker_dev/gdev/main.py
  dev_tools/docker_dev/test.sh
  dev_tools/docker_dev/test/__init__.py
  dev_tools/docker_dev/test/pytest_execute.py
  dev_tools/docker_dev/test/test_scenarios.py
Due: fix_double_empty_lines, python_executable_license_check, bash_license_check

Stuff
  production/direct_access/tests/test_insertion_perf.cpp
Due: fix_double_empty_lines, cpp_license_check

test
  .github/workflows/integration-only.yml
Due: fix_double_empty_lines

test
  dev_tools/github-actions/execute_tests_against_package.sh
Due: fix_double_empty_lines, bash_license_check

Gaiaplat 1962 - Moved lint and third-party steps into action.yml. (#1334)
  .github/actions/lint-job/action.yml
  .github/actions/third-party-job/action.yml
  .github/workflows/core.yml
  .github/workflows/cores-and-sdks.yml
  .github/workflows/llvm-tests.yml
  .github/workflows/main.yml
Due: fix_double_empty_lines

created multi_segment_hash object
  production/catalog/src/ddl_executor.cpp
  production/catalog/tests/test_hash_generation.cpp
  production/common/src/hash.cpp
  production/common/tests/test_hash.cpp
  production/inc/gaia_internal/common/hash.hpp
  production/tools/gaia_db_extract/src/gaia_db_extract.cpp
Due: fix_double_empty_lines, cpp_license_check

fixed issue per TB
  dev_tools/sdk/test/github_actions_build.sh
Due: fix_double_empty_lines

Initial gaiat tests for scalar arrays (#1325)
  production/tools/tests/gaiat/arrays_test00.ruleset
  production/tools/tests/gaiat/arrays_test01.ruleset
  production/tools/tests/gaiat/arrays_test02.ruleset
  production/tools/tests/gaiat/arrays_tests.ruleset
  third_party/production/TranslationEngineLLVM/clang/test/Parser/barn_storage.ddl
Due: fix_double_empty_lines

test
  .github/workflows/integration-only.yml
  dev_tools/github-actions/execute_tests_against_package.sh
Due: fix_double_empty_lines, bash_license_check

Remove unnecessary std::move for generator. (#1336)
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

get full ctest failure results on failed tests
  dev_tools/github-actions/post_build_inside_container.sh
Due: fix_double_empty_lines, bash_license_check

Add version documentation; lay foundation for splitting build-project and build-type
  .github/actions/build-job/action.yml
  .github/workflows/README.md
  .github/workflows/core.yml
  .github/workflows/cores-and-sdks.yml
  .github/workflows/llvm-tests.yml
  .github/workflows/main.yml
  production/gdev.cfg
Due: fix_double_empty_lines

Split build-flavor into build-project and build-type
  .github/actions/build-job/action.yml
  .github/workflows/core.yml
  .github/workflows/cores-and-sdks.yml
  .github/workflows/llvm-tests.yml
  .github/workflows/main.yml
Due: fix_double_empty_lines

First cut at stamping the version with a github action run id
  .github/actions/build-job/action.yml
Due: fix_double_empty_lines

Test version stamp info
  .github/actions/build-job/action.yml
Due: fix_double_empty_lines

test
  .github/workflows/integration-only.yml
  .github/workflows/main.yml
  dev_tools/github-actions/execute_tests_against_package.sh
Due: fix_double_empty_lines, bash_license_check

Don't run Final job on pull requests
  .github/workflows/main.yml
Due: fix_double_empty_lines

test
  .github/actions/integration-test-job/action.yml
  .github/workflows/integration-only.yml
Due: fix_double_empty_lines

rearranging facade namespaces and file paths
  production/catalog/CMakeLists.txt
  production/catalog/src/catalog_facade.cpp
  production/catalog/src/compilation_catalog_facade.cpp
  production/catalog/src/dac_generator.cpp
  production/catalog/src/gaiac_catalog_facade.cpp
  production/catalog/src/gaiat_catalog_facade.cpp
  production/catalog/src/translation_catalog_facade.cpp
  production/inc/gaia_internal/catalog/catalog_facade.hpp
  production/inc/gaia_internal/catalog/translation_catalog_facade.hpp
  production/inc/gaia_internal/gaiac/catalog_facade.hpp
  production/tools/gaia_translate/src/main.cpp
  production/tools/gaia_translate/src/table_navigation.cpp
  third_party/production/TranslationEngineLLVM/clang/include/clang/Catalog/GaiaCatalog.h
  third_party/production/TranslationEngineLLVM/clang/lib/Sema/SemaGaia.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Change build-project to build-flavr and other PR feedback
  .github/actions/build-job/action.yml
  .github/workflows/README.md
  .github/workflows/core.yml
  .github/workflows/cores-and-sdks.yml
  .github/workflows/llvm-tests.yml
  .github/workflows/main.yml
Due: fix_double_empty_lines

test
  .github/actions/integration-test-job/action.yml
Due: fix_double_empty_lines

test
  .github/actions/integration-test-job/action.yml
  .github/workflows/integration-only.yml
  .github/workflows/main.yml
Due: fix_double_empty_lines

test
  .github/workflows/main.yml
Due: fix_double_empty_lines

Fix minor text issues
  .github/actions/build-job/action.yml
  .github/workflows/README.md
Due: fix_double_empty_lines
