Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses/|production/tools/gaia_translate/tests/test_translation.ruleset)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py|production/db/core/tests/test_db.py|production/db/core/src/dump_se.py))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/sdk|production/examples|production/tests|production/coverage|production/sql/tests/test_fdw.sh))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples|production/sql|production/db|production/cmake|production/tools)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: (any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp|production/tests/workloads|production/inc/gaia/expressions|production/catalog/src/gaia_generate.cpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))) or (any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))

Add versioning, verbose test failure output, and build-type to CI (#1337)
  .github/actions/build-job/action.yml
  .github/workflows/README.md
  .github/workflows/core.yml
  .github/workflows/cores-and-sdks.yml
  .github/workflows/llvm-tests.yml
  .github/workflows/main.yml
  dev_tools/github-actions/post_build_inside_container.sh
  production/gdev.cfg
Due: fix_double_empty_lines, bash_license_check

Separated array field tests into a new suite
  production/direct_access/CMakeLists.txt
  production/direct_access/tests/test_array_fields.cpp
  production/direct_access/tests/test_direct_access.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

test
  dev_tools/github-actions/execute_tests_against_package.sh
Due: fix_double_empty_lines, bash_license_check

fix the test break
  production/tools/gaia_translate/tests/test_translation.ruleset
Due: none

setting up for final submission
  .github/workflows/main.yml
Due: fix_double_empty_lines

makeing sure workflows are consistent
  .github/workflows/integration-only.yml
  .pre-commit-config.yaml
  dev_tools/github-actions/pre-commit-hooks/verify_child_workflows.py
Due: fix_double_empty_lines, python_executable_license_check

fixing issue with db start
  dev_tools/sdk/test/github_actions_build.sh
Due: fix_double_empty_lines

test
  .github/workflows/main.yml
Due: fix_double_empty_lines

test
  dev_tools/sdk/test/github_actions_build.sh
Due: fix_double_empty_lines

add new header from new directory
  production/inc/gaia_internal/gaiat/catalog_facade.hpp
Due: fix_double_empty_lines, cpp_license_check

GAIAPLAT-1892 - Fixed issue with setup (#1338)
  .github/workflows/main.yml
  production/tests/smoke_suites.sh
  production/tests/smoke_suites_with_persistence.sh
  production/tests/workloads/palletbox/palletbox.cpp
Due: fix_double_empty_lines

Expressions: Array accessor. (#1292)
  production/catalog/src/catalog_facade.cpp
  production/direct_access/tests/test_expressions.cpp
  production/inc/gaia/expressions/accessors/container_accessor.hpp
  production/inc/gaia/expressions/accessors/vector_accessor.hpp
  production/inc/gaia/expressions/accessors/vector_accessor.inc
  production/inc/gaia/expressions/expression_ast.hpp
  production/inc/gaia_internal/catalog/catalog_facade.hpp
Due: fix_double_empty_lines, cpp_license_check

rename value->value_accessor
  production/direct_access/tests/test_expressions_no_dac.cpp
Due: fix_double_empty_lines, cpp_license_check

test
  dev_tools/docker_dev/gdev/cmd/gen/_abc/cfg.py
  dev_tools/docker_dev/gdev/dependency.py
  dev_tools/docker_dev/gdev/parser_structure.py
  dev_tools/docker_dev/test/gdev_execute.py
  dev_tools/docker_dev/test/test_scenarios.py
  dev_tools/gdev/gdev/cmd/gen/_abc/cfg.py
  dev_tools/gdev/gdev/dependency.py
Due: python_executable_license_check

GAIAPLAT-2004 - Allowing new integration tests only workflow to work … (#1333)
  .github/actions/integration-test-job/action.yml
  .github/workflows/integration-only.yml
  .github/workflows/main.yml
  dev_tools/github-actions/execute_tests_against_package.sh
  dev_tools/github-actions/pre-commit-hooks/verify_child_workflows.py
Due: fix_double_empty_lines, python_executable_license_check, bash_license_check

remove empty line.
  production/direct_access/tests/test_expressions_no_dac.cpp
Due: fix_double_empty_lines, cpp_license_check

Expressions: XOR implementation (#1289)
  production/direct_access/tests/test_expressions.cpp
  production/inc/gaia/expressions/builders/expression_builder.hpp
  production/inc/gaia/expressions/operators.hpp
Due: fix_double_empty_lines, cpp_license_check

Expressions: Arithmetic operators (#1290)
  production/catalog/src/catalog_facade.cpp
  production/direct_access/CMakeLists.txt
  production/direct_access/tests/test_expressions.cpp
  production/direct_access/tests/test_expressions_no_dac.cpp
  production/inc/gaia/expressions/accessors/container_accessor.hpp
  production/inc/gaia/expressions/accessors/vector_accessor.hpp
  production/inc/gaia/expressions/accessors/vector_accessor.inc
  production/inc/gaia/expressions/builders/expression_builder.hpp
  production/inc/gaia/expressions/expression_ast.hpp
  production/inc/gaia/expressions/operators.hpp
  production/inc/gaia_internal/catalog/catalog_facade.hpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

manually fix linter spacing
  production/inc/gaia/expressions/builders/expression_builder.hpp
  production/inc/gaia/expressions/operators.hpp
Due: fix_double_empty_lines

Fix compile errors from merge.
  production/direct_access/tests/test_expressions.cpp
  production/inc/gaia/expressions/accessors/vector_accessor.hpp
  production/inc/gaia/expressions/accessors/vector_accessor.inc
  production/inc/gaia/expressions/operators.hpp
Due: fix_double_empty_lines, cpp_license_check

test
  dev_tools/docker_dev/gdev/cmd/cfg.py
  dev_tools/docker_dev/gdev/cmd/dockerfile.py
  dev_tools/docker_dev/gdev/cmd/gen/__init__.py
  dev_tools/docker_dev/gdev/cmd/gen/_abc/cfg.py
  dev_tools/docker_dev/gdev/cmd/gen/_abc/dockerfile.py
  dev_tools/docker_dev/gdev/cmd/gen/_custom/dockerfile.py
  dev_tools/docker_dev/gdev/cmd/gen/apt/dockerfile.py
  dev_tools/docker_dev/gdev/cmd/gen/env/dockerfile.py
  dev_tools/docker_dev/gdev/cmd/gen/gaia/dockerfile.py
  dev_tools/docker_dev/gdev/cmd/gen/git/dockerfile.py
  dev_tools/docker_dev/gdev/cmd/gen/pip/dockerfile.py
  dev_tools/docker_dev/gdev/cmd/gen/pre_run/dockerfile.py
  dev_tools/docker_dev/gdev/cmd/gen/run/dockerfile.py
  dev_tools/docker_dev/gdev/cmd/gen/web/dockerfile.py
  dev_tools/docker_dev/gdev/dependency.py
  dev_tools/docker_dev/gdev/main.py
  dev_tools/docker_dev/gdev/parser_structure.py
  dev_tools/docker_dev/test/conftest.py
  dev_tools/docker_dev/test/gdev_execute.py
  dev_tools/docker_dev/test/test_scenarios.py
  dev_tools/gdev/gdev/dependency.py
Due: python_executable_license_check

test
  dev_tools/docker_dev/test/test_scenarios.py
Due: python_executable_license_check

GAIAPLAT-2004 - Fixing bad merge
  dev_tools/github-actions/execute_tests_against_package.sh
Due: fix_double_empty_lines, bash_license_check

Gaiaplat 2004 (#1339)
  dev_tools/github-actions/execute_tests_against_package.sh
Due: fix_double_empty_lines, bash_license_check

Eliminate use of hard-coded "_t" used to create types in gaiac & gaiat (#1317)
  production/catalog/CMakeLists.txt
  production/catalog/src/catalog_facade.cpp
  production/catalog/src/dac_generator.cpp
  production/catalog/src/ddl_executor.cpp
  production/catalog/src/gaiac_catalog_facade.cpp
  production/catalog/src/gaiat_catalog_facade.cpp
  production/direct_access/tests/test_direct_access.cpp
  production/inc/gaia_internal/catalog/catalog_facade.hpp
  production/inc/gaia_internal/gaiac/catalog_facade.hpp
  production/inc/gaia_internal/gaiat/catalog_facade.hpp
  production/tools/gaia_db_extract/src/gaia_db_extract.cpp
  production/tools/gaia_translate/src/main.cpp
  production/tools/gaia_translate/src/table_navigation.cpp
  production/tools/gaia_translate/tests/test_amr_swarm.cpp
  third_party/production/TranslationEngineLLVM/clang/include/clang/Catalog/GaiaCatalog.h
  third_party/production/TranslationEngineLLVM/clang/lib/Sema/SemaGaia.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

fix merge
  production/catalog/src/catalog_facade.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix race between socket write and close of duplicated read end
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

Preliminary fix
  production/schemas/test/addr_book/addr_book.ddl
  production/tools/gaia_translate/src/main.cpp
  production/tools/gaia_translate/tests/test_array.cpp
  production/tools/gaia_translate/tests/test_array.ruleset
Due: fix_double_empty_lines, db_license_check, cpp_license_check

Fix an issue with insert arguments having Initialization List Expression containing declarative expressions
  production/tools/gaia_translate/src/main.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix broken test
  production/tools/gaia_translate/tests/test_array.cpp
  production/tools/gaia_translate/tests/test_array.ruleset
Due: fix_double_empty_lines, cpp_license_check

test
  .github/workflows/performance-only.yml
Due: fix_double_empty_lines

test
  dev_tools/github-actions/execute_tests_against_package.sh
  dev_tools/sdk/test/build_sample_for_github_actions.sh
Due: fix_double_empty_lines, bash_license_check

test
  .github/workflows/main.yml
  dev_tools/github-actions/execute_tests_against_package.sh
Due: fix_double_empty_lines, bash_license_check

GAIAPLAT-2001 - Updating Integration Tests job to include palletbox
  .github/workflows/main.yml
Due: fix_double_empty_lines

test
  .github/workflows/integration-only.yml
Due: fix_double_empty_lines

Fix lint issue
  production/tools/gaia_translate/tests/test_array.cpp
Due: fix_double_empty_lines, cpp_license_check
