Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses/|production/tools/gaia_translate/tests/test_translation.ruleset)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py|production/db/core/tests/test_db.py|production/db/core/src/dump_se.py))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/sdk|production/examples|production/tests|production/coverage|production/sql/tests/test_fdw.sh))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples|production/sql|production/db|production/cmake|production/tools)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: (any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp|production/tests/workloads|production/inc/gaia/expressions|production/catalog/src/gaia_generate.cpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))) or (any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))

Modified schema to make VLR connections more obvious
  production/examples/rules_vlr/rules_vlr.cpp
  production/examples/rules_vlr/rules_vlr.ddl
  production/examples/rules_vlr/rules_vlr.ruleset
Due: fix_double_empty_lines, cpp_license_check, db_license_check_eamples

Inserting and deleting records with a VLR
  production/examples/value_linked_relationships/vlr_example.cpp
  production/examples/value_linked_relationships/vlr_example.ddl
Due: fix_double_empty_lines, cpp_license_check, db_license_check_eamples

Added ruleset
  production/examples/value_linked_relationships/CMakeLists.txt
  production/examples/value_linked_relationships/vlr_example.ruleset
Due: fix_double_empty_lines, cpp_license_check, cmake_license_check_examples

Started VLR example
  production/examples/value_linked_relationships/CMakeLists.txt
  production/examples/value_linked_relationships/README.md
  production/examples/value_linked_relationships/vlr_example.cpp
  production/examples/value_linked_relationships/vlr_example.ddl
Due: fix_double_empty_lines, cpp_license_check, cmake_license_check_examples, db_license_check_eamples

Added poor man's build steps to VLR example README
  production/examples/value_linked_relationships/README.md
Due: fix_double_empty_lines

Added comments and changed how a record is fetched
  production/examples/value_linked_relationships/vlr_example.cpp
Due: fix_double_empty_lines, cpp_license_check

Combined inserting and updating functions in the VLR procedural code; removed unused_floor_num
  production/examples/value_linked_relationships/vlr_example.cpp
Due: fix_double_empty_lines, cpp_license_check

Removed unused header inclusions
  production/examples/value_linked_relationships/vlr_example.cpp
Due: fix_double_empty_lines, cpp_license_check

Fixed license headers
  production/examples/value_linked_relationships/vlr_example.cpp
  production/examples/value_linked_relationships/vlr_example.ddl
  production/examples/value_linked_relationships/vlr_example.ruleset
Due: fix_double_empty_lines, cpp_license_check, db_license_check_eamples

Simplified rule
  production/examples/value_linked_relationships/vlr_example.ruleset
Due: fix_double_empty_lines, cpp_license_check

Rewrote VLR example for the people/floors scenario
  production/examples/value_linked_relationships/CMakeLists.txt
  production/examples/value_linked_relationships/vlr_example.cpp
  production/examples/value_linked_relationships/vlr_example.ddl
  production/examples/value_linked_relationships/vlr_example.ruleset
Due: fix_double_empty_lines, cpp_license_check, cmake_license_check_examples, db_license_check_eamples

Style, comments, and renaming
  production/examples/value_linked_relationships/vlr_example.cpp
  production/examples/value_linked_relationships/vlr_example.ddl
  production/examples/value_linked_relationships/vlr_example.ruleset
Due: fix_double_empty_lines, cpp_license_check, db_license_check_eamples

Fixed whitespace and trailing lines
  production/examples/value_linked_relationships/vlr_example.cpp
  production/examples/value_linked_relationships/vlr_example.ruleset
Due: fix_double_empty_lines, cpp_license_check

Example: VLR in a Rule (#1293)
  production/examples/direct_access_vlr/CMakeLists.txt
  production/examples/direct_access_vlr/README.md
  production/examples/direct_access_vlr/direct_access_vlr.cpp
  production/examples/direct_access_vlr/direct_access_vlr.ddl
  production/examples/direct_access_vlr/direct_access_vlr.ruleset
  production/examples/rules_vlr/CMakeLists.txt
  production/examples/rules_vlr/README.md
  production/examples/rules_vlr/rules_vlr.cpp
  production/examples/rules_vlr/rules_vlr.ddl
  production/examples/rules_vlr/rules_vlr.ruleset
Due: fix_double_empty_lines, cpp_license_check, cmake_license_check_examples, db_license_check_eamples

Renamed floor to level
  production/examples/value_linked_relationships/vlr_example.cpp
  production/examples/value_linked_relationships/vlr_example.ddl
  production/examples/value_linked_relationships/vlr_example.ruleset
Due: fix_double_empty_lines, cpp_license_check, db_license_check_eamples

Renamed floor.num to floor.floor_number
  production/examples/value_linked_relationships/vlr_example.cpp
  production/examples/value_linked_relationships/vlr_example.ddl
  production/examples/value_linked_relationships/vlr_example.ruleset
Due: fix_double_empty_lines, cpp_license_check, db_license_check_eamples

Update template messages
  production/sdk/debian/templates.in
Due: fix_double_empty_lines

Add more tests
  production/tools/gaia_translate/tests/test_array.cpp
  production/tools/gaia_translate/tests/test_array.ruleset
Due: fix_double_empty_lines, cpp_license_check

futex fix
  production/db/core/inc/txn_metadata.hpp
  production/db/core/inc/txn_metadata.inc
  production/db/core/src/async_disk_writer.cpp
  production/db/core/src/db_server.cpp
  production/inc/gaia_internal/common/futex_helpers.hpp
Due: fix_double_empty_lines, cpp_license_check

Capitalize database server
  production/sdk/debian/templates.in
Due: fix_double_empty_lines

Fix sporadic failure in test_two_rules
  production/rules/event_manager/tests/test_rule_integration.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix sporadic failure in test_two_rules (#1319)
  production/rules/event_manager/tests/test_rule_integration.cpp
Due: fix_double_empty_lines, cpp_license_check

Simplify formatting
  production/db/core/tests/test_concurrent_db_client.cpp
Due: fix_double_empty_lines, cpp_license_check

Add code generation support for scalar array fields (#1311)
  production/inc/gaia/direct_access/dac_array.hpp
  production/schemas/test/addr_book/addr_book.ddl
  production/tools/gaia_translate/CMakeLists.txt
  production/tools/gaia_translate/src/main.cpp
  production/tools/gaia_translate/tests/test_array.cpp
  production/tools/gaia_translate/tests/test_array.ruleset
Due: fix_double_empty_lines, db_license_check, cpp_license_check

Fix dac array nullable case
  production/catalog/src/catalog_facade.cpp
  production/catalog/src/fbs_generator.cpp
  production/direct_access/tests/test_direct_access.cpp
  production/inc/gaia/direct_access/dac_array.hpp
Due: fix_double_empty_lines, cpp_license_check

Update test customer name
  production/direct_access/tests/test_direct_access.cpp
Due: fix_double_empty_lines, cpp_license_check

Update fbs generated code for catalog dac
  production/inc/gaia_internal/catalog/catalog_generated.h
Due: none

Remove null check
  production/inc/gaia/direct_access/dac_array.hpp
Due: fix_double_empty_lines, cpp_license_check

Update test name and add some comments
  production/direct_access/tests/test_direct_access.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix merging issue with master
  production/inc/gaia/direct_access/dac_array.hpp
Due: fix_double_empty_lines, cpp_license_check

TEMP: disable record list/index maintenance
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix gaiat unit tests
  production/tools/gaia_translate/tests/test_array.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix persist_pending_writes
  production/db/core/inc/db_server.hpp
  production/db/core/inc/log_io.hpp
  production/db/core/src/db_server.cpp
  production/db/core/src/log_io.cpp
  production/inc/gaia_internal/common/fd_helpers.hpp
Due: fix_double_empty_lines, cpp_license_check

GAIAPLAT-1974 : Adding debug sdk
  .github/workflows/cores-and-sdks.yml
  .github/workflows/main.yml
Due: fix_double_empty_lines

Fix dac array nullable case (#1318)
  production/catalog/src/catalog_facade.cpp
  production/catalog/src/fbs_generator.cpp
  production/direct_access/tests/test_direct_access.cpp
  production/inc/gaia/direct_access/dac_array.hpp
  production/inc/gaia_internal/catalog/catalog_generated.h
  production/tools/gaia_translate/tests/test_array.cpp
Due: fix_double_empty_lines, cpp_license_check

Add .deb install option regarding gaia systemd service (#1313)
  production/sdk/CMakeLists.txt
  production/sdk/debian/postinst.in
  production/sdk/debian/templates.in
Due: fix_double_empty_lines, cmake_license_check

GAIAPLAT-1996 - Hardening of coverage script and removal of LLVM coverage data.
  production/coverage/gen_coverage.sh
Due: fix_double_empty_lines

test
  .github/workflows/main.yml
Due: fix_double_empty_lines

GAIAPLAT-1974 - removed "job_name" env var and changed multiple cfg-enables arguments to comma separated
  dev_tools/gdev/gdev/dependency.py
  dev_tools/github-actions/build_image.sh
Due: fix_double_empty_lines, bash_license_check

Resetting main.yml back to normal.
  .github/workflows/main.yml
Due: fix_double_empty_lines
