Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses/|production/tools/gaia_translate/tests/test_translation.ruleset)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py|production/db/core/tests/test_db.py|production/db/core/src/dump_se.py))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/sdk|production/examples|production/tests|production/coverage|production/sql/tests/test_fdw.sh))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples|production/sql|production/db|production/cmake|production/tools)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: (any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp|production/tests/workloads|production/inc/gaia/expressions|production/catalog/src/gaia_generate.cpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))) or (any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))

Gaiaplat 1996 - Coverage job improvements (#1321)
  production/coverage/gen_coverage.sh
Due: fix_double_empty_lines

Adjusting integration tests to work with debug versions.
  dev_tools/github-actions/execute_tests_against_package.sh
Due: fix_double_empty_lines, bash_license_check

class and file name changes based on PR feedback
  production/catalog/CMakeLists.txt
  production/catalog/inc/compilation_catalog_facade.hpp
  production/catalog/src/catalog_facade.cpp
  production/catalog/src/compilation_catalog_facade.cpp
  production/catalog/src/dac_generator.cpp
  production/catalog/src/gaiac_catalog_facade.cpp
  production/direct_access/tests/test_direct_access.cpp
  production/inc/gaia_internal/catalog/catalog_facade.hpp
  production/inc/gaia_internal/catalog/translation_catalog_facade.hpp
  production/tools/gaia_translate/CMakeLists.txt
  production/tools/gaia_translate/src/gaiat_catalog_facade.cpp
  production/tools/gaia_translate/src/main.cpp
  production/tools/gaia_translate/src/table_navigation.cpp
  production/tools/gaia_translate/src/translation_catalog_facade.cpp
  third_party/production/TranslationEngineLLVM/clang/include/clang/Catalog/GaiaCatalog.h
  third_party/production/TranslationEngineLLVM/clang/lib/Sema/SemaGaia.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Rules VLR example: made student.room_id an optional field
  production/examples/rules_vlr/rules_vlr.cpp
  production/examples/rules_vlr/rules_vlr.ddl
Due: fix_double_empty_lines, cpp_license_check, db_license_check_eamples

Revert "TEMP: disable record list/index maintenance"
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

Address PR feedback
  production/examples/direct_access/hospital.cpp
Due: fix_double_empty_lines, cpp_license_check

GAIAPLAT-1799 - Start of adding performance tests to builds.
  .github/workflows/main.yml
  dev_tools/github-actions/execute_tests_against_package.sh
  production/tests/performance_suites.sh
Due: fix_double_empty_lines, bash_license_check

Update unit test
  production/direct_access/tests/test_one_to_one.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix an 1:1 deletion bug
  production/db/core/src/catalog_core.cpp
  production/db/core/src/type_metadata.cpp
  production/direct_access/tests/test_one_to_one.cpp
  production/inc/gaia_internal/db/catalog_core.hpp
Due: fix_double_empty_lines, cpp_license_check

Changed cmake script include location for SDK usage
  production/examples/direct_access_vlr/CMakeLists.txt
  production/examples/rules_vlr/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check_examples

Fix a type matadata bug (#1324)
  production/db/core/src/catalog_core.cpp
  production/db/core/src/type_metadata.cpp
  production/direct_access/tests/test_one_to_one.cpp
  production/inc/gaia_internal/db/catalog_core.hpp
Due: fix_double_empty_lines, cpp_license_check

initial gaiat tests for scalar arrays
  production/tools/tests/gaiat/arrays_test00.ruleset
  production/tools/tests/gaiat/arrays_test01.ruleset
  production/tools/tests/gaiat/arrays_test02.ruleset
  production/tools/tests/gaiat/arrays_tests.ruleset
  third_party/production/TranslationEngineLLVM/clang/test/Parser/barn_storage.ddl
Due: fix_double_empty_lines

Wrote README for Direct Access VLR example
  production/examples/direct_access_vlr/README.md
Due: fix_double_empty_lines

[GAIAPLAT-1992] Add optional to direct_acess examples (#1315)
  production/examples/direct_access/CMakeLists.txt
  production/examples/direct_access/hospital.cpp
  production/examples/direct_access/hospital.ddl
Due: fix_double_empty_lines, cpp_license_check, cmake_license_check_examples, db_license_check_eamples

Wrote README for Rules VLR example
  production/examples/rules_vlr/README.md
Due: fix_double_empty_lines

Modified example README headers and added comments about VLRs to example DDLs
  production/examples/direct_access_vlr/README.md
  production/examples/direct_access_vlr/direct_access_vlr.ddl
  production/examples/rules_vlr/README.md
  production/examples/rules_vlr/rules_vlr.ddl
Due: fix_double_empty_lines, db_license_check_eamples

Added both VLR examples to the SDK CMakeList
  production/sdk/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

Improved table-deleting function for Direct Access VLR example
  production/examples/direct_access_vlr/direct_access_vlr.cpp
Due: fix_double_empty_lines, cpp_license_check

Updated license headers
  production/examples/direct_access_vlr/CMakeLists.txt
  production/examples/direct_access_vlr/direct_access_vlr.cpp
  production/examples/direct_access_vlr/direct_access_vlr.ddl
  production/examples/direct_access_vlr/direct_access_vlr.ruleset
  production/examples/rules_vlr/CMakeLists.txt
  production/examples/rules_vlr/rules_vlr.cpp
  production/examples/rules_vlr/rules_vlr.ddl
  production/examples/rules_vlr/rules_vlr.ruleset
Due: fix_double_empty_lines, cpp_license_check, cmake_license_check_examples, db_license_check_eamples

Removed ruleset from Direct Access VLR example
  production/examples/direct_access_vlr/CMakeLists.txt
  production/examples/direct_access_vlr/README.md
  production/examples/direct_access_vlr/direct_access_vlr.cpp
  production/examples/direct_access_vlr/direct_access_vlr.ruleset
  production/examples/rules_vlr/CMakeLists.txt
  production/sdk/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check, cmake_license_check_examples

Fixed license header leading whitespace
  production/examples/direct_access_vlr/direct_access_vlr.ddl
  production/examples/rules_vlr/rules_vlr.ddl
  production/examples/rules_vlr/rules_vlr.ruleset
Due: fix_double_empty_lines, cpp_license_check, db_license_check_eamples

Minor formatting fix
  production/examples/direct_access_vlr/direct_access_vlr.cpp
Due: fix_double_empty_lines, cpp_license_check

[GAIAPLAT-1995] Transaction conflicts cause server segmentation fault
  production/db/inc/index/index.inc
  production/db/inc/index/index_generator.hpp
  production/db/inc/index/index_generator.inc
  production/db/index/src/hash_index.cpp
  production/db/index/src/range_index.cpp
Due: fix_double_empty_lines, cpp_license_check

Addressed PR feedback about comments and READMEs
  production/examples/direct_access_vlr/README.md
  production/examples/direct_access_vlr/direct_access_vlr.cpp
  production/examples/direct_access_vlr/direct_access_vlr.ddl
  production/examples/rules_vlr/README.md
  production/examples/rules_vlr/rules_vlr.ddl
Due: fix_double_empty_lines, cpp_license_check, db_license_check_eamples

Replaced level with floor
  production/examples/direct_access_vlr/README.md
  production/examples/direct_access_vlr/direct_access_vlr.cpp
  production/examples/direct_access_vlr/direct_access_vlr.ddl
Due: fix_double_empty_lines, cpp_license_check, db_license_check_eamples

GAIAPLAT-1799 - Start of adding performance tests to builds. (#1323)
  .github/workflows/main.yml
  dev_tools/github-actions/execute_tests_against_package.sh
  production/tests/performance_suites.sh
Due: fix_double_empty_lines, bash_license_check

GAIAPLAT-1892 - Fixed issue with setup
  production/tests/smoke_suites.sh
  production/tests/smoke_suites_with_persistence.sh
  production/tests/workloads/palletbox/palletbox.cpp
Due: fix_double_empty_lines

rearranging namespaces and file locations
  production/catalog/CMakeLists.txt
  production/catalog/src/translation_catalog_facade.cpp
  production/inc/gaia_internal/catalog/translation_catalog_facade.hpp
  production/tools/gaia_translate/CMakeLists.txt
  production/tools/gaia_translate/src/main.cpp
  production/tools/gaia_translate/src/table_navigation.cpp
  third_party/production/TranslationEngineLLVM/clang/lib/Sema/SemaGaia.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

added test descriptions
  production/tools/tests/gaiat/arrays_tests.ruleset
Due: fix_double_empty_lines

GAIAPLAT-1962 - Adding setup-job action as part of workflows.
  .github/actions/setup-job/action.yml
  .github/workflows/core.yml
  .github/workflows/cores-and-sdks.yml
  .github/workflows/llvm-tests.yml
  .github/workflows/main.yml
Due: fix_double_empty_lines

test for LC
  production/db/core/inc/db_client.inc
  production/db/core/src/db_client.cpp
Due: fix_double_empty_lines, cpp_license_check

GAIAPLAT-1962 - Adding setup-job action as part of workflows. (#1328)
  .github/actions/setup-job/action.yml
  .github/workflows/core.yml
  .github/workflows/cores-and-sdks.yml
  .github/workflows/llvm-tests.yml
  .github/workflows/main.yml
Due: fix_double_empty_lines

First commit
  production/catalog/src/ddl_executor.cpp
  production/direct_access/CMakeLists.txt
  production/direct_access/tests/test_insertion_perf.cpp
  production/examples/clearpath/.gitignore
  production/examples/clearpath/CMakeLists.txt
  production/examples/clearpath/gaia/clearpath.ddl
  production/examples/clearpath/include/graph.hpp
  production/examples/clearpath/include/vertex_types.hpp
  production/examples/clearpath/src/gaia_bench.cpp
  production/examples/clearpath/src/graph.cpp
  production/examples/clearpath/src/main.cpp
  production/examples/clearpath/src/sqlite3_bench.cpp
  production/schemas/test/CMakeLists.txt
  production/schemas/test/insert/insert.ddl
Due: fix_double_empty_lines, cmake_license_check, db_license_check, cpp_license_check, cmake_license_check_examples, db_license_check_eamples

Added comments about bounds and removed some redundant argument passing.
  production/db/inc/index/index.inc
  production/db/inc/index/index_generator.hpp
  production/db/inc/index/index_generator.inc
  production/db/inc/index/index_key.hpp
  production/db/index/src/hash_index.cpp
  production/db/index/src/index.cpp
  production/db/index/src/range_index.cpp
Due: fix_double_empty_lines, cpp_license_check

GAIAPLAT-1962 - Adding in build-job and coverage-job actions.
  .github/actions/build-job/action.yml
  .github/actions/coverage-job/action.yml
  .github/actions/setup-job/action.yml
  .github/workflows/core.yml
  .github/workflows/cores-and-sdks.yml
  .github/workflows/llvm-tests.yml
  .github/workflows/main.yml
  dev_tools/github-actions/build_image.sh
  dev_tools/github-actions/post_build_action.sh
  dev_tools/github-actions/post_build_inside_container.sh
Due: fix_double_empty_lines, bash_license_check

Revert "Revert "TEMP: disable record list/index maintenance""
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

fixing whitespace
  .github/workflows/main.yml
Due: fix_double_empty_lines
