Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples, cpp_license_check_examples

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py))|(^.+\_\_init\_\_\.py)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/docker_dev|production/examples))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cpp_license_check_examples: any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))

Use relaxed atomics where possible in type index (#1441)
  production/db/core/inc/type_index.hpp
  production/db/core/inc/type_index.inc
  production/db/core/tests/test_type_index.cpp
Due: fix_double_empty_lines, cpp_license_check

Remove system event_log database
  production/catalog/src/ddl_executor.cpp
  production/catalog/tests/test_ddl_execution.cpp
  production/catalog/tests/test_ddl_executor.cpp
  production/inc/gaia_internal/catalog/catalog.hpp
  production/inc/gaia_internal/common/system_table_types.hpp
  production/rules/event_manager/flatbuffers/event_log.fbs
  production/rules/event_manager/tests/test_event_manager.cpp
  production/schemas/system/CMakeLists.txt
  production/schemas/system/rules/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Add a quick exit to gc_indexes_from_txn_log()
  production/db/core/inc/db_internal_types.hpp
  production/db/core/src/index_builder.cpp
Due: fix_double_empty_lines, cpp_license_check

Add a quick exit to gc_indexes_from_txn_log() (#1442)
  production/db/core/inc/db_internal_types.hpp
  production/db/core/src/index_builder.cpp
Due: fix_double_empty_lines, cpp_license_check

Add comment on relaxed load
  production/db/core/inc/type_index.inc
Due: fix_double_empty_lines, cpp_license_check

Add comment on relaxed load (#1443)
  production/db/core/inc/type_index.inc
Due: fix_double_empty_lines, cpp_license_check

Address PR comments
  production/tools/gaia_translate/src/main.cpp
  production/tools/tests/gaiat/arrays_test00.ruleset
  production/tools/tests/gaiat/connect_disconnect_test01.ruleset
  production/tools/tests/gaiat/connect_disconnect_test02.ruleset
  production/tools/tests/gaiat/tags_test06.ruleset
  third_party/production/TranslationEngineLLVM/clang/test/Parser/gaia_test_extensions.cpp
Due: fix_double_empty_lines, cpp_license_check

Don't use CAS to mark allocation bits
  production/db/core/src/chunk_manager.cpp
Due: fix_double_empty_lines, cpp_license_check

Make connect/disconnect more symmetrical (#1433)
  production/schemas/test/prerequisites/prerequisites.ddl
  production/tools/gaia_translate/src/main.cpp
  production/tools/gaia_translate/tests/test_connect_disconnect.cpp
  production/tools/gaia_translate/tests/test_rulesets.ruleset
  production/tools/tests/gaiat/arrays_test00.ruleset
  production/tools/tests/gaiat/connect_disconnect_test01.ruleset
  production/tools/tests/gaiat/connect_disconnect_test02.ruleset
  production/tools/tests/gaiat/tags_test06.ruleset
  third_party/production/TranslationEngineLLVM/clang/include/clang/Catalog/GaiaCatalog.h
  third_party/production/TranslationEngineLLVM/clang/include/clang/Sema/Sema.h
  third_party/production/TranslationEngineLLVM/clang/lib/Catalog/GaiaCatalog.cpp
  third_party/production/TranslationEngineLLVM/clang/lib/Sema/SemaGaia.cpp
  third_party/production/TranslationEngineLLVM/clang/test/Parser/barn_storage.ddl
  third_party/production/TranslationEngineLLVM/clang/test/Parser/gaia_connect_disconnect.cpp
  third_party/production/TranslationEngineLLVM/clang/test/Parser/gaia_paths.cpp
  third_party/production/TranslationEngineLLVM/clang/test/Parser/gaia_rule_attributes.cpp
  third_party/production/TranslationEngineLLVM/clang/test/Parser/gaia_rule_context.cpp
  third_party/production/TranslationEngineLLVM/clang/test/Parser/gaia_rule_fields.cpp
  third_party/production/TranslationEngineLLVM/clang/test/Parser/gaia_test_extensions.cpp
Due: fix_double_empty_lines, db_license_check, cpp_license_check

Fix n issue with incorrect code generation
  production/tools/gaia_translate/src/main.cpp
  production/tools/gaia_translate/tests/test_translation.ruleset
Due: fix_double_empty_lines, cpp_license_check

Don't use CAS to mark allocation bits
  production/db/memory_manager/src/chunk_manager.cpp
Due: fix_double_empty_lines, cpp_license_check

Use relaxed loads and stores in bitmap ops
  production/db/memory_manager/src/bitmap.cpp
Due: fix_double_empty_lines, cpp_license_check

Add c_num_iterations
  production/examples/sqlite3/src/sqlite3_bench_simple.cpp
Due: fix_double_empty_lines, cpp_license_check_examples

Update the catalog headers since the constants have changed
  production/inc/gaia_internal/catalog/gaia_catalog.h
Due: none

Add indexes benchamrk
  production/examples/sqlite3/src/sqlite3_bench_simple.cpp
Due: fix_double_empty_lines, cpp_license_check_examples

Improve indexes benchmarks
  production/direct_access/tests/test_insertion_perf.cpp
  production/direct_access/tests/test_read_perf.cpp
  production/schemas/test/insert/insert.ddl
Due: fix_double_empty_lines, db_license_check, cpp_license_check

Update test_insertion_perf.cpp
  production/direct_access/tests/test_insertion_perf.cpp
Due: fix_double_empty_lines, cpp_license_check

formatting
  production/db/memory_manager/src/bitmap.cpp
Due: fix_double_empty_lines, cpp_license_check

Use relaxed loads and stores in bitmap operations (#1446)
  production/db/memory_manager/src/bitmap.cpp
Due: fix_double_empty_lines, cpp_license_check

Improve indexes benchmarks (#1448)
  production/direct_access/tests/test_insertion_perf.cpp
  production/direct_access/tests/test_read_perf.cpp
  production/schemas/test/insert/insert.ddl
Due: fix_double_empty_lines, db_license_check, cpp_license_check

Improve benchmakrk code reusability
  production/direct_access/tests/test_insertion_perf.cpp
Due: fix_double_empty_lines, cpp_license_check

More stuff
  production/db/memory_manager/src/bitmap.cpp
  production/direct_access/tests/test_insertion_perf.cpp
Due: fix_double_empty_lines, cpp_license_check

Remove the event_log database and table. (#1447)
  production/catalog/src/ddl_executor.cpp
  production/catalog/tests/test_ddl_execution.cpp
  production/catalog/tests/test_ddl_executor.cpp
  production/inc/gaia_internal/catalog/catalog.hpp
  production/inc/gaia_internal/catalog/gaia_catalog.h
  production/inc/gaia_internal/common/system_table_types.hpp
  production/rules/event_manager/flatbuffers/event_log.fbs
  production/rules/event_manager/tests/test_event_manager.cpp
  production/schemas/system/CMakeLists.txt
  production/schemas/system/rules/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Small refactor to optimize string composing
  third_party/production/TranslationEngineLLVM/clang/lib/Sema/SemaGaia.cpp
Due: none

Change 'gaiac' to 'ddl' in names and use session options
  production/db/core/inc/db_client.hpp
  production/db/core/inc/db_server.hpp
  production/db/core/src/db_client.cpp
  production/db/core/src/db_client_api.cpp
  production/db/core/src/db_client_config.cpp
  production/db/core/src/db_server.cpp
  production/db/core/src/flatbuffers/messages.fbs
  production/inc/gaia_internal/db/db_catalog_test_base.hpp
  production/inc/gaia_internal/db/db_client_config.hpp
  production/inc/gaia_internal/db/db_test_base.hpp
Due: fix_double_empty_lines, cpp_license_check

Add DDL sessions for performing DDL operations
  production/catalog/gaiac/src/main.cpp
  production/catalog/tests/test_rule_tables.cpp
  production/db/core/inc/db_client.hpp
  production/db/core/inc/db_server.hpp
  production/db/core/src/db_client.cpp
  production/db/core/src/db_client_api.cpp
  production/db/core/src/db_server.cpp
  production/db/core/src/flatbuffers/messages.fbs
  production/db/core/src/index_builder.cpp
  production/direct_access/CMakeLists.txt
  production/direct_access/tests/test_insert_perf.cpp
  production/inc/gaia_internal/db/db.hpp
  production/inc/gaia_internal/db/db_catalog_test_base.hpp
  production/inc/gaia_internal/db/db_test_base.hpp
  production/system/src/gaia_system.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Fix gaia::system::initialize()
  production/system/src/gaia_system.cpp
Due: fix_double_empty_lines, cpp_license_check

Add comments to gaia::system::initialize()
  production/system/src/gaia_system.cpp
Due: fix_double_empty_lines, cpp_license_check

Add DDL sessions for performing DDL operations (#1444)
  production/catalog/gaiac/src/main.cpp
  production/catalog/tests/test_rule_tables.cpp
  production/db/core/inc/db_server.hpp
  production/db/core/src/db_client.cpp
  production/db/core/src/db_client_api.cpp
  production/db/core/src/db_client_config.cpp
  production/db/core/src/db_server.cpp
  production/db/core/src/flatbuffers/messages.fbs
  production/db/core/src/index_builder.cpp
  production/direct_access/CMakeLists.txt
  production/direct_access/tests/test_insert_perf.cpp
  production/inc/gaia_internal/db/db.hpp
  production/inc/gaia_internal/db/db_catalog_test_base.hpp
  production/inc/gaia_internal/db/db_client_config.hpp
  production/inc/gaia_internal/db/db_test_base.hpp
  production/system/src/gaia_system.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Fix an issue with incorrect code generation (#1445)
  production/tools/gaia_translate/src/main.cpp
  production/tools/gaia_translate/tests/test_translation.ruleset
  third_party/production/TranslationEngineLLVM/clang/lib/Sema/SemaGaia.cpp
Due: fix_double_empty_lines, cpp_license_check

Reduce the amount of repeated code in the insertion benchmarks (#1449)
  production/direct_access/tests/test_insert_perf.cpp
Due: fix_double_empty_lines, cpp_license_check

Remove unused parameteres of db server event handlers
  production/db/core/inc/db_server.hpp
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

Remove unused parameteres of db server event handlers (#1450)
  production/db/core/inc/db_server.hpp
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

Initialize session_options_t to fix UBSan error
  production/db/core/src/db_client.cpp
  production/db/core/src/db_client_config.cpp
  production/inc/gaia_internal/db/db_client_config.hpp
Due: fix_double_empty_lines, cpp_license_check

Initialize session_options_t to fix UBSan error (#1451)
  production/db/core/src/db_client.cpp
  production/db/core/src/db_client_config.cpp
  production/inc/gaia_internal/db/db_client_config.hpp
Due: fix_double_empty_lines, cpp_license_check

Add an ability to forcefully remove a record from a ruleset.
  production/tools/gaia_translate/src/main.cpp
  production/tools/gaia_translate/tests/test_connect_disconnect.cpp
  production/tools/gaia_translate/tests/test_rulesets.ruleset
  production/tools/tests/gaiat/insert_delete_tests.ruleset
  third_party/production/TranslationEngineLLVM/clang/lib/Sema/SemaGaia.cpp
Due: fix_double_empty_lines, cpp_license_check

Add update becnhamrks
  production/examples/sqlite3/src/sqlite3_bench_simple.cpp
Due: fix_double_empty_lines, cpp_license_check_examples

Add update benchmark
  production/direct_access/tests/test_read_perf.cpp
Due: fix_double_empty_lines, cpp_license_check
