Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples, cpp_license_check_examples

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py))|(^.+\_\_init\_\_\.py)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/docker_dev|production/examples))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cpp_license_check_examples: any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))

Fix
  production/inc/gaia/internal/direct_access/dac_iterators.inc
Due: fix_double_empty_lines, cpp_license_check

Fix
  production/db/core/src/gaia_ptr_api.cpp
Due: fix_double_empty_lines, cpp_license_check

CI Fix: Ensure SDK symlinks point to correct lib install path. (#1464)
  production/sdk/debian/links.in
Due: fix_double_empty_lines

Add sqlite_orm and objectbox benchmarks
  production/examples/sqlite3/CMakeLists.txt
  production/examples/sqlite3/src/objectbox-model.json
  production/examples/sqlite3/src/objectbox/objectbox-model.h
  production/examples/sqlite3/src/objectbox/simple-table.obx.cpp
  production/examples/sqlite3/src/objectbox/simple-table.obx.hpp
  production/examples/sqlite3/src/objectbox_bench.cpp
  production/examples/sqlite3/src/simple-table.fbs
  production/examples/sqlite3/src/sqlite3_bench.cpp
  production/examples/sqlite3/src/sqlite3_bench_orm.cpp
  production/examples/sqlite3/src/sqlite3_bench_simple.cpp
  production/schemas/test/insert/insert.ddl
  production/schemas/test/perf_basic/perf_basic.ddl
Due: fix_double_empty_lines, db_license_check, cmake_license_check_examples, cpp_license_check_examples

Address PR feedback
  production/db/core/CMakeLists.txt
  production/db/core/src/gaia_ptr_client.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

[GAIAPLAT-2138] value_linked_reference_container_t::begin() when m_anchor_id = 0 (#1465)
  production/db/core/CMakeLists.txt
  production/db/core/src/gaia_ptr_api.cpp
  production/direct_access/tests/test_auto_connect.cpp
  production/inc/gaia/internal/direct_access/dac_iterators.inc
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Change shared counters to size_t and remove unused last_type counter
  production/db/core/inc/db_helpers.hpp
  production/db/core/inc/db_internal_types.hpp
  production/db/core/src/db_server.cpp
  production/db/core/src/gaia_ptr.cpp
  production/db/core/src/persistent_store_manager.cpp
Due: fix_double_empty_lines, cpp_license_check

Add assert on last locator value
  production/db/core/inc/db_helpers.hpp
Due: fix_double_empty_lines, cpp_license_check

Disable asserts in release builds
  production/db/core/inc/db_helpers.hpp
  production/db/core/src/gaia_ptr.cpp
Due: fix_double_empty_lines, cpp_license_check

Change shared counters to size_t and remove unused last_type counter (#1466)
  production/db/core/inc/db_helpers.hpp
  production/db/core/inc/db_internal_types.hpp
  production/db/core/src/db_server.cpp
  production/db/core/src/gaia_ptr.cpp
  production/db/core/src/persistent_store_manager.cpp
Due: fix_double_empty_lines, cpp_license_check

Enable incremental maintenance of locator snapshot across transactions
  production/db/core/inc/db_helpers.hpp
  production/db/core/inc/db_server.hpp
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

Add 2 more relationship perf tests and some test fixes
  production/direct_access/tests/test_insert_perf_rel.cpp
Due: fix_double_empty_lines, cpp_license_check

Use min() for determining iteration count
  production/direct_access/tests/test_insert_perf_rel.cpp
Due: fix_double_empty_lines, cpp_license_check

Add 2 more relationship perf tests and some test fixes (#1468)
  production/direct_access/tests/test_insert_perf_rel.cpp
Due: fix_double_empty_lines, cpp_license_check

Add a ton of stuff'
  production/examples/sqlite3/src/objectbox_bench.cpp
  production/examples/sqlite3/src/sqlite3_bench_c_api.cpp
  production/examples/sqlite3/src/sqlite3_bench_orm.cpp
Due: fix_double_empty_lines, cpp_license_check_examples

More stuff
  production/examples/sqlite3/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check_examples

Add indexes
  production/examples/sqlite3/src/sqlite3_bench_c_api.cpp
  production/examples/sqlite3/src/sqlite3_bench_orm.cpp
Due: fix_double_empty_lines, cpp_license_check_examples

Add nested join benchmark
  production/direct_access/CMakeLists.txt
  production/direct_access/tests/test_read_perf_basic.cpp
  production/direct_access/tests/test_read_perf_rel.cpp
  production/schemas/test/perf_rel/perf_rel.ddl
Due: fix_double_empty_lines, cmake_license_check, db_license_check, cpp_license_check

Minor nits and bits
  production/direct_access/tests/test_read_perf_rel.cpp
Due: fix_double_empty_lines, cpp_license_check

Disale test that runs for too long
  production/direct_access/tests/test_read_perf_basic.cpp
Due: fix_double_empty_lines, cpp_license_check

[GAIAPLAT-2140] Disable test_catalog_core because of link error
  production/db/core/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

Add rules performance tests
  production/common/src/timer.cpp
  production/inc/gaia_internal/common/timer.hpp
  production/inc/gaia_internal/db/db_test_base.hpp
  production/rules/event_manager/src/event_manager.cpp
  production/schemas/test/CMakeLists.txt
  production/schemas/test/perf_rules/perf_rules.ddl
  production/tools/gaia_translate/CMakeLists.txt
  production/tools/gaia_translate/tests/test_rules_perf_basic.cpp
  production/tools/gaia_translate/tests/test_rules_perf_basic.ruleset
Due: fix_double_empty_lines, cmake_license_check, db_license_check, cpp_license_check

Address PR feedback
  production/tools/gaia_translate/tests/test_rules_perf_basic.cpp
Due: fix_double_empty_lines, cpp_license_check

Allow public samples to be built against internal paths
  production/cmake/gaia_internal.cmake
  production/examples/direct_access/CMakeLists_internal.txt
  production/examples/direct_access_multithread/CMakeLists_internal.txt
  production/examples/direct_access_vlr/CMakeLists_internal.txt
  production/examples/hello/CMakeLists_internal.txt
  production/examples/incubator/CMakeLists_internal.txt
  production/examples/rules/CMakeLists_internal.txt
  production/examples/rules_vlr/CMakeLists_internal.txt
Due: fix_double_empty_lines, cmake_license_check

Add rule performance tests (#1471)
  production/common/src/timer.cpp
  production/inc/gaia_internal/common/timer.hpp
  production/inc/gaia_internal/db/db_test_base.hpp
  production/rules/event_manager/src/event_manager.cpp
  production/schemas/test/CMakeLists.txt
  production/schemas/test/perf_rules/perf_rules.ddl
  production/tools/gaia_translate/CMakeLists.txt
  production/tools/gaia_translate/tests/test_rules_perf_basic.cpp
  production/tools/gaia_translate/tests/test_rules_perf_basic.ruleset
Due: fix_double_empty_lines, cmake_license_check, db_license_check, cpp_license_check

Enable rules perf tests for unit tests
  production/tools/gaia_translate/tests/test_rules_perf_basic.cpp
Due: fix_double_empty_lines, cpp_license_check

Address PR feedback
  production/direct_access/tests/test_perf.hpp
  production/direct_access/tests/test_read_perf_rel.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix Cmake warning 'Source file extensions must be explicit' in test_rules_perf_basic
  production/tools/gaia_translate/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

Make the exampls buildable as part of the production project
  production/CMakeLists.txt
  production/cmake/gaia_internal.cmake
  production/examples/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

Fix Cmake warning 'Source file extensions must be explicit' in test_rules_perf_basic (#1473)
  production/tools/gaia_translate/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

Remove type_cache_t
  production/db/core/src/gaia_ptr_api.cpp
  production/db/core/src/payload_diff.cpp
  production/db/inc/payload_types/field_access.hpp
  production/db/inc/payload_types/type_cache.hpp
  production/db/index/src/index.cpp
  production/db/payload_types/CMakeLists.txt
  production/db/payload_types/src/field_access.cpp
  production/db/payload_types/src/type_cache.cpp
  production/db/payload_types/tests/test_field_access.cpp
  production/sql/src/gaia_fdw_adapter.cpp
  production/tools/gaia_db_extract/inc/gaia_db_extract.hpp
  production/tools/gaia_db_extract/inc/table_iterator.hpp
  production/tools/gaia_db_extract/src/gaia_db_extract.cpp
  production/tools/gaia_db_extract/src/main.cpp
  production/tools/gaia_db_extract/src/table_iterator.cpp
  production/tools/gaia_db_extract/tests/test_gaia_db_extract.cpp
  production/tools/gaia_db_extract/tests/test_row_extract.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Collapse a broken line
  production/sql/src/gaia_fdw_adapter.cpp
Due: fix_double_empty_lines, cpp_license_check

Update test_read_perf_rel.cpp
  production/direct_access/tests/test_read_perf_rel.cpp
Due: fix_double_empty_lines, cpp_license_check

Remove type_cache_t (#1475)
  production/db/core/src/gaia_ptr_api.cpp
  production/db/core/src/payload_diff.cpp
  production/db/inc/payload_types/field_access.hpp
  production/db/inc/payload_types/type_cache.hpp
  production/db/index/src/index.cpp
  production/db/payload_types/CMakeLists.txt
  production/db/payload_types/src/field_access.cpp
  production/db/payload_types/src/type_cache.cpp
  production/db/payload_types/tests/test_field_access.cpp
  production/sql/src/gaia_fdw_adapter.cpp
  production/tools/gaia_db_extract/inc/gaia_db_extract.hpp
  production/tools/gaia_db_extract/inc/table_iterator.hpp
  production/tools/gaia_db_extract/src/gaia_db_extract.cpp
  production/tools/gaia_db_extract/src/main.cpp
  production/tools/gaia_db_extract/src/table_iterator.cpp
  production/tools/gaia_db_extract/tests/test_gaia_db_extract.cpp
  production/tools/gaia_db_extract/tests/test_row_extract.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Enable rules perf tests
  production/tools/gaia_translate/tests/test_rules_perf_basic.cpp
Due: fix_double_empty_lines, cpp_license_check

Enable execution of more perf tests + test cleanup
  production/common/tests/test_retail_assert.cpp
  production/db/core/tests/test_concurrent_db_client.cpp
  production/db/core/tests/test_multiple_server_instances.cpp
  production/direct_access/tests/test_expressions_perf.cpp
  production/direct_access/tests/test_perf.hpp
  production/system/tests/test_recovery.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix recovery test
  production/system/tests/test_recovery.cpp
Due: fix_double_empty_lines, cpp_license_check

One more fix
  production/system/tests/test_recovery.cpp
Due: fix_double_empty_lines, cpp_license_check

More fixes for recovery tests
  production/common/tests/test_retail_assert.cpp
  production/system/tests/test_recovery.cpp
Due: fix_double_empty_lines, cpp_license_check

Enable execution of more perf tests + test cleanup (#1476)
  production/common/tests/test_retail_assert.cpp
  production/db/core/tests/test_concurrent_db_client.cpp
  production/db/core/tests/test_multiple_server_instances.cpp
  production/direct_access/tests/test_expressions_perf.cpp
  production/direct_access/tests/test_perf.hpp
  production/system/tests/test_recovery.cpp
Due: fix_double_empty_lines, cpp_license_check
