Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses/|production/tools/gaia_translate/tests/test_translation.ruleset)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py|production/db/core/tests/test_db.py|production/db/core/src/dump_se.py))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/sdk|production/examples|production/tests|production/coverage|production/sql/tests/test_fdw.sh))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples|production/sql|production/db|production/cmake|production/tools)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: (any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp|production/tests/workloads|production/inc/gaia/expressions|production/catalog/src/gaia_generate.cpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))) or (any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))

test
  .github/workflows/main.yml
  production/coverage/coverage.sh
  production/coverage/gen_coverage.sh
Due: fix_double_empty_lines

test
  .github/workflows/cores-and-sdks.yml
Due: fix_double_empty_lines

Fix memory manager check broken by recent change
  production/db/memory_manager/src/memory_manager.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix memory manager check broken by recent change (#1302)
  production/db/memory_manager/src/memory_manager.cpp
Due: fix_double_empty_lines, cpp_license_check

test
  production/coverage/coverage.sh
Due: fix_double_empty_lines

remove libncurses5 dependency
  dev_tools/sdk/test/Dockerfile_gaia_ubuntu_20
Due: fix_double_empty_lines

write new concurrency throughput test and disable unwanted functionality
  production/db/core/CMakeLists.txt
  production/db/core/src/db_server.cpp
  production/db/core/tests/test_concurrent_db_client.cpp
Due: fix_double_empty_lines, cpp_license_check

cleanup
  production/db/core/tests/test_concurrent_db_client.cpp
Due: fix_double_empty_lines, cpp_license_check

remove db_test_t base class
  production/db/core/tests/test_concurrent_db_client.cpp
Due: fix_double_empty_lines, cpp_license_check

disable more record_list code
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix signature
  production/db/core/tests/test_concurrent_db_client.cpp
Due: fix_double_empty_lines, cpp_license_check

fixes 2
  production/db/core/inc/async_disk_writer.hpp
  production/db/core/inc/log_io.hpp
  production/db/core/inc/persistence_types.hpp
  production/db/core/src/async_disk_writer.cpp
  production/db/core/src/log_file.cpp
  production/db/core/src/log_io.cpp
Due: fix_double_empty_lines, cpp_license_check

test
  production/coverage/coverage.sh
  production/coverage/gen_coverage.sh
Due: fix_double_empty_lines

test
  production/coverage/gen_coverage.sh
Due: fix_double_empty_lines

GAIAPLAT-1975 - Adding more explicit stating of what the intergation test script is doing
  .github/workflows/main.yml
  dev_tools/github-actions/execute_tests_against_package.sh
Due: fix_double_empty_lines, bash_license_check

Install clang in ubuntu docker container for VerifySDK job (#1301)
  dev_tools/sdk/test/Dockerfile_gaia_sdk_20
  dev_tools/sdk/test/Dockerfile_gaia_ubuntu_20
Due: fix_double_empty_lines

GAIAPLAT-1976 -
  dev_tools/github-actions/post_build_inside_container.sh
Due: fix_double_empty_lines, bash_license_check

test
  dev_tools/github-actions/post_build_inside_container.sh
Due: fix_double_empty_lines, bash_license_check

Add CMake option to enable profiling support
  production/CMakeLists.txt
  production/cmake/gaia_internal.cmake
Due: fix_double_empty_lines, cmake_license_check

Add assertions to memory manager offset calculation helpers
  production/db/inc/memory_manager/memory_helpers.inc
Due: fix_double_empty_lines, cpp_license_check

Add assertions to memory manager offset calculation helpers (#1303)
  production/db/inc/memory_manager/memory_helpers.inc
Due: fix_double_empty_lines, cpp_license_check

Fix whitespace
  production/cmake/gaia_internal.cmake
Due: fix_double_empty_lines

Add CMake option to enable profiling support (#1304)
  production/CMakeLists.txt
  production/cmake/gaia_internal.cmake
Due: fix_double_empty_lines, cmake_license_check

Gaiaplat 1976 - Ensure that unit test failures are properly propogated. (#1305)
  dev_tools/github-actions/post_build_inside_container.sh
Due: fix_double_empty_lines, bash_license_check

test
  dev_tools/sdk/test/build_sdk_samples.sh
  production/examples/hello/build.sh
Due: fix_double_empty_lines, bash_license_check_examples

Reenable rule tests
  production/rules/event_manager/tests/test_rule_integration.cpp
  production/tools/gaia_translate/tests/test_translation_engine.cpp
Due: fix_double_empty_lines, cpp_license_check

test
  .github/workflows/main.yml
Due: fix_double_empty_lines

[GAIAPLAT-1947] Mark Entries Committed Crashes while incrementing operator
  production/db/inc/index/index.inc
Due: fix_double_empty_lines, cpp_license_check

Add configure_gaia_target() to QP CMakeLists.txt
  production/db/query_processor/CMakeLists.txt
Due: fix_double_empty_lines

Ensure we serialize defaults in writer flatbuffer builder
  production/inc/gaia/direct_access/dac_object.hpp
  production/inc/gaia/direct_access/dac_object.inc
Due: fix_double_empty_lines, cpp_license_check

Rename iterator conformance test
  production/direct_access/CMakeLists.txt
  production/direct_access/tests/test_iterator_conformance.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Rename iterator conformance test (#1308)
  production/direct_access/CMakeLists.txt
  production/direct_access/tests/test_iterator_conformance.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

GAIAPLAT-1894 - Enabling better caching between jobs
  .github/workflows/main.yml
  production/coverage/coverage.sh
  production/coverage/gen_coverage.sh
  production/coverage/summarize.py
Due: fix_double_empty_lines, python_executable_license_check

GAIAPLAT-1894 - Small change to provide flatter structure in output folder.
  .github/workflows/main.yml
Due: fix_double_empty_lines

Ensure we configure each FlatBufferBuilder to serialize default values
  production/catalog/src/dac_generator.cpp
  production/catalog/src/gaia_catalog.cpp
  production/db/core/src/db_client.cpp
  production/db/core/src/db_server.cpp
  production/db/query_processor/src/scan_generators.cpp
  production/direct_access/tests/test_auto_connect.cpp
  production/inc/gaia_internal/catalog/gaia_catalog.h
Due: fix_double_empty_lines, cpp_license_check

fixes
  production/db/core/inc/async_disk_writer.hpp
  production/db/core/inc/db_server.hpp
  production/db/core/src/async_disk_writer.cpp
  production/db/core/src/db_server.cpp
  production/db/core/src/exceptions.cpp
  production/inc/gaia/exceptions.hpp
  production/inc/gaia_internal/exceptions.hpp
Due: fix_double_empty_lines, cpp_license_check
