Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples, cpp_license_check_examples

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py))|(^.+\_\_init\_\_\.py)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/docker_dev|production/examples))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cpp_license_check_examples: any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))

Disable shellcheck SC1091 across board
  production/tests/release_long_no_persistence_suites.sh
  production/tests/release_long_persistence_suites.sh
  production/tests/release_suites.sh
Due: fix_double_empty_lines, bash_license_check

suppress shellcheck warnings with dynamic paths
  .pre-commit-config.yaml
  production/tests/performance_suites.sh
  production/tests/release_long_no_persistence_suite.sh
  production/tests/release_long_persistence_suite.sh
  production/tests/smoke_suites.sh
  production/tests/smoke_suites_with_persistence.sh
Due: fix_double_empty_lines, bash_license_check

Ensure we bring down pip as well for the tool cache
  .github/workflows/build-tool-cache.yml
Due: fix_double_empty_lines

Add reverse iterator functionality
  dev_tools/gdev/gdev/host.py
  production/direct_access/tests/test_array_fields.cpp
  production/inc/gaia/direct_access/dac_array.hpp
  production/inc/gaia/direct_access/dac_array.inc
Due: fix_double_empty_lines, cpp_license_check

User a dedicated ci-user that maps to the local user in docker
  .github/workflows/build-tool-cache.yml
  dev_tools/gdev/gdev/cmd/gen/_abc/dockerfile.py
  dev_tools/github-actions/build_image.sh
Due: fix_double_empty_lines, bash_license_check

f-string requires double braces
  dev_tools/gdev/gdev/cmd/gen/_abc/dockerfile.py
Due: none

Add debugging for user in container
  dev_tools/gdev/gdev/cmd/gen/_abc/dockerfile.py
Due: none

second attempt at user/group debugging
  dev_tools/gdev/gdev/cmd/gen/_abc/dockerfile.py
Due: none

Try 3
  dev_tools/gdev/gdev/cmd/gen/_abc/dockerfile.py
Due: none

still not passing through build arguments to docker container
  dev_tools/github-actions/build_image.sh
Due: fix_double_empty_lines, bash_license_check

update 3rd party job
  .github/actions/third-party-job/action.yml
Due: fix_double_empty_lines

make the ci-user a system user
  dev_tools/gdev/gdev/cmd/gen/_abc/dockerfile.py
Due: none

experimental: start modifying perms on files touched by the build
  dev_tools/gdev/gdev/cmd/gen/_abc/dockerfile.py
Due: none

revert user changes in dockerfile
  .github/actions/third-party-job/action.yml
  dev_tools/gdev/gdev/cmd/gen/_abc/dockerfile.py
  dev_tools/github-actions/build_image.sh
Due: fix_double_empty_lines, bash_license_check

revert user changes for container
  dev_tools/github-actions/post_build_action.sh
Due: fix_double_empty_lines, bash_license_check

remove echo of user/group
  dev_tools/github-actions/build_image.sh
Due: fix_double_empty_lines, bash_license_check

Add user but don't switch; chown output files only
  dev_tools/gdev/gdev/cmd/gen/_abc/dockerfile.py
  dev_tools/github-actions/build_image.sh
  dev_tools/github-actions/post_build_inside_container.sh
Due: fix_double_empty_lines, bash_license_check

fix shellcheck lint error
  dev_tools/github-actions/build_image.sh
Due: fix_double_empty_lines, bash_license_check

try not to use sudo for integration tests
  dev_tools/github-actions/execute_tests_against_package.sh
Due: fix_double_empty_lines, bash_license_check

Run integration sample test job within a docker container
  .github/workflows/main.yml
  dev_tools/github-actions/execute_tests_against_package.sh
Due: fix_double_empty_lines, bash_license_check

fix shellcheck errors
  dev_tools/github-actions/execute_tests_against_package.sh
Due: fix_double_empty_lines, bash_license_check

Make gaiat accept iterator loops for array fields and fix several other issues
  production/tools/gaia_translate/src/main.cpp
  production/tools/gaia_translate/tests/test_array.cpp
  production/tools/gaia_translate/tests/test_array.ruleset
  production/tools/tests/gaiat/arrays_tests.ruleset
  third_party/production/TranslationEngineLLVM/clang/lib/Parse/ParseGaia.cpp
  third_party/production/TranslationEngineLLVM/clang/lib/Sema/SemaStmt.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix clang-tidy issues
  production/tools/gaia_translate/src/main.cpp
Due: fix_double_empty_lines, cpp_license_check

Iterator for DAC vectors (#1366)
  production/direct_access/CMakeLists.txt
  production/direct_access/tests/test_array_fields.cpp
  production/direct_access/tests/test_direct_access.cpp
  production/inc/gaia/direct_access/dac_array.inc
  production/inc/gaia/direct_access/dac_vector.hpp
  production/tools/gaia_translate/src/main.cpp
  production/tools/gaia_translate/tests/test_array.cpp
  production/tools/gaia_translate/tests/test_array.ruleset
  production/tools/tests/gaiat/arrays_tests.ruleset
  third_party/production/TranslationEngineLLVM/clang/lib/Parse/ParseGaia.cpp
  third_party/production/TranslationEngineLLVM/clang/lib/Sema/SemaStmt.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Introduce linked list of locators for table scans
  production/db/core/inc/db_client.hpp
  production/db/core/inc/db_internal_types.hpp
  production/db/core/inc/db_server.hpp
  production/db/core/inc/db_shared_data.hpp
  production/db/core/inc/mapped_data.hpp
  production/db/core/inc/txn_metadata_entry.hpp
  production/db/core/inc/type_index.hpp
  production/db/core/inc/type_index_cursor.hpp
  production/db/core/src/db_server.cpp
  production/db/core/src/db_shared_data_client.cpp
  production/db/core/src/db_shared_data_server.cpp
  production/inc/gaia/exceptions.hpp
  production/inc/gaia_internal/exceptions.hpp
Due: fix_double_empty_lines, cpp_license_check

cleanup
  production/db/core/inc/type_index.hpp
  production/db/core/inc/type_index_cursor.hpp
Due: fix_double_empty_lines, cpp_license_check

Fix an issue with incorrect generation when absolute path is present on LHS
  production/tools/gaia_translate/src/main.cpp
  production/tools/gaia_translate/tests/test_translation.ruleset
Due: fix_double_empty_lines, cpp_license_check

Fix an issue that sometimes leads to generation of incorrect code
  production/tools/gaia_translate/src/main.cpp
  production/tools/gaia_translate/tests/test_translation.ruleset
Due: fix_double_empty_lines, cpp_license_check

refactor the fix to address warnings in the generated code
  production/tools/gaia_translate/src/main.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix an issue with incorrect generation when absolute path is present … (#1399)
  production/tools/gaia_translate/src/main.cpp
  production/tools/gaia_translate/tests/test_translation.ruleset
Due: fix_double_empty_lines, cpp_license_check

fix for LLVM assert suggested by @fineg74
  third_party/production/TranslationEngineLLVM/clang/lib/Sema/SemaStmt.cpp
Due: none

fix for LLVM assert suggested by @fineg74 (#1400)
  third_party/production/TranslationEngineLLVM/clang/lib/Sema/SemaStmt.cpp
Due: none

fixes
  production/db/core/inc/type_index.hpp
  production/db/core/inc/type_index_cursor.hpp
  production/db/core/src/exceptions.cpp
Due: fix_double_empty_lines, cpp_license_check

add unit test for type index
  production/db/core/CMakeLists.txt
  production/db/core/tests/test_type_index.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

cleanup for PR
  .github/workflows/main.yml
  .pre-commit-config.yaml
  dev_tools/github-actions/execute_tests_against_package.sh
  production/tests/release_long_persistence_suite.sh
  production/tests/smoke_suites.sh
  production/tests/smoke_suites_with_persistence.sh
Due: fix_double_empty_lines, bash_license_check

Shellcheck v0.7.2 should handle file path expansions better
  production/tests/release_long_no_persistence_suites.sh
Due: fix_double_empty_lines, bash_license_check

Add comment for disabling SC1091
  production/tests/performance_suites.sh
  production/tests/release_long_no_persistence_suite.sh
  production/tests/release_long_no_persistence_suites.sh
Due: fix_double_empty_lines, bash_license_check

fix shellcheck disable line
  production/tests/release_long_no_persistence_suites.sh
Due: fix_double_empty_lines, bash_license_check

Address review feedback
  production/db/core/inc/type_index.hpp
  production/db/core/inc/type_index_cursor.hpp
  production/db/core/tests/test_type_index.cpp
Due: fix_double_empty_lines, cpp_license_check

Move impls to .inc files
  production/db/core/inc/type_index.hpp
  production/db/core/inc/type_index.inc
  production/db/core/inc/type_index_cursor.hpp
  production/db/core/inc/type_index_cursor.inc
Due: fix_double_empty_lines, cpp_license_check
