Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples, cpp_license_check_examples

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py))|(^.+\_\_init\_\_\.py)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/docker_dev|production/examples))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cpp_license_check_examples: any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))

[GAIAPLAT-425] Change locator size to 32 bits (#1380)
  production/db/core/inc/db_internal_types.hpp
  production/inc/gaia/common.hpp
  production/inc/gaia_internal/db/db_types.hpp
Due: fix_double_empty_lines, cpp_license_check

Refactoring 1
  production/db/core/inc/db_server.hpp
  production/db/core/inc/log_io.hpp
  production/db/core/inc/persistence_types.hpp
  production/db/core/inc/persistent_store_manager.hpp
  production/db/core/inc/rdb_object_converter.hpp
  production/db/core/inc/rdb_wrapper.hpp
  production/db/core/src/db_server.cpp
  production/db/core/src/log_io.cpp
  production/db/core/src/persistent_store_manager.cpp
  production/db/core/src/rdb_object_converter.cpp
  production/db/core/src/rdb_wrapper.cpp
  production/db/core/tests/test_rdb_object_converter.cpp
Due: fix_double_empty_lines, cpp_license_check

refactoring 2
  production/db/core/inc/persistent_store_manager.hpp
  production/db/core/inc/rdb_object_converter.hpp
  production/db/core/src/log_io.cpp
  production/db/core/src/persistent_store_manager.cpp
  production/db/core/src/rdb_object_converter.cpp
  production/inc/gaia_internal/db/db_object.hpp
Due: fix_double_empty_lines, cpp_license_check

more cleanup
  production/db/core/inc/async_disk_writer.hpp
  production/db/core/inc/async_write_batch.hpp
  production/db/core/inc/log_file.hpp
  production/db/core/inc/log_io.hpp
  production/db/core/inc/persistence_types.hpp
  production/db/core/src/async_disk_writer.cpp
  production/db/core/src/async_write_batch.cpp
  production/db/core/src/db_server.cpp
  production/db/core/src/log_file.cpp
  production/db/core/src/log_io.cpp
Due: fix_double_empty_lines, cpp_license_check

adding tests and default database name handling
  production/catalog/src/catalog.cpp
  production/catalog/tests/test_ddl_executor.cpp
Due: fix_double_empty_lines, cpp_license_check

switched constexpr inline to inline constexpr
  production/inc/gaia/expressions/builders/expression_int_type.hpp
  production/inc/gaia/expressions/builders/expression_optional.hpp
  production/inc/gaia/expressions/operators.hpp
Due: fix_double_empty_lines, cpp_license_check

GAIAPLAT-2076 - Switching to local repo for libexplain.
  third_party/production/libexplain/gdev.cfg
Due: none

test
  dev_tools/docker_dev/gdev_and_vscode.md
Due: fix_double_empty_lines

Gaiaplat 2066 - Better separation between subcommands and actions. (#1374)
  dev_tools/docker_dev/gdev/dependency.py
  dev_tools/docker_dev/gdev/main.py
  dev_tools/docker_dev/gdev/parser_structure.py
  dev_tools/docker_dev/gdev/sections/_abc/build.py
  dev_tools/docker_dev/gdev/sections/_abc/cfg.py
  dev_tools/docker_dev/gdev/sections/_abc/dockerfile.py
  dev_tools/docker_dev/gdev/sections/_abc/run.py
  dev_tools/docker_dev/gdev/subcommands/build.py
  dev_tools/docker_dev/gdev/subcommands/cfg.py
  dev_tools/docker_dev/gdev/subcommands/dockerfile.py
  dev_tools/docker_dev/gdev/subcommands/push.py
  dev_tools/docker_dev/gdev/subcommands/run.py
  dev_tools/docker_dev/gdev_and_vscode.md
  dev_tools/docker_dev/test/gdev_execute.py
  dev_tools/docker_dev/test/test_scenario_help.py
  dev_tools/docker_dev/test/test_scenarios.py
Due: fix_double_empty_lines, python_executable_license_check

Cleanup: Switch evaluate_operator to constexpr inline instead of static where possible (#1381)
  production/inc/gaia/expressions/builders/expression_int_type.hpp
  production/inc/gaia/expressions/builders/expression_optional.hpp
  production/inc/gaia/expressions/operators.hpp
Due: fix_double_empty_lines, cpp_license_check

GAIAPLAT-2078 - Adding nightly job to remove any build artifacts greater than 14 days old.
  .github/workflows/remove-old-artifacts.yml
  .pre-commit-config.yaml
  dev_tools/github-actions/pre-commit-hooks/verify_child_workflows.py
Due: fix_double_empty_lines, python_executable_license_check

GAIAPLAT-2078 - Adding nightly job to remove any build artifacts greater than 14 days old. (#1382)
  .github/workflows/remove-old-artifacts.yml
  .pre-commit-config.yaml
  dev_tools/github-actions/pre-commit-hooks/verify_child_workflows.py
Due: fix_double_empty_lines, python_executable_license_check

Some more fixes
  production/db/core/inc/log_file.hpp
  production/db/core/inc/log_io.hpp
  production/db/core/inc/persistence_types.hpp
  production/db/core/src/exceptions.cpp
  production/db/core/src/log_file.cpp
  production/db/core/src/log_io.cpp
  production/inc/gaia/exceptions.hpp
  production/inc/gaia_internal/exceptions.hpp
Due: fix_double_empty_lines, cpp_license_check

Gaiaplat 2067 - Renaming and moving Dependency class. (#1375)
  dev_tools/docker_dev/gdev/main.py
  dev_tools/docker_dev/gdev/sections/_abc/build.py
  dev_tools/docker_dev/gdev/sections/_abc/cfg.py
  dev_tools/docker_dev/gdev/sections/_abc/dockerfile.py
  dev_tools/docker_dev/gdev/sections/_abc/gdev_action.py
  dev_tools/docker_dev/gdev/sections/_abc/push.py
  dev_tools/docker_dev/gdev/sections/_abc/run.py
  dev_tools/docker_dev/gdev/sections/section_action_exception.py
  dev_tools/docker_dev/gdev/subcommands/dockerfile.py
Due: python_executable_license_check

GAIAPLAT-2081 - Adding doxygen support to builds.
  .github/workflows/documentation.yml
  .pre-commit-config.yaml
  dev_tools/github-actions/pre-commit-hooks/verify_child_workflows.py
Due: fix_double_empty_lines, python_executable_license_check

GAIAPLAT-2081 - Adding doxygen support to builds. (#1383)
  .github/workflows/documentation.yml
  .pre-commit-config.yaml
  dev_tools/github-actions/pre-commit-hooks/verify_child_workflows.py
Due: fix_double_empty_lines, python_executable_license_check

test
  .github/workflows/documentation.yml
  Doxyfile
Due: fix_double_empty_lines

test
  .github/workflows/documentation.yml
Due: fix_double_empty_lines

test
  .github/actions/documentation-job/action.yml
  .github/workflows/documentation.yml
  .github/workflows/main.yml
Due: fix_double_empty_lines

[GAIAPLAT-1826] NULL support: Final index support for NULL keys
  production/db/core/src/catalog_core.cpp
  production/db/core/src/flatbuffers/gaia_field.fbs
  production/db/core/src/index_builder.cpp
  production/db/inc/query_processor/predicate.hpp
  production/db/query_processor/src/predicate.cpp
  production/db/query_processor/src/scan_generators.cpp
  production/db/query_processor/tests/test_index_scan.cpp
  production/inc/gaia_internal/db/catalog_core.hpp
  production/inc/gaia_internal/db/index_builder.hpp
  production/schemas/test/index_sandbox/index_sandbox.ddl
Due: fix_double_empty_lines, db_license_check, cpp_license_check

test
  .github/actions/documentation-job/action.yml
  .github/workflows/documentation.yml
  .github/workflows/main.yml
  .pre-commit-config.yaml
Due: fix_double_empty_lines

extra file
  Doxyfile
Due: fix_double_empty_lines

Modifications to doxyfile
  production/docs/doxyfile
Due: fix_double_empty_lines

Addressing concerns per LC
  dev_tools/docker_dev/gdev/command_line.py
  dev_tools/docker_dev/gdev/main.py
  dev_tools/docker_dev/test/test_scenario_help.py
Due: python_executable_license_check

GAIAPLAT-2069 - Only allow docker run parameters if prefaced by `--` (#1376)
  dev_tools/docker_dev/gdev/command_line.py
  dev_tools/docker_dev/gdev/main.py
  dev_tools/docker_dev/test.sh
  dev_tools/docker_dev/test/gdev_execute.py
  dev_tools/docker_dev/test/test_scenario_help.py
  dev_tools/docker_dev/test/test_scenarios.py
Due: fix_double_empty_lines, python_executable_license_check

GAIAPLAT-2070 - Adding coverage support to docker_dev (#1377)
  .gitignore
  dev_tools/docker_dev/.coveragerc
  dev_tools/docker_dev/Pipfile
  dev_tools/docker_dev/test.sh
Due: fix_double_empty_lines

GAIAPLAT-2073 - Remove unused classes and code. (#1379)
  .gitignore
  dev_tools/docker_dev/.coveragerc.in
  dev_tools/docker_dev/gdev/command_line.py
  dev_tools/docker_dev/gdev/parser_structure.py
  dev_tools/docker_dev/gdev/sections/_abc/gdev_action.py
  dev_tools/docker_dev/gdev/sections/apt/build.py
  dev_tools/docker_dev/gdev/sections/apt/push.py
  dev_tools/docker_dev/gdev/sections/apt/run.py
  dev_tools/docker_dev/gdev/sections/env/build.py
  dev_tools/docker_dev/gdev/sections/env/push.py
  dev_tools/docker_dev/gdev/sections/env/run.py
  dev_tools/docker_dev/gdev/sections/gaia/build.py
  dev_tools/docker_dev/gdev/sections/gaia/push.py
  dev_tools/docker_dev/gdev/sections/gaia/run.py
  dev_tools/docker_dev/gdev/sections/git/build.py
  dev_tools/docker_dev/gdev/sections/git/push.py
  dev_tools/docker_dev/gdev/sections/git/run.py
  dev_tools/docker_dev/gdev/sections/pip/build.py
  dev_tools/docker_dev/gdev/sections/pip/push.py
  dev_tools/docker_dev/gdev/sections/pip/run.py
  dev_tools/docker_dev/gdev/sections/pre_run/build.py
  dev_tools/docker_dev/gdev/sections/pre_run/push.py
  dev_tools/docker_dev/gdev/sections/pre_run/run.py
  dev_tools/docker_dev/gdev/sections/web/build.py
  dev_tools/docker_dev/gdev/sections/web/push.py
  dev_tools/docker_dev/gdev/sections/web/run.py
  dev_tools/docker_dev/test.sh
Due: fix_double_empty_lines, python_executable_license_check

refactoring database context, new tests
  production/catalog/src/catalog.cpp
  production/catalog/src/ddl_execution.cpp
  production/catalog/src/ddl_executor.cpp
  production/catalog/tests/test_ddl_execution.cpp
  production/catalog/tests/test_ddl_executor.cpp
  production/inc/gaia_internal/catalog/catalog.hpp
  production/inc/gaia_internal/catalog/ddl_executor.hpp
  production/tools/gaia_db_extract/tests/test_gaia_db_extract.cpp
Due: fix_double_empty_lines, cpp_license_check

test
  .github/workflows/main.yml
Due: fix_double_empty_lines

test
  third_party/production/libexplain/gdev.cfg
Due: none
