Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples, cpp_license_check_examples

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py))|(^.+\_\_init\_\_\.py)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/docker_dev|production/examples))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cpp_license_check_examples: any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))

fixup spacing.
  production/inc/gaia/expressions/builders/expression_builder.hpp
Due: fix_double_empty_lines, cpp_license_check

Added license header to array fields test file
  production/direct_access/tests/test_array_fields.cpp
Due: fix_double_empty_lines, cpp_license_check

Fixed failing cmakelist
  production/direct_access/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

using std::memcpy everywhere needed
  production/common/src/hash.cpp
Due: fix_double_empty_lines, cpp_license_check

[GAIAPLAT-2059] Expressions performance tests SEGFAULT
  production/inc/gaia/expressions/accessors/container_accessor.inc
Due: fix_double_empty_lines, cpp_license_check

GAIAPLAT-2062 - Attempt to fix build break
  .github/actions/integration-test-job/action.yml
  .github/workflows/integration-only.yml
  .github/workflows/main.yml
  dev_tools/github-actions/execute_tests_against_package.sh
Due: fix_double_empty_lines, bash_license_check

Fix constants in common header
  production/inc/gaia/common.hpp
Due: fix_double_empty_lines, cpp_license_check

GAIAPLAT-2062 - Attempt to fix build break (#1369)
  .github/actions/integration-test-job/action.yml
  .github/workflows/integration-only.yml
  .github/workflows/main.yml
  dev_tools/github-actions/execute_tests_against_package.sh
Due: fix_double_empty_lines, bash_license_check

Make C++-style C system header names explicit
  .clang-format
Due: fix_double_empty_lines

Reformat files with new clang-format rules
  production/catalog/src/gaia_catalog.cpp
  production/db/core/src/system_checks.cpp
  production/direct_access/tests/test_iterator.cpp
  production/examples/direct_access_multithread/counter.cpp
  production/examples/incubator/incubator.cpp
  production/inc/gaia_internal/common/timer.hpp
  production/inc/gaia_internal/db/db_test_base.hpp
  production/inc/gaia_internal/db/wait_queue.hpp
  production/rules/event_manager/inc/rule_stats_manager.hpp
  production/rules/event_manager/inc/rule_thread_pool.hpp
  production/tests/workloads/mink/mink.cpp
  production/tests/workloads/template/simulation.hpp
Due: fix_double_empty_lines, cpp_license_check, cpp_license_check_examples

GAIAPLAT-2064 - Reorg of command line.
  dev_tools/docker_dev/gdev/cmd/build.py
  dev_tools/docker_dev/gdev/cmd/cfg.py
  dev_tools/docker_dev/gdev/cmd/dockerfile.py
  dev_tools/docker_dev/gdev/cmd/push.py
  dev_tools/docker_dev/gdev/cmd/run.py
  dev_tools/docker_dev/gdev/command_line.py
  dev_tools/docker_dev/gdev/dependency.py
  dev_tools/docker_dev/gdev/main.py
  dev_tools/docker_dev/gdev/parser_structure.py
  dev_tools/docker_dev/test/test_scenario_help.py
Due: python_executable_license_check

test
  .pre-commit-config.yaml
  dev_tools/docker_dev/gdev/command_line.py
  dev_tools/docker_dev/gdev/dependency.py
  dev_tools/docker_dev/gdev/parser_structure.py
Due: fix_double_empty_lines, python_executable_license_check

Make C++-style C system header names explicit (#1370)
  .clang-format
  production/catalog/src/gaia_catalog.cpp
  production/db/core/src/system_checks.cpp
  production/direct_access/tests/test_iterator.cpp
  production/examples/direct_access_multithread/counter.cpp
  production/examples/incubator/incubator.cpp
  production/inc/gaia_internal/common/timer.hpp
  production/inc/gaia_internal/db/db_test_base.hpp
  production/inc/gaia_internal/db/wait_queue.hpp
  production/rules/event_manager/inc/rule_stats_manager.hpp
  production/rules/event_manager/inc/rule_thread_pool.hpp
  production/tests/workloads/mink/mink.cpp
  production/tests/workloads/template/simulation.hpp
Due: fix_double_empty_lines, cpp_license_check, cpp_license_check_examples

Fix include order
  production/db/core/tests/test_concurrent_db_client.cpp
Due: fix_double_empty_lines, cpp_license_check

GAIAPLAT-2066 - Better separation between subcommands and actions.
  dev_tools/docker_dev/gdev/dependency.py
  dev_tools/docker_dev/gdev/main.py
  dev_tools/docker_dev/gdev/parser_structure.py
  dev_tools/docker_dev/gdev/sections/_abc/build.py
  dev_tools/docker_dev/gdev/sections/_abc/cfg.py
  dev_tools/docker_dev/gdev/sections/_abc/dockerfile.py
  dev_tools/docker_dev/gdev/sections/_abc/run.py
  dev_tools/docker_dev/gdev/subcommands/build.py
  dev_tools/docker_dev/gdev/subcommands/cfg.py
  dev_tools/docker_dev/gdev/subcommands/dockerfile.py
  dev_tools/docker_dev/gdev/subcommands/push.py
  dev_tools/docker_dev/gdev/subcommands/run.py
  dev_tools/docker_dev/test/gdev_execute.py
  dev_tools/docker_dev/test/test_scenarios.py
Due: python_executable_license_check

GAIAPLAT-2067 - Renamed Dependency to GdevAction and moved to ABC package after lifting out Abort exception.
  dev_tools/docker_dev/gdev/main.py
  dev_tools/docker_dev/gdev/sections/_abc/build.py
  dev_tools/docker_dev/gdev/sections/_abc/cfg.py
  dev_tools/docker_dev/gdev/sections/_abc/dockerfile.py
  dev_tools/docker_dev/gdev/sections/_abc/gdev_action.py
  dev_tools/docker_dev/gdev/sections/_abc/push.py
  dev_tools/docker_dev/gdev/sections/_abc/run.py
  dev_tools/docker_dev/gdev/sections/section_action_exception.py
Due: python_executable_license_check

[GAIAPLAT-2028] nullopt propagation in non-comparison operations in expressions (#1364)
  production/direct_access/CMakeLists.txt
  production/direct_access/tests/test_expressions_no_dac.cpp
  production/inc/gaia/expressions/builders/expression_builder.hpp
  production/inc/gaia/expressions/builders/expression_optional.hpp
  production/inc/gaia/expressions/expression_traits.hpp
  production/inc/gaia/expressions/expressions.hpp
  production/inc/gaia/expressions/operators.hpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Remove plugins to remove add/remove objects from persistent store
  production/db/core/inc/log_io.hpp
  production/db/core/src/db_server.cpp
  production/db/core/src/log_io.cpp
Due: fix_double_empty_lines, cpp_license_check

recalculatng catalog hashes for every catalog transaction
  production/catalog/src/catalog.cpp
  production/catalog/src/hash_generator.cpp
Due: fix_double_empty_lines, cpp_license_check

GAIAPLAT-2069 - limiting docker run parameters to ones prefaced with --
  dev_tools/docker_dev/gdev/command_line.py
  dev_tools/docker_dev/gdev/main.py
  dev_tools/docker_dev/test.sh
  dev_tools/docker_dev/test/gdev_execute.py
  dev_tools/docker_dev/test/test_scenario_help.py
  dev_tools/docker_dev/test/test_scenarios.py
Due: fix_double_empty_lines, python_executable_license_check

GAIAPLAT-2070 - Adding coverage reporting.
  .gitignore
  dev_tools/docker_dev/.coveragerc
  dev_tools/docker_dev/Pipfile
  dev_tools/docker_dev/test.sh
Due: fix_double_empty_lines

[GAIAPLAT-2059] Expressions performance tests SEGFAULT (#1368)
  production/inc/gaia/expressions/accessors/container_accessor.inc
Due: fix_double_empty_lines, cpp_license_check

Address review feedback
  production/db/core/inc/db_client.hpp
  production/db/core/inc/db_hash_map.hpp
  production/db/core/inc/db_helpers.hpp
  production/db/core/inc/db_internal_types.hpp
  production/db/core/src/db_client.cpp
  production/db/core/src/db_server.cpp
  production/db/core/src/gaia_ptr_api.cpp
  production/db/core/src/index_builder.cpp
  production/inc/gaia_internal/common/socket_helpers.hpp
Due: fix_double_empty_lines, cpp_license_check

rewrite conditional to avoid evaluating m_predicate_fn twice
  production/inc/gaia/direct_access/dac_iterators.inc
Due: fix_double_empty_lines, cpp_license_check

Move txn logs into single shared memory segment (phase 2) (#1350)
  production/db/core/CMakeLists.txt
  production/db/core/inc/client_messenger.hpp
  production/db/core/inc/db_client.hpp
  production/db/core/inc/db_client.inc
  production/db/core/inc/db_hash_map.hpp
  production/db/core/inc/db_helpers.hpp
  production/db/core/inc/db_internal_types.hpp
  production/db/core/inc/db_server.hpp
  production/db/core/inc/db_server.inc
  production/db/core/inc/db_shared_data.hpp
  production/db/core/inc/mapped_data.hpp
  production/db/core/inc/system_checks.hpp
  production/db/core/inc/txn_metadata.hpp
  production/db/core/inc/txn_metadata.inc
  production/db/core/inc/txn_metadata_entry.hpp
  production/db/core/inc/txn_metadata_entry.inc
  production/db/core/src/db_client.cpp
  production/db/core/src/db_server.cpp
  production/db/core/src/db_shared_data_client.cpp
  production/db/core/src/db_shared_data_server.cpp
  production/db/core/src/exceptions.cpp
  production/db/core/src/flatbuffers/messages.fbs
  production/db/core/src/gaia_ptr_api.cpp
  production/db/core/src/index_builder.cpp
  production/db/core/src/mapped_data.cpp
  production/db/core/src/system_checks.cpp
  production/db/core/src/txn_metadata.cpp
  production/db/core/tests/test_concurrent_db_client.cpp
  production/db/core/tests/test_db_internals.cpp
  production/db/inc/memory_manager/bitmap.hpp
  production/db/inc/memory_manager/memory_helpers.inc
  production/db/inc/memory_manager/memory_structures.hpp
  production/db/memory_manager/src/bitmap.cpp
  production/db/memory_manager/tests/test_bitmap.cpp
  production/db/query_processor/src/qp_operator.cpp
  production/inc/gaia/common.hpp
  production/inc/gaia_internal/common/socket_helpers.hpp
  production/inc/gaia_internal/db/db_types.hpp
  production/inc/gaia_internal/db/index_builder.hpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

GAIAPLAT-1974 : Adding debug sdk (#1320)
  .github/actions/build-job/action.yml
  .github/actions/integration-test-job/action.yml
  .github/workflows/cores-and-sdks.yml
  .github/workflows/integration-only.yml
  .github/workflows/main.yml
  .github/workflows/performance-only.yml
  dev_tools/gdev/gdev/dependency.py
  dev_tools/github-actions/build_image.sh
  dev_tools/github-actions/execute_tests_against_package.sh
  dev_tools/github-actions/post_build_inside_container.sh
Due: fix_double_empty_lines, bash_license_check

GAIAPLAT-2064 - Reorg command line of docker_dev (#1371)
  .pre-commit-config.yaml
  dev_tools/docker_dev/gdev/cmd/build.py
  dev_tools/docker_dev/gdev/cmd/cfg.py
  dev_tools/docker_dev/gdev/cmd/dockerfile.py
  dev_tools/docker_dev/gdev/cmd/push.py
  dev_tools/docker_dev/gdev/cmd/run.py
  dev_tools/docker_dev/gdev/command_line.py
  dev_tools/docker_dev/gdev/dependency.py
  dev_tools/docker_dev/gdev/main.py
  dev_tools/docker_dev/gdev/parser_structure.py
  dev_tools/docker_dev/test/test_scenario_help.py
Due: fix_double_empty_lines, python_executable_license_check

GAIAPLAT-2071 - Increase timeout for integration tests + remove comments from old work on jobs
  .github/workflows/main.yml
  .github/workflows/performance-only.yml
Due: fix_double_empty_lines

GAIAPLAT-2073 Remove unused docker_dev code.
  dev_tools/docker_dev/.coveragerc.in
  dev_tools/docker_dev/gdev/sections/_abc/gdev_action.py
  dev_tools/docker_dev/gdev/sections/apt/build.py
  dev_tools/docker_dev/gdev/sections/apt/push.py
  dev_tools/docker_dev/gdev/sections/apt/run.py
  dev_tools/docker_dev/gdev/sections/env/build.py
  dev_tools/docker_dev/gdev/sections/env/push.py
  dev_tools/docker_dev/gdev/sections/env/run.py
  dev_tools/docker_dev/gdev/sections/gaia/build.py
  dev_tools/docker_dev/gdev/sections/gaia/push.py
  dev_tools/docker_dev/gdev/sections/gaia/run.py
  dev_tools/docker_dev/gdev/sections/git/build.py
  dev_tools/docker_dev/gdev/sections/git/push.py
  dev_tools/docker_dev/gdev/sections/git/run.py
  dev_tools/docker_dev/gdev/sections/pip/build.py
  dev_tools/docker_dev/gdev/sections/pip/push.py
  dev_tools/docker_dev/gdev/sections/pip/run.py
  dev_tools/docker_dev/gdev/sections/pre_run/build.py
  dev_tools/docker_dev/gdev/sections/pre_run/push.py
  dev_tools/docker_dev/gdev/sections/pre_run/run.py
  dev_tools/docker_dev/gdev/sections/web/build.py
  dev_tools/docker_dev/gdev/sections/web/push.py
  dev_tools/docker_dev/gdev/sections/web/run.py
  dev_tools/docker_dev/test.sh
Due: fix_double_empty_lines, python_executable_license_check

GAIAPLAT-2074 - General cleanup
  dev_tools/docker_dev/gdev/command_line.py
  dev_tools/docker_dev/gdev/parser_structure.py
Due: python_executable_license_check

WHERE clause accepts optional<bool> functor (#1354)
  production/direct_access/tests/test_optional_dac.cpp
  production/inc/gaia/direct_access/dac_iterators.hpp
  production/inc/gaia/direct_access/dac_iterators.inc
Due: fix_double_empty_lines, cpp_license_check

Added forced registry if push, updated help to acknowledge that, handled empty case better, and added more tests for those + push.
  .gitignore
  dev_tools/docker_dev/gdev/command_line.py
  dev_tools/docker_dev/gdev/main.py
  dev_tools/docker_dev/gdev/subcommands/push.py
  dev_tools/docker_dev/test/test_scenario_help.py
  dev_tools/docker_dev/test/test_scenario_run.py
  dev_tools/docker_dev/test/test_scenarios.py
Due: fix_double_empty_lines, python_executable_license_check

GAIAPLAT-2071 - Increase timeout for integration tests + remove comments from old work on jobs (#1378)
  .github/workflows/main.yml
  .github/workflows/performance-only.yml
Due: fix_double_empty_lines

Change locator size to 32 bits
  production/db/core/inc/db_internal_types.hpp
  production/inc/gaia/common.hpp
  production/inc/gaia_internal/db/db_types.hpp
Due: fix_double_empty_lines, cpp_license_check

Switch evaluate_operator to constexpr inline instead of static where possible
  production/inc/gaia/expressions/builders/expression_int_type.hpp
  production/inc/gaia/expressions/builders/expression_optional.hpp
  production/inc/gaia/expressions/operators.hpp
Due: fix_double_empty_lines, cpp_license_check

Address review feedback
  production/db/core/inc/db_internal_types.hpp
Due: fix_double_empty_lines, cpp_license_check
