Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples

fix_double_empty_lines:
  name: Eliminate multiple empty lines
  entry: dev_tools/github-actions/pre-commit-hooks/fix_double_empty_lines.py
  language: python

python_executable_license_check:
  name: Check Python Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#! /usr/bin/python3
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

python_non_executable_license_check:
  name: Check Python Non-Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

bash_license_check:
  name: Check Bash files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#! /usr/bin/bash
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

cmake_license_check:
  name: Check CMake files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

db_license_check:
  name: Check SQL and DDL files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '---------------------------------------------
  
    -- Copyright (c) Gaia Platform LLC
  
    -- All rights reserved.
  
  ...

cpp_license_check:
  name: Check Example C++ files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '////////////////////////////////////////////////////
  
    // Copyright (c) Gaia Platform LLC
  
    //
  
  ...

bash_license_check_examples:
  name: Check Example Bash files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#! /usr/bin/bash
  
  
    ###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

cmake_license_check_examples:
  name: Check Example CMake files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

Fix python shebang line to not hardcode python3 path
  dev_tools/github-actions/copy_until_line.py
  dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  dev_tools/github-actions/pre-commit-hooks/fix_double_empty_lines.py
  docs/repository-guidelines.md
  production/coverage/summarize.py
  production/db/core/src/dump_se.py
  production/db/core/tests/test_db.py
  production/tests/python/scan_memory.py
  production/tests/python/summarize_memory_logs.py
  production/tests/python/summarize_suite_results.py
  production/tests/python/summarize_suites.py
  production/tests/python/summary_stats.py
  production/tests/workloads/mink/python/generate_config.py
  production/tests/workloads/mink/python/summarize_test_results.py
  production/tests/workloads/mink/python/translate_to_csv.py
  production/tests/workloads/template/python/generate_config.py
  production/tests/workloads/template/python/summarize_test_results.py
Due: fix_double_empty_lines, python_executable_license_check

Add size helpers to db_object_t
  production/db/core/inc/db_object_helpers.hpp
  production/db/core/src/db_pybind_wrapper.cpp
  production/db/core/src/gaia_ptr_api.cpp
  production/db/core/src/gaia_ptr_client.cpp
  production/db/core/src/rdb_object_converter.cpp
  production/db/core/src/type_metadata.cpp
  production/db/core/tests/test_relationships.cpp
  production/inc/gaia_internal/db/db_object.hpp
  production/inc/gaia_internal/db/gaia_ptr.hpp
  production/inc/gaia_internal/db/gaia_ptr.inc
  production/inc/gaia_internal/db/type_metadata.hpp
  production/sql/src/gaia_fdw_adapter.cpp
  production/tools/gaia_dump/src/gaia_dump.cpp
Due: fix_double_empty_lines, cpp_license_check

Make errno usage in scan_memory.py portable
  .pre-commit-config.yaml
  production/tests/python/scan_memory.py
Due: fix_double_empty_lines, python_executable_license_check

GAIAPLAT-1839 - Fixed per PR comments
  production/db/core/src/dump_se.py
  production/db/core/tests/test_db.py
Due: none

GAIAPLAT-1839 - Cleaning up production/db/core formatting. (#1266)
  .pre-commit-config.yaml
  production/db/core/src/dump_se.py
  production/db/core/tests/test_db.py
Due: fix_double_empty_lines

Update with comments from PR.
  .github/workflows/README.md
  docs/repository-guidelines.md
Due: fix_double_empty_lines

Add doxygen comments to functions
  production/inc/gaia_internal/db/db_object.hpp
Due: fix_double_empty_lines, cpp_license_check

Add size helpers to db_object_t (#1269)
  production/db/core/inc/db_object_helpers.hpp
  production/db/core/src/db_pybind_wrapper.cpp
  production/db/core/src/gaia_ptr_api.cpp
  production/db/core/src/gaia_ptr_client.cpp
  production/db/core/src/rdb_object_converter.cpp
  production/db/core/src/type_metadata.cpp
  production/db/core/tests/test_relationships.cpp
  production/inc/gaia_internal/db/db_object.hpp
  production/inc/gaia_internal/db/gaia_ptr.hpp
  production/inc/gaia_internal/db/gaia_ptr.inc
  production/inc/gaia_internal/db/type_metadata.hpp
  production/sql/src/gaia_fdw_adapter.cpp
  production/tools/gaia_dump/src/gaia_dump.cpp
Due: fix_double_empty_lines, cpp_license_check

changes addressing Simone's PR comments
  production/catalog/README.md
  production/catalog/diagram/catalog.txt
  production/catalog/src/catalog.cpp
  production/catalog/src/gaia_catalog.cpp
  production/catalog/tests/test_rule_tables.cpp
  production/inc/gaia_internal/catalog/catalog_generated.h
  production/inc/gaia_internal/catalog/gaia_catalog.h
Due: fix_double_empty_lines, cpp_license_check

new rearranged catalog diagram
  production/catalog/diagram/catalog.png
Due: fix_double_empty_lines

GAIAPLAT-1798 - Update to use alternate toolset for coverage.
  production/coverage/coverage.sh
  production/coverage/gen_coverage.sh
  production/coverage/summarize.py
  production/gdev.cfg
Due: fix_double_empty_lines, python_executable_license_check

GAIAPLAT-1954 - Updated per comment from LC
  .github/workflows/README.md
Due: fix_double_empty_lines

GAIAPLAT-1957 - Adding PyBind support back in
  production/gdev.cfg
Due: fix_double_empty_lines

GAIAPLAT-1798 - Slight change in job ordering of Coverage job
  .github/workflows/main.yml
Due: fix_double_empty_lines

GAIAPLAT-1787 - Removed remaining Slack integration point from build.
  .github/workflows/main.yml
Due: fix_double_empty_lines

renaming catalog diagram files, into notes subdirecctory
  production/catalog/notes/catalog.plantuml
  production/catalog/notes/catalog.png
Due: fix_double_empty_lines

ADDRESS PR FEEDBACK
  production/common/CMakeLists.txt
  production/common/src/exceptions.cpp
  production/common/tests/test_optional.cpp
  production/direct_access/CMakeLists.txt
  production/direct_access/src/dac_optional.cpp
  production/direct_access/tests/test_optional.cpp
  production/inc/gaia/direct_access/dac_optional.hpp
  production/inc/gaia/exceptions.hpp
  production/inc/gaia/optional.hpp
  production/inc/gaia/optional.inc
  production/inc/gaia_internal/exceptions.hpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

AddRESS PR FeedBack
  production/inc/gaia/optional.hpp
  production/inc/gaia/optional.inc
Due: fix_double_empty_lines, cpp_license_check

GAIAPLAT-1897 - Fixing GDev cache that was disabled during GHA development.
  dev_tools/gdev/gdev/cmd/gen/_abc/build.py
  dev_tools/gdev/gdev/dependency.py
Due: none

GAIAPLAT-1787 - Removed remaining Slack integration point from build. (#1271)
  .github/workflows/main.yml
Due: fix_double_empty_lines

Fix handling of invalid locator values during record_list iteration
  production/db/core/inc/record_list.hpp
  production/db/core/src/record_list.cpp
  production/db/core/src/type_generator.cpp
  production/db/core/tests/test_record_list.cpp
Due: fix_double_empty_lines, cpp_license_check

Rewrite comment for clarity
  production/db/core/inc/record_list.hpp
Due: fix_double_empty_lines, cpp_license_check

Add more const markings to record_list API
  production/db/core/inc/record_list.hpp
  production/db/core/inc/record_list.inc
  production/db/core/src/record_list.cpp
Due: fix_double_empty_lines, cpp_license_check

GAIAPLAT-1798 - Responding to PR comment from Chuan
  production/coverage/llvm-gcov.sh
Due: fix_double_empty_lines

Add nullopt, address PR feedback
  production/common/tests/test_optional.cpp
  production/inc/gaia/optional.hpp
  production/inc/gaia/optional.inc
Due: fix_double_empty_lines, cpp_license_check

Fix handling of invalid locator values during record_list iteration (#1273)
  production/db/core/inc/record_list.hpp
  production/db/core/inc/record_list.inc
  production/db/core/src/record_list.cpp
  production/db/core/src/type_generator.cpp
  production/db/core/tests/test_record_list.cpp
Due: fix_double_empty_lines, cpp_license_check

GAIAPLAT-1961 - First pass at adding dev-centric workflows.
  .github/workflows/bare-minimum.yml
  .github/workflows/full-monty.yml
  .github/workflows/half-monty.yml
  .pre-commit-config.yaml
  dev_tools/github-actions/pre-commit-hooks/verify_child_workflows.py
Due: fix_double_empty_lines, python_executable_license_check

GAIAPLAT-1961 - missed changes
  dev_tools/github-actions/pre-commit-hooks/verify_child_workflows.py
Due: python_executable_license_check

GAIAPLAT-1957 - Adding PyBind support back in (#1270)
  production/gdev.cfg
Due: fix_double_empty_lines

GAIAPLAT-1798 - Implementation of Code coverage measurements. (#1265)
  .github/workflows/main.yml
  production/coverage/coverage.sh
  production/coverage/gen_coverage.sh
  production/coverage/llvm-gcov.sh
  production/coverage/summarize.py
  production/gdev.cfg
Due: fix_double_empty_lines, python_executable_license_check

Gaiaplat 1953 - Bring current GH Actions more in line with TeamCity Functionality (#1264)
  .github/workflows/README.md
  .github/workflows/main.yml
  docs/repository-guidelines.md
Due: fix_double_empty_lines

GAIAPLAT-1897 - Fixed issue from bad stash
  dev_tools/gdev/gdev/cmd/gen/_abc/build.py
Due: none

moved the rule table initialization into rules
  production/catalog/CMakeLists.txt
  production/catalog/README.md
  production/catalog/gaiac/src/main.cpp
  production/catalog/src/catalog.cpp
  production/catalog/tests/test_rule_tables.cpp
  production/inc/gaia_internal/catalog/catalog.hpp
  production/rules/event_manager/CMakeLists.txt
  production/rules/event_manager/inc/event_manager.hpp
  production/rules/event_manager/src/event_manager.cpp
  production/rules/event_manager/src/rule_catalog.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

GAIAPLAT-1961 - Updated, name changes, and doc improvements.
  .github/workflows/README.md
  .github/workflows/bare-minimum.yml
  .github/workflows/cores-and-sdks.yml
  .github/workflows/every-job.yml
  .github/workflows/main.yml
  docs/repository-guidelines.md
Due: fix_double_empty_lines

GAIAPLAT-1897 - Fixing GDev cache that was disabled during GHA development (#1272)
  dev_tools/gdev/gdev/cmd/gen/_abc/build.py
  dev_tools/gdev/gdev/dependency.py
Due: none

Move cpack outside of gdev (#1240)
  dev_tools/github-actions/post_build_inside_container.sh
  production/gdev.cfg
Due: fix_double_empty_lines, bash_license_check

GAIAPLAT-1798 : Adding in stashed line.
  .github/workflows/main.yml
  .github/workflows/self-hosted.md
Due: fix_double_empty_lines

GAIAPLAT-1798 - Adding missing permissions line back in.
  .github/workflows/main.yml
Due: fix_double_empty_lines

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses/|production/tools/gaia_translate/tests/test_translation.ruleset)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py|production/db/core/tests/test_db.py|production/db/core/src/dump_se.py))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/sdk|production/examples|production/tests|production/coverage|production/sql/tests/test_fdw.sh))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples|production/sql|production/db|production/cmake|production/tools)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: (any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp|production/tests/workloads|production/inc/gaia/expressions|production/catalog/src/gaia_generate.cpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))) or (any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
