Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples, cpp_license_check_examples

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py))|(^.+\_\_init\_\_\.py)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/docker_dev|production/examples))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cpp_license_check_examples: any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))

Disable cache initialization as tracked by GAIAPLAT-2160
  production/db/core/src/db_client.cpp
Due: fix_double_empty_lines, cpp_license_check

Add a comment
  production/db/inc/core/db_shared_data_interface.inc
Due: fix_double_empty_lines, cpp_license_check

Add __thread comment
  production/db/inc/core/db_client.hpp
Due: fix_double_empty_lines, cpp_license_check

Fix cleanup bug and add a scope guard
  production/db/core/src/db_client.cpp
Due: fix_double_empty_lines, cpp_license_check

Use scope_guard in end_session()
  production/db/core/src/db_client.cpp
Due: fix_double_empty_lines, cpp_license_check

Change __thread into thread_local
  production/db/inc/core/db_client.hpp
Due: fix_double_empty_lines, cpp_license_check

Add capture direction
  production/db/core/src/db_client.cpp
Due: fix_double_empty_lines, cpp_license_check

Additional cleanup based on feedback
  production/db/core/src/db_client.cpp
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

Add comment on naked cache pointer
  production/db/inc/core/db_client.hpp
Due: fix_double_empty_lines, cpp_license_check

Make lambda capture more specific
  production/db/core/src/db_client.cpp
Due: fix_double_empty_lines, cpp_license_check

Change db_caches from global to session-level (#1522)
  production/db/core/src/db_caches.cpp
  production/db/core/src/db_client.cpp
  production/db/core/src/db_server.cpp
  production/db/core/src/gaia_ptr_api.cpp
  production/db/core/tests/test_db_caches.cpp
  production/db/inc/core/db_caches.hpp
  production/db/inc/core/db_client.hpp
  production/db/inc/core/db_server.hpp
  production/db/inc/core/db_shared_data.hpp
  production/db/inc/core/db_shared_data_client.inc
  production/db/inc/core/db_shared_data_interface.inc
  production/db/inc/core/db_shared_data_server.inc
Due: fix_double_empty_lines, cpp_license_check

Make lambda captures specific
  production/db/core/src/db_client.cpp
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

Make lambda captures specific (#1523)
  production/db/core/src/db_client.cpp
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

Slight reorg of code
  production/db/core/src/gaia_ptr_api.cpp
Due: fix_double_empty_lines, cpp_license_check

Apply PR feedback
  production/cmake/gaia_internal.cmake
  production/sdk/tests/test_sdk_db_no_init_rules.cpp
  production/system/CMakeLists.txt
  production/system/db/CMakeLists.txt
  production/system/db/README.md
  production/system/db_rules/CMakeLists.txt
  production/system/db_rules/README.md
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Fix lint error
  production/cmake/gaia_internal.cmake
Due: fix_double_empty_lines, cmake_license_check

Create a database-only shared library (#1521)
  production/cmake/gaia.cmake
  production/cmake/gaia_internal.cmake
  production/db/core/src/gaia_ptr_api.cpp
  production/db/inc/core/db_client.hpp
  production/db/inc/core/db_client.inc
  production/examples/direct_access/CMakeLists.txt
  production/examples/direct_access_multithread/CMakeLists.txt
  production/examples/direct_access_vlr/CMakeLists.txt
  production/examples/hello/CMakeLists.txt
  production/examples/incubator/CMakeLists.txt
  production/inc/gaia/system.hpp
  production/sdk/CMakeLists.txt
  production/sdk/tests/test_sdk_base.hpp
  production/sdk/tests/test_sdk_db.cpp
  production/sdk/tests/test_sdk_db_no_init_rules.cpp
  production/sdk/tests/test_sdk_no_init_rules.cpp
  production/sdk/tests/test_sdk_rules.cpp
  production/system/CMakeLists.txt
  production/system/src/gaia_system.cpp
  production/tools/gaia_translate/src/main.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check, cmake_license_check_examples

Misc. fixes
  production/db/core/src/log_file.cpp
  production/db/core/src/log_io.cpp
  production/db/inc/core/log_file.hpp
  production/db/inc/core/log_io.hpp
Due: fix_double_empty_lines, cpp_license_check

Introduce log writer APIs (log_io.cpp, log_io.hpp) (#1144)
  production/db/core/CMakeLists.txt
  production/db/core/src/async_disk_writer.cpp
  production/db/core/src/chunk_manager.cpp
  production/db/core/src/log_file.cpp
  production/db/core/src/log_io.cpp
  production/db/inc/core/async_disk_writer.hpp
  production/db/inc/core/log_file.hpp
  production/db/inc/core/log_io.hpp
  production/db/inc/core/memory_helpers.hpp
  production/db/inc/core/memory_helpers.inc
  production/db/inc/core/persistence_types.hpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Remove internal/data from gdev
  production/gdev.cfg
Due: fix_double_empty_lines

Remove JIRA tags in DB client/server code
  production/db/core/src/db_client.cpp
  production/db/core/src/db_server.cpp
  production/db/core/src/gaia_ptr_api.cpp
  production/db/core/src/gaia_ptr_client.cpp
  production/db/core/src/index_builder.cpp
  production/db/core/src/persistent_store_manager.cpp
  production/db/inc/core/db_client.hpp
  production/db/inc/core/db_client.inc
  production/db/inc/core/txn_metadata_entry.hpp
Due: fix_double_empty_lines, cpp_license_check

Remove JIRA tags in DB client/server code (#1527)
  production/db/core/src/db_client.cpp
  production/db/core/src/db_server.cpp
  production/db/core/src/gaia_ptr_api.cpp
  production/db/core/src/gaia_ptr_client.cpp
  production/db/core/src/index_builder.cpp
  production/db/core/src/persistent_store_manager.cpp
  production/db/inc/core/db_client.hpp
  production/db/inc/core/db_client.inc
  production/db/inc/core/txn_metadata_entry.hpp
Due: fix_double_empty_lines, cpp_license_check

Make db_test_base_t to terminate the logger in TearDownTestSuite()
  production/common/src/logger.cpp
  production/common/src/logger_manager.cpp
  production/inc/gaia_internal/common/logger.hpp
  production/inc/gaia_internal/common/logger_manager.hpp
  production/inc/gaia_internal/db/db_test_base.hpp
  production/rules/event_manager/src/rule_thread_pool.cpp
Due: fix_double_empty_lines, cpp_license_check

Make db_test_base_t to terminate the logger in TearDownTestSuite() (#1528)
  production/common/src/logger.cpp
  production/common/src/logger_manager.cpp
  production/inc/gaia_internal/common/logger.hpp
  production/inc/gaia_internal/common/logger_manager.hpp
  production/inc/gaia_internal/db/db_test_base.hpp
  production/rules/event_manager/src/rule_thread_pool.cpp
Due: fix_double_empty_lines, cpp_license_check

Introduce client session and txn contexts
  production/db/core/CMakeLists.txt
  production/db/core/src/client_contexts.cpp
  production/db/core/src/db_client.cpp
  production/db/inc/core/client_contexts.hpp
  production/db/inc/core/client_contexts.inc
  production/db/inc/core/db_client.hpp
  production/db/inc/core/db_client.inc
  production/db/inc/core/db_shared_data_client.inc
  production/db/query_processor/src/qp_operator.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Move more client state into contexts
  production/db/core/src/client_contexts.cpp
  production/db/core/src/db_client.cpp
  production/db/inc/core/client_contexts.hpp
  production/db/inc/core/db_client.hpp
  production/db/inc/core/db_client.inc
Due: fix_double_empty_lines, cpp_license_check

Move data mappings into session context
  production/db/core/src/client_contexts.cpp
  production/db/core/src/db_client.cpp
  production/db/core/src/db_client_api.cpp
  production/db/core/src/db_server_instance.cpp
  production/db/inc/core/client_contexts.hpp
  production/db/inc/core/db_client.hpp
  production/db/inc/core/db_client.inc
  production/db/inc/core/db_shared_data_client.inc
  production/db/inc/core/mapped_data.hpp
  production/db/inc/core/mapped_data.inc
  production/inc/gaia_internal/db/db.hpp
Due: fix_double_empty_lines, cpp_license_check

Add server session and txn contexts
  production/db/core/CMakeLists.txt
  production/db/core/src/db_server.cpp
  production/db/core/src/server_contexts.cpp
  production/db/inc/core/db_server.hpp
  production/db/inc/core/db_shared_data_server.inc
  production/db/inc/core/server_contexts.hpp
  production/db/inc/core/server_contexts.inc
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Fix some merging leftovers
  production/db/core/src/db_client.cpp
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

Remove unneeded context flag
  production/db/core/src/db_server.cpp
  production/db/inc/core/server_contexts.hpp
Due: fix_double_empty_lines, cpp_license_check

Fix one morre merge issue
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

Finalize server context content
  production/db/core/src/db_server.cpp
  production/db/inc/core/db_server.hpp
  production/db/inc/core/server_contexts.hpp
Due: fix_double_empty_lines, cpp_license_check

Remove unused constructor
  production/db/core/src/server_contexts.cpp
  production/db/inc/core/server_contexts.hpp
Due: fix_double_empty_lines, cpp_license_check

Introducing client and server contexts (#1526)
  production/db/core/CMakeLists.txt
  production/db/core/src/client_contexts.cpp
  production/db/core/src/db_client.cpp
  production/db/core/src/db_client_api.cpp
  production/db/core/src/db_server.cpp
  production/db/core/src/db_server_instance.cpp
  production/db/core/src/server_contexts.cpp
  production/db/inc/core/client_contexts.hpp
  production/db/inc/core/client_contexts.inc
  production/db/inc/core/db_client.hpp
  production/db/inc/core/db_client.inc
  production/db/inc/core/db_server.hpp
  production/db/inc/core/db_shared_data_client.inc
  production/db/inc/core/db_shared_data_server.inc
  production/db/inc/core/mapped_data.hpp
  production/db/inc/core/mapped_data.inc
  production/db/inc/core/server_contexts.hpp
  production/db/inc/core/server_contexts.inc
  production/db/query_processor/src/qp_operator.cpp
  production/inc/gaia_internal/db/db.hpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Add accessors for context data
  production/db/core/src/db_client.cpp
  production/db/core/src/db_server.cpp
  production/db/inc/core/db_client.hpp
  production/db/inc/core/db_client.inc
  production/db/inc/core/db_server.hpp
  production/db/inc/core/db_server.inc
Due: fix_double_empty_lines, cpp_license_check

Fix extra end of line
  production/tools/tests/gaiat/break_continue_test01.ruleset
Due: fix_double_empty_lines
