Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples

fix_double_empty_lines:
  name: Eliminate multiple empty lines
  entry: dev_tools/github-actions/pre-commit-hooks/fix_double_empty_lines.py
  language: python

python_executable_license_check:
  name: Check Python Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#! /usr/bin/python3
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

python_non_executable_license_check:
  name: Check Python Non-Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

bash_license_check:
  name: Check Bash files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#! /usr/bin/bash
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

cmake_license_check:
  name: Check CMake files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

db_license_check:
  name: Check SQL and DDL files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '---------------------------------------------
  
    -- Copyright (c) Gaia Platform LLC
  
    -- All rights reserved.
  
  ...

cpp_license_check:
  name: Check Example C++ files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '////////////////////////////////////////////////////
  
    // Copyright (c) Gaia Platform LLC
  
    //
  
  ...

bash_license_check_examples:
  name: Check Example Bash files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#! /usr/bin/bash
  
  
    ###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

cmake_license_check_examples:
  name: Check Example CMake files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

test
  .github/actions/build-third-party/action.yml
  .github/actions/setup-job/action.yml
  .github/workflows/main.yml
Due: fix_double_empty_lines

test
  .github/actions/build-third-party/action.yml
  .github/actions/lint-job/action.yml
  .github/workflows/main.yml
Due: fix_double_empty_lines

test
  .github/actions/lint-job/action.yml
Due: fix_double_empty_lines

Improve assert messages
  production/db/core/src/db_client.cpp
  production/db/core/src/type_generator.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix client calculation of batch buffer size
  production/db/core/inc/db_client.inc
  production/db/core/src/db_client.cpp
  production/db/core/src/type_generator.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix client calculation of batch buffer size (#1279)
  production/db/core/inc/db_client.inc
  production/db/core/src/db_client.cpp
  production/db/core/src/type_generator.cpp
Due: fix_double_empty_lines, cpp_license_check

test
  .github/actions/build-job/action.yml
  .github/actions/build-third-party/action.yml
  .github/actions/lint-job/action.yml
  .github/workflows/main.yml
Due: fix_double_empty_lines

test
  .github/actions/build-third-party/action.yml
Due: fix_double_empty_lines

test
  .github/workflows/main.yml
Due: fix_double_empty_lines

Add logging for new session termination
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

save point
  production/catalog/src/ddl_executor.cpp
  production/inc/gaia_internal/catalog/ddl_executor.hpp
  production/rules/event_manager/src/rule_catalog.cpp
Due: fix_double_empty_lines, cpp_license_check

Add logging for new session termination (#1280)
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

test
  .github/actions/coverage-job/action.yml
  .github/actions/integration-tests-job/action.yml
  .github/workflows/main.yml
Due: fix_double_empty_lines

mark rules tables as system tables
  production/catalog/src/ddl_executor.cpp
  production/inc/gaia_internal/catalog/ddl_executor.hpp
  production/rules/event_manager/src/rule_catalog.cpp
Due: fix_double_empty_lines, cpp_license_check

GAIAPLAT-1961 - Responding to PR comments by DH
  .github/workflows/core.yml
  .github/workflows/every-job.yml
  .github/workflows/llvm-tests.yml
  .github/workflows/main.yml
Due: fix_double_empty_lines

GAIAPLAT-1961 - Changing readme to mesh with newly named manual workflows.
  .github/workflows/README.md
Due: fix_double_empty_lines

GAIAPLAT-1962 - Fixing small issue with missed line in Coverage action
  .github/actions/coverage-job/action.yml
Due: fix_double_empty_lines

[GAIAPLAT-1950] Make DAC classes use std::optional for scalar fields
  production/catalog/src/catalog_facade.cpp
  production/db/core/src/gaia_ptr_api.cpp
  production/direct_access/tests/test_auto_connect.cpp
  production/direct_access/tests/test_optional_dac.cpp
  production/schemas/test/optional/optional.ddl
Due: fix_double_empty_lines, db_license_check, cpp_license_check

change int to size_t to eliminate warnings
  production/tools/gaia_dump/src/gaia_dump.cpp
  production/tools/gaia_dump/src/main.cpp
Due: fix_double_empty_lines, cpp_license_check

Update optional.inc
  production/inc/gaia/optional.inc
Due: fix_double_empty_lines, cpp_license_check

[GAIAPLAT-1949] Create optional class as replacement of c++17 std::optional (#1262)
  production/common/CMakeLists.txt
  production/common/src/exceptions.cpp
  production/common/tests/test_optional.cpp
  production/inc/gaia/exceptions.hpp
  production/inc/gaia/optional.hpp
  production/inc/gaia/optional.inc
  production/inc/gaia_internal/exceptions.hpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Creating rules catalog tables with is_system turned on (#1281)
  production/catalog/src/ddl_executor.cpp
  production/inc/gaia_internal/catalog/ddl_executor.hpp
  production/rules/event_manager/src/rule_catalog.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix build warning for unused variable in gaia_fdw.cpp
  production/sql/src/gaia_fdw.cpp
Due: fix_double_empty_lines, cpp_license_check

Better fix
  production/sql/src/gaia_fdw.cpp
  production/tools/gaia_translate/CMakeLists.txt
Due: fix_double_empty_lines, cpp_license_check

GAIAPLAT-1894 - Work to speed up the build workflow using artifacts.
  .github/workflows/README.md
Due: fix_double_empty_lines

test
  .github/actions/build-job/action.yml
  dev_tools/github-actions/build_image.sh
  dev_tools/github-actions/post_build_action.sh
  dev_tools/github-actions/post_build_inside_container.sh
Due: fix_double_empty_lines, bash_license_check

Revert accidental change
  production/tools/gaia_translate/CMakeLists.txt
Due: fix_double_empty_lines

Fix build warning for unused variable in gaia_fdw.cpp (#1284)
  production/sql/src/gaia_fdw.cpp
Due: fix_double_empty_lines, cpp_license_check

moved initialize_rules_tables() into the init()
  production/rules/event_manager/src/event_manager.cpp
Due: fix_double_empty_lines, cpp_license_check

Replace gaia implementation of optional with flatbuffers one
  production/catalog/src/catalog_facade.cpp
  production/catalog/src/dac_generator.cpp
  production/common/CMakeLists.txt
  production/common/tests/test_optional.cpp
  production/inc/gaia/optional.hpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses/|production/tools/gaia_translate/tests/test_translation.ruleset)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py|production/db/core/tests/test_db.py|production/db/core/src/dump_se.py))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/sdk|production/examples|production/tests|production/coverage|production/sql/tests/test_fdw.sh))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples|production/sql|production/db|production/cmake|production/tools)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: (any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp|production/tests/workloads|production/inc/gaia/expressions|production/catalog/src/gaia_generate.cpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))) or (any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
