Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples, cpp_license_check_examples

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py))|(^.+\_\_init\_\_\.py)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/docker_dev|production/examples))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cpp_license_check_examples: any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))

Shared memory table scan (phase 1) (#1398)
  production/db/core/CMakeLists.txt
  production/db/core/inc/db_client.hpp
  production/db/core/inc/db_internal_types.hpp
  production/db/core/inc/db_server.hpp
  production/db/core/inc/db_shared_data.hpp
  production/db/core/inc/mapped_data.hpp
  production/db/core/inc/txn_metadata_entry.hpp
  production/db/core/inc/type_index.hpp
  production/db/core/inc/type_index.inc
  production/db/core/inc/type_index_cursor.hpp
  production/db/core/inc/type_index_cursor.inc
  production/db/core/src/db_server.cpp
  production/db/core/src/db_shared_data_client.cpp
  production/db/core/src/db_shared_data_server.cpp
  production/db/core/src/exceptions.cpp
  production/db/core/tests/test_type_index.cpp
  production/inc/gaia/exceptions.hpp
  production/inc/gaia_internal/exceptions.hpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Use our own github action runners (self-hosted) (#1401)
  .github/actions/setup-job/action.yml
  .github/workflows/README.md
  .github/workflows/core.yml
  .github/workflows/cores-and-sdks.yml
  .github/workflows/documentation.yml
  .github/workflows/integration-only.yml
  .github/workflows/llvm-tests.yml
  .github/workflows/main.yml
  .github/workflows/performance-only.yml
  .github/workflows/remove-old-artifacts.yml
  .pre-commit-config.yaml
  dev_tools/gdev/gdev/cmd/gen/_abc/dockerfile.py
  dev_tools/github-actions/build_image.sh
  dev_tools/github-actions/execute_tests_against_package.sh
  dev_tools/github-actions/post_build_action.sh
  dev_tools/github-actions/post_build_inside_container.sh
  production/tests/performance_suites.sh
  production/tests/release_long_no_persistence_suite.sh
  production/tests/release_long_no_persistence_suites.sh
  production/tests/release_long_persistence_suite.sh
  production/tests/release_long_persistence_suites.sh
  production/tests/release_suites.sh
  production/tests/smoke_suites.sh
  production/tests/smoke_suites_with_persistence.sh
Due: fix_double_empty_lines, bash_license_check

remove third-party job
  .github/workflows/core.yml
  dev_tools/github-actions/build_image.sh
Due: fix_double_empty_lines, bash_license_check

Remove download of third-party artifacts
  .github/actions/setup-job/action.yml
Due: fix_double_empty_lines

pass along image name even if not cached
  dev_tools/github-actions/build_image.sh
Due: fix_double_empty_lines, bash_license_check

remove third-party job across the board
  .github/workflows/cores-and-sdks.yml
  .github/workflows/llvm-tests.yml
  .github/workflows/main.yml
Due: fix_double_empty_lines

test: stop caching pre-commit
  .github/actions/lint-job/action.yml
Due: fix_double_empty_lines

build: remove third-party job from workflows (#1402)
  .github/actions/lint-job/action.yml
  .github/actions/setup-job/action.yml
  .github/workflows/core.yml
  .github/workflows/cores-and-sdks.yml
  .github/workflows/llvm-tests.yml
  .github/workflows/main.yml
Due: fix_double_empty_lines

Insert new locators into type index
  production/db/core/inc/db_helpers.hpp
  production/db/core/inc/db_object_helpers.hpp
  production/db/core/inc/type_index.hpp
  production/db/core/inc/type_index.inc
  production/db/core/src/gaia_ptr_client.cpp
Due: fix_double_empty_lines, cpp_license_check

Remove obsolete locators from type index
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

Clean up comments
  production/db/core/inc/type_index.hpp
Due: fix_double_empty_lines, cpp_license_check

cleanup
  production/db/core/inc/type_index.hpp
Due: fix_double_empty_lines, cpp_license_check

Update CMakeLists.txt
  production/examples/rules/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check_examples

minor tweaks in prep for connect/disconnect tutorials
  production/examples/rules/CMakeLists.txt
  production/examples/rules/hospital.cpp
  production/examples/rules/hospital.ruleset
Due: fix_double_empty_lines, cmake_license_check_examples, cpp_license_check_examples

Add more lessons
  production/examples/rules/hospital.cpp
  production/examples/rules/hospital.ddl
  production/examples/rules/hospital.ruleset
Due: fix_double_empty_lines, db_license_check_eamples, cpp_license_check_examples

add a vlr relationship
  production/examples/rules/hospital.cpp
  production/examples/rules/hospital.ddl
Due: fix_double_empty_lines, db_license_check_eamples, cpp_license_check_examples

initial rough cut of rules tutorial
  production/examples/rules/.gitignore
  production/examples/rules/CMakeLists.txt
  production/examples/rules/CMakeLists_prod.txt
  production/examples/rules/CMakeLists_sdk.txt
  production/examples/rules/README.md
  production/examples/rules/gaia.conf
  production/examples/rules/hospital.cpp
  production/examples/rules/hospital.ddl
  production/examples/rules/hospital.ruleset
  production/tools/gaia_translate/src/main.cpp
Due: fix_double_empty_lines, cpp_license_check, cmake_license_check_examples, db_license_check_eamples, cpp_license_check_examples

remove whitespace
  production/examples/rules/hospital.ruleset
Due: fix_double_empty_lines, cpp_license_check_examples

Added more lessons
  production/examples/rules/hospital.cpp
  production/examples/rules/hospital.ruleset
Due: fix_double_empty_lines, cpp_license_check_examples

add array tests
  production/examples/rules/hospital.cpp
  production/examples/rules/hospital.ruleset
Due: fix_double_empty_lines, cpp_license_check_examples

rename method
  production/db/core/inc/type_index.hpp
  production/db/core/inc/type_index.inc
  production/db/core/inc/type_index_cursor.inc
Due: fix_double_empty_lines, cpp_license_check

enable command line args for running lessons
  production/examples/rules/hospital.cpp
  production/examples/rules/hospital.ruleset
Due: fix_double_empty_lines, cpp_license_check_examples

remove allocate_type()
  production/db/core/inc/db_helpers.hpp
  production/db/core/tests/test_concurrent_db_client.cpp
Due: fix_double_empty_lines, cpp_license_check

Allow empty tables to be used in rulesets
  production/schemas/test/incubator/incubator.ddl
  production/tools/gaia_translate/src/main.cpp
  production/tools/gaia_translate/tests/test_translation.ruleset
  third_party/production/TranslationEngineLLVM/clang/lib/Catalog/GaiaCatalog.cpp
Due: fix_double_empty_lines, db_license_check, cpp_license_check

Address review feedback
  production/db/core/inc/type_index.inc
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

Shared memory table scan (phase 2) (#1403)
  production/db/core/inc/db_helpers.hpp
  production/db/core/inc/db_object_helpers.hpp
  production/db/core/inc/type_index.hpp
  production/db/core/inc/type_index.inc
  production/db/core/inc/type_index_cursor.inc
  production/db/core/src/db_server.cpp
  production/db/core/src/gaia_ptr_client.cpp
  production/db/core/tests/test_concurrent_db_client.cpp
Due: fix_double_empty_lines, cpp_license_check

Move the test to different ddl to avoid polluting ddl used for other examples
  production/schemas/test/incubator/incubator.ddl
  production/schemas/test/prerequisites/prerequisites.ddl
  production/tools/gaia_translate/tests/test_rulesets.ruleset
  production/tools/gaia_translate/tests/test_translation.ruleset
Due: fix_double_empty_lines, db_license_check

Allow empty tables to be used in rulesets (#1404)
  production/schemas/test/prerequisites/prerequisites.ddl
  production/tools/gaia_translate/src/main.cpp
  production/tools/gaia_translate/tests/test_rulesets.ruleset
  third_party/production/TranslationEngineLLVM/clang/lib/Catalog/GaiaCatalog.cpp
Due: fix_double_empty_lines, db_license_check, cpp_license_check

add lesson_manager and peripheral helpers; add non-interactive mode for testing
  production/examples/rules/CMakeLists.txt
  production/examples/rules/hospital.cpp
  production/examples/rules/hospital.ruleset
  production/examples/rules/lesson_manager.cpp
  production/examples/rules/lesson_manager.hpp
Due: fix_double_empty_lines, cmake_license_check_examples, cpp_license_check_examples

Add SDK CMakeLists and README.md
  production/examples/rules/CMakeLists.txt
  production/examples/rules/CMakeLists_prod.txt
  production/examples/rules/CMakeLists_sdk.txt
  production/examples/rules/README.md
  production/examples/rules/hospital.ruleset
  production/sdk/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check, cmake_license_check_examples, cpp_license_check_examples

Add Direct Access and Rules examples to sdk integration test
  dev_tools/sdk/test/build_sdk_samples.sh
Due: fix_double_empty_lines, bash_license_check

fix lint errors
  production/examples/rules/README.md
Due: fix_double_empty_lines

more lint fixes
  production/examples/rules/CMakeLists_prod.txt
  production/examples/rules/hospital.ruleset
Due: fix_double_empty_lines, cpp_license_check_examples

Add all SDK samples to the SDK verification job
  dev_tools/sdk/test/build_sdk_samples.sh
Due: fix_double_empty_lines, bash_license_check

fix lint errors
  dev_tools/sdk/test/build_sdk_samples.sh
Due: fix_double_empty_lines, bash_license_check

one more lint error
  dev_tools/sdk/test/build_sdk_samples.sh
Due: fix_double_empty_lines, bash_license_check

Bump Gaia version to 0.4.1-beta
  production/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

Apply 1st round of review feedback
  production/examples/rules/CMakeLists.txt
  production/examples/rules/README.md
  production/examples/rules/hospital.cpp
  production/examples/rules/hospital.ruleset
  production/examples/rules/lesson_manager.cpp
  production/examples/rules/lesson_manager.hpp
Due: fix_double_empty_lines, cmake_license_check_examples, cpp_license_check_examples

Add summary comments for each ruleset
  production/examples/rules/hospital.ruleset
Due: fix_double_empty_lines, cpp_license_check_examples

Bump Gaia version to 0.4.1-beta (#1406)
  production/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check
