Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples

fix_double_empty_lines:
  name: Eliminate multiple empty lines
  entry: dev_tools/github-actions/pre-commit-hooks/fix_double_empty_lines.py
  language: python

python_executable_license_check:
  name: Check Python Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#! /usr/bin/python3
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

python_non_executable_license_check:
  name: Check Python Non-Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

bash_license_check:
  name: Check Bash files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#! /usr/bin/bash
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

cmake_license_check:
  name: Check CMake files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

db_license_check:
  name: Check SQL and DDL files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '---------------------------------------------
  
    -- Copyright (c) Gaia Platform LLC
  
    -- All rights reserved.
  
  ...

cpp_license_check:
  name: Check Example C++ files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '////////////////////////////////////////////////////
  
    // Copyright (c) Gaia Platform LLC
  
    //
  
  ...

bash_license_check_examples:
  name: Check Example Bash files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#! /usr/bin/bash
  
  
    ###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

cmake_license_check_examples:
  name: Check Example CMake files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

Remove client manual closing of fd
  production/db/core/inc/db_client.inc
Due: fix_double_empty_lines, cpp_license_check

Add a link to JIRA item in the comment
  production/db/core/inc/db_client.inc
Due: fix_double_empty_lines, cpp_license_check

Bring back code and update comment
  production/db/core/inc/db_client.inc
Due: fix_double_empty_lines, cpp_license_check

Add additional comment
  production/db/core/inc/db_client.inc
Due: fix_double_empty_lines, cpp_license_check

Update comment on manual closing of client fd (#1351)
  production/db/core/inc/db_client.inc
Due: fix_double_empty_lines, cpp_license_check

Address PR feedback
  production/direct_access/tests/test_insertion_perf.cpp
Due: fix_double_empty_lines, cpp_license_check

Add negative tests.
  production/direct_access/tests/test_optional_dac.cpp
Due: fix_double_empty_lines, cpp_license_check

predicate -> predicate_value
  production/inc/gaia/direct_access/dac_iterators.inc
Due: fix_double_empty_lines, cpp_license_check

[GAIAPLAT-2027] Ensure that NULL ordering for indexes are the same as in optional (#1356)
  production/db/index/tests/test_index.cpp
Due: fix_double_empty_lines, cpp_license_check

move add_catalog_hashes() within existing DDL txn
  production/catalog/src/ddl_execution.cpp
  production/catalog/src/hash_generator.cpp
Due: fix_double_empty_lines, cpp_license_check

[GAIAPLAT-2057] Concurrency issue in db_hash_map causes "Cannot find an object with ID 'xxx'." (#1353)
  production/db/core/inc/db_internal_types.hpp
  production/direct_access/CMakeLists.txt
  production/direct_access/tests/test_insertion_perf.cpp
  production/schemas/test/CMakeLists.txt
  production/schemas/test/insert/insert.ddl
Due: fix_double_empty_lines, cmake_license_check, db_license_check, cpp_license_check

Also clear the record_list_manager when clearing the shared memory
  production/db/core/inc/record_list_manager.hpp
  production/db/core/src/db_server.cpp
  production/db/core/src/record_list_manager.cpp
Due: fix_double_empty_lines, cpp_license_check

Rename clear_shared_memory() to clear_server_state()
  production/db/core/inc/db_server.hpp
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

Also clear the record_list_manager when clearing the shared memory (#1358)
  production/db/core/inc/db_server.hpp
  production/db/core/inc/record_list_manager.hpp
  production/db/core/src/db_server.cpp
  production/db/core/src/record_list_manager.cpp
Due: fix_double_empty_lines, cpp_license_check

Fixing issues raised by LC.
  dev_tools/docker_dev/gdev/cmd/gen/_custom/cfg.py
  dev_tools/docker_dev/gdev/cmd/gen/_custom/dockerfile.py
  dev_tools/docker_dev/gdev/cmd/gen/_custom/run.py
  dev_tools/docker_dev/gdev/cmd/gen/apt/cfg.py
  dev_tools/docker_dev/gdev/cmd/gen/apt/push.py
  dev_tools/docker_dev/gdev/cmd/gen/apt/run.py
  dev_tools/docker_dev/gdev/cmd/gen/env/cfg.py
  dev_tools/docker_dev/gdev/cmd/gen/env/push.py
  dev_tools/docker_dev/gdev/cmd/gen/env/run.py
  dev_tools/docker_dev/gdev/cmd/gen/gaia/cfg.py
  dev_tools/docker_dev/gdev/cmd/gen/gaia/push.py
  dev_tools/docker_dev/gdev/cmd/gen/gaia/run.py
  dev_tools/docker_dev/gdev/cmd/gen/git/cfg.py
  dev_tools/docker_dev/gdev/cmd/gen/git/push.py
  dev_tools/docker_dev/gdev/cmd/gen/git/run.py
  dev_tools/docker_dev/gdev/cmd/gen/pip/cfg.py
  dev_tools/docker_dev/gdev/cmd/gen/pip/push.py
  dev_tools/docker_dev/gdev/cmd/gen/pip/run.py
  dev_tools/docker_dev/gdev/cmd/gen/pre_run/cfg.py
  dev_tools/docker_dev/gdev/cmd/gen/pre_run/push.py
  dev_tools/docker_dev/gdev/cmd/gen/pre_run/run.py
  dev_tools/docker_dev/gdev/cmd/gen/run/cfg.py
  dev_tools/docker_dev/gdev/cmd/gen/run/push.py
  dev_tools/docker_dev/gdev/cmd/gen/run/run.py
  dev_tools/docker_dev/gdev/cmd/gen/web/cfg.py
  dev_tools/docker_dev/gdev/cmd/gen/web/push.py
  dev_tools/docker_dev/gdev/cmd/gen/web/run.py
  dev_tools/docker_dev/gdev/dependency.py
  dev_tools/docker_dev/gdev/main.py
  dev_tools/docker_dev/gdev/parser_structure.py
  dev_tools/docker_dev/test/gdev_execute.py
  dev_tools/docker_dev/test/pytest_execute.py
Due: python_executable_license_check

indentation consistency
  production/inc/gaia/expressions/builders/expression_builder.hpp
Due: fix_double_empty_lines

Port most operators from C++ and misc template fixes (#1355)
  production/direct_access/tests/test_expressions_no_dac.cpp
  production/inc/gaia/expressions/builders/expression_builder.hpp
  production/inc/gaia/expressions/operators.hpp
Due: fix_double_empty_lines, cpp_license_check

Implement unary + operator for expressions
  production/direct_access/tests/test_expressions_no_dac.cpp
  production/inc/gaia/expressions/builders/expression_builder.hpp
  production/inc/gaia/expressions/operators.hpp
Due: fix_double_empty_lines, cpp_license_check

Fix broken tests
  production/tools/tests/gaiat/tags_test06.ruleset
  third_party/production/TranslationEngineLLVM/clang/lib/Sema/SemaGaia.cpp
  third_party/production/TranslationEngineLLVM/clang/test/Parser/gaia_connect_disconnect.cpp
  third_party/production/TranslationEngineLLVM/clang/test/Parser/gaia_paths.cpp
  third_party/production/TranslationEngineLLVM/clang/test/Parser/gaia_rule_attributes.cpp
  third_party/production/TranslationEngineLLVM/clang/test/Parser/gaia_rule_context.cpp
  third_party/production/TranslationEngineLLVM/clang/test/Parser/gaia_rule_fields.cpp
  third_party/production/TranslationEngineLLVM/clang/test/Parser/gaia_test_extensions.cpp
Due: fix_double_empty_lines

Fix broken test
  third_party/production/TranslationEngineLLVM/clang/test/Parser/gaia_connect_disconnect.cpp
Due: none

Finished the forward const_iterator for DAC vectors
  production/inc/gaia/direct_access/dac_array.hpp
  production/inc/gaia/direct_access/dac_array.inc
Due: fix_double_empty_lines, cpp_license_check

Make test_expressions_perf compile, but leave them disabled
  production/direct_access/CMakeLists.txt
  production/direct_access/tests/test_expressions_perf.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

remove redoundant option
  production/direct_access/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

Bump Gaia version to 0.4.0-beta
  production/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

Make test_expressions_perf compile, but leave them disabled (#1362)
  production/direct_access/CMakeLists.txt
  production/direct_access/tests/test_expressions_perf.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

rename/overload some hashing methods
  production/catalog/src/ddl_execution.cpp
  production/catalog/src/hash_generator.cpp
  production/inc/gaia_internal/catalog/catalog.hpp
Due: fix_double_empty_lines, cpp_license_check

fix formatting.
  production/inc/gaia/expressions/builders/expression_builder.hpp
Due: fix_double_empty_lines

Implement unary + operator for expressions (#1361)
  production/direct_access/tests/test_expressions_no_dac.cpp
  production/inc/gaia/expressions/builders/expression_builder.hpp
  production/inc/gaia/expressions/operators.hpp
Due: fix_double_empty_lines, cpp_license_check

[GAIAPLAT-2028] nullopt propagation in non-comparison operations in expressions
  production/direct_access/CMakeLists.txt
  production/direct_access/tests/test_expressions_no_dac.cpp
  production/inc/gaia/expressions/builders/expression_builder.hpp
  production/inc/gaia/expressions/builders/expression_optional.hpp
  production/inc/gaia/expressions/expression_traits.hpp
  production/inc/gaia/expressions/expressions.hpp
  production/inc/gaia/expressions/operators.hpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

Fixup some spacing.
  production/inc/gaia/expressions/expression_traits.hpp
Due: fix_double_empty_lines

Disable new txn log allocation
  production/db/core/inc/db_client.inc
  production/db/core/src/db_client.cpp
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

Disable new txn log allocation (#1365)
  production/db/core/inc/db_client.inc
  production/db/core/src/db_client.cpp
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

Upgraded DAC vector iterator to a random access iterator
  production/inc/gaia/direct_access/dac_array.hpp
  production/inc/gaia/direct_access/dac_array.inc
Due: fix_double_empty_lines, cpp_license_check

Bump Gaia version to 0.4.0-beta (#1363)
  production/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

Fixed operator[] behavior in the DAC vector iterator
  production/inc/gaia/direct_access/dac_array.inc
Due: fix_double_empty_lines, cpp_license_check

fix merge error.
  production/inc/gaia/expressions/builders/expression_builder.hpp
Due: fix_double_empty_lines

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses/|production/tools/gaia_translate/tests/test_translation.ruleset)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py|production/db/core/tests/test_db.py|production/db/core/src/dump_se.py))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/sdk|production/examples|production/tests|production/coverage|production/sql/tests/test_fdw.sh))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples|production/sql|production/db|production/cmake|production/tools)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: (any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp|production/tests/workloads|production/inc/gaia/expressions|production/catalog/src/gaia_generate.cpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))) or (any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
