Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples

fix_double_empty_lines:
  name: Eliminate multiple empty lines
  entry: dev_tools/github-actions/pre-commit-hooks/fix_double_empty_lines.py
  language: python

python_executable_license_check:
  name: Check Python Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#! /usr/bin/python3
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

python_non_executable_license_check:
  name: Check Python Non-Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

bash_license_check:
  name: Check Bash files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#! /usr/bin/bash
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

cmake_license_check:
  name: Check CMake files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

db_license_check:
  name: Check SQL and DDL files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '---------------------------------------------
  
    -- Copyright (c) Gaia Platform LLC
  
    -- All rights reserved.
  
  ...

cpp_license_check:
  name: Check Example C++ files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '////////////////////////////////////////////////////
  
    // Copyright (c) Gaia Platform LLC
  
    //
  
  ...

bash_license_check_examples:
  name: Check Example Bash files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#! /usr/bin/bash
  
  
    ###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

cmake_license_check_examples:
  name: Check Example CMake files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

Break long expr into smaller statements
  production/catalog/src/ddl_executor.cpp
Due: fix_double_empty_lines, cpp_license_check

test
  .github/workflows/main.yml
Due: fix_double_empty_lines

test
  .github/workflows/main.yml
  production/coverage/copy_after_line.py
  production/coverage/coverage.sh
Due: fix_double_empty_lines, python_executable_license_check

Add a new assert to client iteration and other cleanup
  production/direct_access/src/dac_base.cpp
  production/inc/gaia/direct_access/dac_iterators.inc
  production/inc/gaia_internal/common/generator_iterator.inc
Due: fix_double_empty_lines, cpp_license_check

Add a new assert to client iteration and other cleanup (#1298)
  production/direct_access/src/dac_base.cpp
  production/inc/gaia/direct_access/dac_iterators.inc
  production/inc/gaia_internal/common/generator_iterator.inc
Due: fix_double_empty_lines, cpp_license_check

test
  .github/workflows/main.yml
  production/coverage/coverage.sh
  production/coverage/gen_coverage.sh
Due: fix_double_empty_lines

Address PR comment
  production/direct_access/tests/test_auto_connect.cpp
  production/schemas/test/airport/airport.ddl
Due: fix_double_empty_lines, db_license_check, cpp_license_check

Update CMakeLists.txt
  production/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

Update CMakeLists.txt
  production/sdk/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

test
  production/coverage/coverage.sh
Due: fix_double_empty_lines

[GAIAPLAT-1971] Remove hard-coded dependency on clang and lld in the .deb
  production/sdk/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

[GAIAPLAT-1971] Remove hard-coded dependency on clang and lld in the .deb (#1300)
  production/sdk/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

Use version info generated by CMake in build and CI
  .github/workflows/README.md
  .github/workflows/core.yml
  .github/workflows/cores-and-sdks.yml
  .github/workflows/llvm-tests.yml
  .github/workflows/main.yml
  .gitignore
  dev_tools/github-actions/post_build_action.sh
  dev_tools/github-actions/post_build_inside_container.sh
  production/cmake/gaia_version.cmake
  production/gdev.cfg
  production/inc/gaia_internal/common/gaia_file_version.txt.in
Due: fix_double_empty_lines, bash_license_check

Test reading the version in core job
  .github/workflows/core.yml
  .github/workflows/cores-and-sdks.yml
  .github/workflows/main.yml
Due: fix_double_empty_lines

Update main yaml to get past link checker
  .github/workflows/core.yml
  .github/workflows/main.yml
Due: fix_double_empty_lines

Update core.yml
  .github/workflows/core.yml
Due: fix_double_empty_lines

Add missing closing paren
  .github/workflows/core.yml
  .github/workflows/cores-and-sdks.yml
  .github/workflows/main.yml
Due: fix_double_empty_lines

fix cores-and-sdks.yml
  .github/workflows/cores-and-sdks.yml
Due: fix_double_empty_lines

Sixth time is a charm
  .github/workflows/cores-and-sdks.yml
Due: fix_double_empty_lines

Allow the gaia version to be optional for the script
  dev_tools/github-actions/post_build_action.sh
Due: fix_double_empty_lines, bash_license_check

Read version info from docker container
  dev_tools/github-actions/post_build_inside_container.sh
Due: fix_double_empty_lines, bash_license_check

Remove Gaia Version from workflows and shell helper scripts
  .github/workflows/core.yml
  .github/workflows/cores-and-sdks.yml
  .github/workflows/main.yml
  dev_tools/github-actions/post_build_action.sh
  dev_tools/github-actions/post_build_inside_container.sh
Due: fix_double_empty_lines, bash_license_check

Apply review feedback; add architecture to package name
  .gitignore
  dev_tools/github-actions/post_build_inside_container.sh
  production/cmake/gaia_version.cmake
  production/inc/gaia_internal/common/gaia_file_version.txt.in
  production/inc/gaia_internal/common/gaia_package_name.txt.in
Due: fix_double_empty_lines, bash_license_check

fixes
  production/db/core/inc/db_internal_types.hpp
  production/db/core/inc/log_file.hpp
  production/db/core/inc/log_io.hpp
  production/db/core/inc/persistence_types.hpp
Due: fix_double_empty_lines, cpp_license_check

No useless cats
  dev_tools/github-actions/post_build_inside_container.sh
Due: fix_double_empty_lines, bash_license_check

Fix double_empty_lines
  dev_tools/github-actions/post_build_inside_container.sh
Due: fix_double_empty_lines, bash_license_check

First draft of txn log rewrite
  production/db/core/CMakeLists.txt
  production/db/core/inc/client_messenger.hpp
  production/db/core/inc/db_client.hpp
  production/db/core/inc/db_client.inc
  production/db/core/inc/db_helpers.hpp
  production/db/core/inc/db_internal_types.hpp
  production/db/core/inc/db_server.hpp
  production/db/core/inc/db_server.inc
  production/db/core/inc/db_shared_data.hpp
  production/db/core/inc/mapped_data.hpp
  production/db/core/inc/system_checks.hpp
  production/db/core/inc/txn_metadata.hpp
  production/db/core/inc/txn_metadata.inc
  production/db/core/inc/txn_metadata_entry.hpp
  production/db/core/inc/txn_metadata_entry.inc
  production/db/core/src/db_client.cpp
  production/db/core/src/db_server.cpp
  production/db/core/src/db_shared_data_client.cpp
  production/db/core/src/db_shared_data_server.cpp
  production/db/core/src/exceptions.cpp
  production/db/core/src/flatbuffers/messages.fbs
  production/db/core/src/index_builder.cpp
  production/db/core/src/mapped_data.cpp
  production/db/core/src/system_checks.cpp
  production/db/core/src/txn_metadata.cpp
  production/db/core/tests/test_db_internals.cpp
  production/db/inc/memory_manager/bitmap.hpp
  production/db/inc/memory_manager/memory_helpers.inc
  production/db/inc/memory_manager/memory_structures.hpp
  production/db/memory_manager/src/bitmap.cpp
  production/db/memory_manager/tests/test_bitmap.cpp
  production/db/query_processor/src/qp_operator.cpp
  production/inc/gaia/common.hpp
  production/inc/gaia_internal/db/db_types.hpp
  production/inc/gaia_internal/db/index_builder.hpp
Due: fix_double_empty_lines, cpp_license_check

test
  .gitignore
  production/coverage/coverage.sh
  production/coverage/gen_coverage.sh
Due: fix_double_empty_lines

Introduce log writer APIs (log_io.cpp, log_io.hpp)
  production/db/core/CMakeLists.txt
  production/db/core/inc/async_disk_writer.hpp
  production/db/core/inc/db_internal_types.hpp
  production/db/core/inc/log_file.hpp
  production/db/core/inc/log_io.hpp
  production/db/core/inc/persistence_types.hpp
  production/db/core/src/async_disk_writer.cpp
  production/db/core/src/log_file.cpp
  production/db/core/src/log_io.cpp
  production/db/inc/memory_manager/memory_helpers.hpp
  production/db/inc/memory_manager/memory_helpers.inc
  production/db/memory_manager/src/chunk_manager.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix several issues with code generation
  production/tools/gaia_translate/src/main.cpp
Due: fix_double_empty_lines, cpp_license_check

Revise txn log header comments
  production/db/core/inc/db_internal_types.hpp
Due: fix_double_empty_lines, cpp_license_check

Verify that action arg is passed
  dev_tools/github-actions/post_build_inside_container.sh
Due: fix_double_empty_lines, bash_license_check

[GAIAPLAT-1950] Make DAC classes use flatbuffers::Optional for scalar fields (#1283)
  production/catalog/src/catalog_facade.cpp
  production/catalog/src/dac_generator.cpp
  production/common/CMakeLists.txt
  production/common/tests/test_optional.cpp
  production/db/core/src/gaia_ptr_api.cpp
  production/direct_access/CMakeLists.txt
  production/direct_access/tests/test_auto_connect.cpp
  production/direct_access/tests/test_optional_dac.cpp
  production/inc/gaia/optional.hpp
  production/inc/gaia/optional.inc
  production/schemas/test/CMakeLists.txt
  production/schemas/test/airport/airport.ddl
  production/schemas/test/optional/optional.ddl
Due: fix_double_empty_lines, cmake_license_check, db_license_check, cpp_license_check

Install clang now that our install doesn't prereq it
  dev_tools/sdk/test/Dockerfile_gaia_ubuntu_20
Due: fix_double_empty_lines

No longer specifier specific linker
  dev_tools/sdk/test/Dockerfile_gaia_sdk_20
Due: fix_double_empty_lines

GAIAPLAT-1243: Ensure CI jobs pull version info from production build (#1299)
  .github/workflows/README.md
  .github/workflows/core.yml
  .github/workflows/cores-and-sdks.yml
  .github/workflows/llvm-tests.yml
  .github/workflows/main.yml
  dev_tools/github-actions/post_build_action.sh
  dev_tools/github-actions/post_build_inside_container.sh
  production/cmake/gaia_version.cmake
  production/gdev.cfg
  production/inc/gaia_internal/common/gaia_package_name.txt.in
Due: fix_double_empty_lines, bash_license_check

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses/|production/tools/gaia_translate/tests/test_translation.ruleset)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py|production/db/core/tests/test_db.py|production/db/core/src/dump_se.py))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/sdk|production/examples|production/tests|production/coverage|production/sql/tests/test_fdw.sh))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples|production/sql|production/db|production/cmake|production/tools)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: (any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp|production/tests/workloads|production/inc/gaia/expressions|production/catalog/src/gaia_generate.cpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))) or (any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
