Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples, cpp_license_check_examples

fix_double_empty_lines:
  name: Eliminate multiple empty lines
  entry: dev_tools/github-actions/pre-commit-hooks/fix_double_empty_lines.py
  language: python

python_executable_license_check:
  name: Check Python Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#!/usr/bin/env python3
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

python_non_executable_license_check:
  name: Check Python Non-Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

bash_license_check:
  name: Check Bash files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#!/usr/bin/env bash
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

cmake_license_check:
  name: Check CMake files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

db_license_check:
  name: Check SQL and DDL files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '---------------------------------------------
  
    -- Copyright (c) Gaia Platform LLC
  
    -- All rights reserved.
  
  ...

cpp_license_check:
  name: Check C++ files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '/////////////////////////////////////////////
  
    // Copyright (c) Gaia Platform LLC
  
    // All rights reserved.
  
  ...

bash_license_check_examples:
  name: Check Example Bash files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#!/usr/bin/env bash
  
  
    ###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

cmake_license_check_examples:
  name: Check Example CMake files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

Move all db extract code to a separate class; reference from tree and webview controls
  dev_tools/navigator-ext/.gitignore
  dev_tools/navigator-ext/dataViewer/dataViewer.js
  dev_tools/navigator-ext/ext-src/data_view/ViewLoader.ts
  dev_tools/navigator-ext/ext-src/data_view/app/dataview.tsx
  dev_tools/navigator-ext/ext-src/data_view/app/model.ts
  dev_tools/navigator-ext/ext-src/databaseExplorer.ts
  dev_tools/navigator-ext/ext-src/extension.ts
  dev_tools/navigator-ext/ext-src/gaiaDataProvider.ts
  dev_tools/navigator-ext/package.json
Due: fix_double_empty_lines

Add the ability to navigate to related records
  dev_tools/navigator-ext/ext-src/data_view/ViewLoader.ts
  dev_tools/navigator-ext/ext-src/data_view/app/dataview.tsx
  dev_tools/navigator-ext/ext-src/data_view/app/model.ts
  dev_tools/navigator-ext/ext-src/databaseExplorer.ts
  dev_tools/navigator-ext/ext-src/gaiaDataProvider.ts
  dev_tools/navigator-ext/resources/dark/calendar_view_month_white_24dp.svg
  dev_tools/navigator-ext/resources/dark/calendar_view_week_white_24dp.svg
  dev_tools/navigator-ext/resources/dark/grid_on_white_24dp.svg
  dev_tools/navigator-ext/resources/dark/table_rows_white_24dp.svg
  dev_tools/navigator-ext/resources/dark/view_list_white_24dp.svg
  dev_tools/navigator-ext/resources/light/calendar_view_month_black_24dp.svg
  dev_tools/navigator-ext/resources/light/calendar_view_week_black_24dp.svg
  dev_tools/navigator-ext/resources/light/grid_on_black_24dp.svg
  dev_tools/navigator-ext/resources/light/table_rows_black_24dp.svg
  dev_tools/navigator-ext/resources/light/view_list_black_24dp.svg
  production/tools/gaia_db_extract/src/gaia_db_extract.cpp
  production/tools/gaia_db_extract/src/main.cpp
Due: fix_double_empty_lines, cpp_license_check

Add support for start-after option for linked records
  production/tools/gaia_db_extract/src/gaia_db_extract.cpp
Due: fix_double_empty_lines, cpp_license_check

Add support for array field extraction
  production/tools/gaia_db_extract/inc/table_iterator.hpp
  production/tools/gaia_db_extract/src/gaia_db_extract.cpp
  production/tools/gaia_db_extract/src/table_iterator.cpp
Due: fix_double_empty_lines, cpp_license_check

Add line endings
  dev_tools/navigator-ext/ext-src/data_view/app/custom.d.ts
  dev_tools/navigator-ext/ext-src/data_view/getUri.ts
Due: fix_double_empty_lines

Add the ability to refresh the database tree view
  dev_tools/navigator-ext/ext-src/databaseExplorer.ts
  dev_tools/navigator-ext/ext-src/extension.ts
  dev_tools/navigator-ext/ext-src/gaiaDataProvider.ts
  dev_tools/navigator-ext/package.json
  dev_tools/navigator-ext/resources/dark/refresh.svg
  dev_tools/navigator-ext/resources/light/refresh.svg
Due: fix_double_empty_lines

UI fixes: support themes, inline svg in webview, use vscode webview ui extensions
  dev_tools/navigator-ext/ext-src/data_view/ViewLoader.ts
  dev_tools/navigator-ext/ext-src/data_view/app/custom.d.ts
  dev_tools/navigator-ext/ext-src/data_view/app/dataview.tsx
  dev_tools/navigator-ext/ext-src/data_view/getUri.ts
  dev_tools/navigator-ext/ext-src/databaseExplorer.ts
  dev_tools/navigator-ext/ext-src/extension.ts
  dev_tools/navigator-ext/package.json
  dev_tools/navigator-ext/webpack.config.js
Due: fix_double_empty_lines

Add column formatter for array data
  dev_tools/navigator-ext/ext-src/data_view/ViewLoader.ts
  dev_tools/navigator-ext/ext-src/data_view/app/dataview.tsx
  dev_tools/navigator-ext/ext-src/data_view/app/model.ts
  dev_tools/navigator-ext/ext-src/gaiaDataProvider.ts
Due: fix_double_empty_lines

Reapply a Content Security Policy for the webview
  dev_tools/navigator-ext/ext-src/data_view/ViewLoader.ts
  dev_tools/navigator-ext/ext-src/data_view/app/dataview.tsx
  dev_tools/navigator-ext/ext-src/extension.ts
  dev_tools/navigator-ext/webpack.config.js
Due: fix_double_empty_lines

Remove unused dependencies; update react version
  dev_tools/navigator-ext/package.json
Due: fix_double_empty_lines

Consolidate and cleanup icons
  dev_tools/navigator-ext/ext-src/databaseExplorer.ts
  dev_tools/navigator-ext/package.json
  dev_tools/navigator-ext/resources/dark/calendar_view_month_white_24dp.svg
  dev_tools/navigator-ext/resources/dark/calendar_view_week_white_24dp.svg
  dev_tools/navigator-ext/resources/dark/column.svg
  dev_tools/navigator-ext/resources/dark/database_light.svg
  dev_tools/navigator-ext/resources/dark/grid_on_white_24dp.svg
  dev_tools/navigator-ext/resources/dark/play_24dp.svg
  dev_tools/navigator-ext/resources/dark/server.svg
  dev_tools/navigator-ext/resources/dark/table.svg
  dev_tools/navigator-ext/resources/dark/table_rows_white_24dp.svg
  dev_tools/navigator-ext/resources/dark/table_view_white_24dp.svg
  dev_tools/navigator-ext/resources/dark/view_column_white_24dp.svg
  dev_tools/navigator-ext/resources/dark/view_list_white_24dp.svg
  dev_tools/navigator-ext/resources/gaia_logo.png
  dev_tools/navigator-ext/resources/light/calendar_view_month_black_24dp.svg
  dev_tools/navigator-ext/resources/light/calendar_view_week_black_24dp.svg
  dev_tools/navigator-ext/resources/light/column.svg
  dev_tools/navigator-ext/resources/light/database_light.svg
  dev_tools/navigator-ext/resources/light/grid_on_black_24dp.svg
  dev_tools/navigator-ext/resources/light/play_24dp.svg
  dev_tools/navigator-ext/resources/light/server.svg
  dev_tools/navigator-ext/resources/light/table.svg
  dev_tools/navigator-ext/resources/light/table_rows_black_24dp.svg
  dev_tools/navigator-ext/resources/light/table_view_black_24dp.svg
  dev_tools/navigator-ext/resources/light/view_column_black_24dp.svg
  dev_tools/navigator-ext/resources/light/view_list_black_24dp.svg
Due: fix_double_empty_lines

Move navigator into separate repo
  dev_tools/navigator-ext/.env
  dev_tools/navigator-ext/.gitignore
  dev_tools/navigator-ext/ext-src/data_view/ViewLoader.ts
  dev_tools/navigator-ext/ext-src/data_view/app/custom.d.ts
  dev_tools/navigator-ext/ext-src/data_view/app/dataview.tsx
  dev_tools/navigator-ext/ext-src/data_view/app/index.css
  dev_tools/navigator-ext/ext-src/data_view/app/index.tsx
  dev_tools/navigator-ext/ext-src/data_view/app/model.ts
  dev_tools/navigator-ext/ext-src/data_view/app/tsconfig.json
  dev_tools/navigator-ext/ext-src/data_view/getUri.ts
  dev_tools/navigator-ext/ext-src/databaseExplorer.ts
  dev_tools/navigator-ext/ext-src/extension.ts
  dev_tools/navigator-ext/ext-src/gaiaDataProvider.ts
  dev_tools/navigator-ext/package.json
  dev_tools/navigator-ext/resources/dark/boolean.svg
  dev_tools/navigator-ext/resources/dark/catalog.svg
  dev_tools/navigator-ext/resources/dark/column.svg
  dev_tools/navigator-ext/resources/dark/database.svg
  dev_tools/navigator-ext/resources/dark/refresh.svg
  dev_tools/navigator-ext/resources/dark/table.svg
  dev_tools/navigator-ext/resources/gaia_logo.png
  dev_tools/navigator-ext/resources/light/boolean.svg
  dev_tools/navigator-ext/resources/light/catalog.svg
  dev_tools/navigator-ext/resources/light/column.svg
  dev_tools/navigator-ext/resources/light/database.svg
  dev_tools/navigator-ext/resources/light/refresh.svg
  dev_tools/navigator-ext/resources/light/table.svg
  dev_tools/navigator-ext/tsconfig.json
  dev_tools/navigator-ext/tslint.json
  dev_tools/navigator-ext/webpack.config.js
Due: fix_double_empty_lines

fix warnings from developer tools
  dev_tools/navigator-ext/ext-src/data_view/ViewLoader.ts
  dev_tools/navigator-ext/ext-src/data_view/app/index.tsx
Due: fix_double_empty_lines

Allow browsing default database; hide row_id column; listen for theme changes
  dev_tools/navigator-ext/ext-src/data_view/ViewLoader.ts
  dev_tools/navigator-ext/ext-src/data_view/app/dataview.tsx
  dev_tools/navigator-ext/ext-src/data_view/app/model.ts
  dev_tools/navigator-ext/ext-src/extension.ts
  dev_tools/navigator-ext/ext-src/gaiaDataProvider.ts
  production/tools/gaia_db_extract/src/gaia_db_extract.cpp
Due: fix_double_empty_lines, cpp_license_check

Add gaia_db_extract to the SDK
  production/sdk/debian/links.in
  production/tools/gaia_db_extract/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check

Revert temporary hack around array values
  production/tools/gaia_db_extract/src/gaia_db_extract.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix table iterator after type_cache changes
  production/tools/gaia_db_extract/inc/table_iterator.hpp
  production/tools/gaia_db_extract/src/gaia_db_extract.cpp
  production/tools/gaia_db_extract/src/table_iterator.cpp
Due: fix_double_empty_lines, cpp_license_check

Refactor extract code to make it more readable
  production/tools/gaia_db_extract/inc/gaia_db_extract.hpp
  production/tools/gaia_db_extract/inc/table_iterator.hpp
  production/tools/gaia_db_extract/src/gaia_db_extract.cpp
  production/tools/gaia_db_extract/src/main.cpp
  production/tools/gaia_db_extract/src/table_iterator.cpp
Due: fix_double_empty_lines, cpp_license_check

Handle empty results correctly
  production/tools/gaia_db_extract/src/gaia_db_extract.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix whitespace issues
  production/tools/gaia_db_extract/inc/gaia_db_extract.hpp
  production/tools/gaia_db_extract/inc/table_iterator.hpp
  production/tools/gaia_db_extract/src/table_iterator.cpp
Due: fix_double_empty_lines, cpp_license_check

PR feedback changes
  production/db/core/src/exceptions.cpp
Due: fix_double_empty_lines, cpp_license_check

Add server_connection_failed exception (#1485)
  production/catalog/gaiac/src/main.cpp
  production/db/core/src/db_client.cpp
  production/db/core/src/db_server_instance.cpp
  production/db/core/src/exceptions.cpp
  production/db/core/tests/test_db_server_env.cpp
  production/inc/gaia/exceptions.hpp
  production/inc/gaia_internal/exceptions.hpp
Due: fix_double_empty_lines, cpp_license_check

Additional cleanup of field_access unit test
  production/db/payload_types/tests/test_field_access.cpp
Due: fix_double_empty_lines, cpp_license_check

Additional cleanup of field_access unit test (#1484)
  production/db/payload_types/tests/test_field_access.cpp
Due: fix_double_empty_lines, cpp_license_check

Add a type_registry_t check to update_payload()
  production/db/core/src/gaia_ptr_api.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix merge issue
  production/catalog/src/ddl_executor.cpp
Due: fix_double_empty_lines, cpp_license_check

Delete vscode extension
  dev_tools/intellisense-vscode-ext/.gitignore
  dev_tools/intellisense-vscode-ext/.vscode/launch.json
  dev_tools/intellisense-vscode-ext/.vscode/settings.json
  dev_tools/intellisense-vscode-ext/.vscode/tasks.json
  dev_tools/intellisense-vscode-ext/client/package-lock.json
  dev_tools/intellisense-vscode-ext/client/package.json
  dev_tools/intellisense-vscode-ext/client/src/extension.ts
  dev_tools/intellisense-vscode-ext/client/src/hover_info.js
  dev_tools/intellisense-vscode-ext/client/tsconfig.json
  dev_tools/intellisense-vscode-ext/language-configurations/ddl-language-configuration.json
  dev_tools/intellisense-vscode-ext/language-configurations/ruleset-language-configuration.json
  dev_tools/intellisense-vscode-ext/package-lock.json
  dev_tools/intellisense-vscode-ext/package.json
  dev_tools/intellisense-vscode-ext/snippets/ddl.json
  dev_tools/intellisense-vscode-ext/snippets/ruleset.json
  dev_tools/intellisense-vscode-ext/syntaxes/ddl.tmLanguage.json
  dev_tools/intellisense-vscode-ext/syntaxes/ruleset.tmLanguage.json
  dev_tools/intellisense-vscode-ext/tsconfig.json
Due: fix_double_empty_lines

Add a type_registry_t check to update_payload() (#1486)
  production/db/core/src/gaia_ptr_api.cpp
Due: fix_double_empty_lines, cpp_license_check

auto_connect() code improvements
  production/db/core/src/gaia_ptr_api.cpp
Due: fix_double_empty_lines, cpp_license_check

auto_connect() code improvements (#1488)
  production/db/core/src/gaia_ptr_api.cpp
Due: fix_double_empty_lines, cpp_license_check

[GAIAPLAT-2154]: race condition in rule stats logging causes ASAN errors. (#1487)
  production/rules/event_manager/inc/rule_stats.hpp
  production/rules/event_manager/inc/rule_stats_manager.hpp
  production/rules/event_manager/src/event_manager.cpp
  production/rules/event_manager/src/rule_stats.cpp
  production/rules/event_manager/src/rule_stats_manager.cpp
  production/rules/event_manager/tests/test_rule_stats.cpp
Due: fix_double_empty_lines, cpp_license_check

Add DEBUG_ASSERT_* macros
  production/db/core/inc/db_helpers.hpp
  production/db/core/src/gaia_ptr_client.cpp
  production/db/memory_manager/src/chunk_manager.cpp
  production/inc/gaia_internal/common/debug_assert.hpp
Due: fix_double_empty_lines, cpp_license_check

Fix issues pointed out in PR feedback
  production/inc/gaia_internal/common/debug_assert.hpp
  production/inc/gaia_internal/common/retail_assert.hpp
Due: fix_double_empty_lines, cpp_license_check

Move transaction checks to high-level APIs
  production/db/core/inc/db_client.hpp
  production/db/core/inc/db_client.inc
  production/db/core/inc/db_helpers.hpp
  production/db/core/src/db_shared_data_client.cpp
  production/db/core/src/gaia_ptr_api.cpp
  production/db/core/src/gaia_ptr_client.cpp
  production/db/core/tests/test_db_client.cpp
  production/db/core/tests/test_gaia_ptr_api.cpp
  production/direct_access/src/dac_base.cpp
Due: fix_double_empty_lines, cpp_license_check

Remove reedundant assert comments
  production/inc/gaia_internal/common/debug_assert.hpp
Due: fix_double_empty_lines, cpp_license_check

Add DEBUG_ASSERT_* macros (#1489)
  production/db/core/inc/db_helpers.hpp
  production/db/core/src/gaia_ptr_client.cpp
  production/db/memory_manager/src/chunk_manager.cpp
  production/inc/gaia_internal/common/debug_assert.hpp
  production/inc/gaia_internal/common/retail_assert.hpp
Due: fix_double_empty_lines, cpp_license_check

Change db_shared_data_client internal checks into debug assertions
  production/db/core/src/db_shared_data_client.cpp
  production/db/core/tests/test_db_client.cpp
Due: fix_double_empty_lines, cpp_license_check

Move transaction checks to DAC APIs
  production/db/core/inc/db_client.hpp
  production/db/core/inc/db_client.inc
  production/db/core/inc/db_helpers.hpp
  production/db/core/src/db_shared_data_client.cpp
  production/db/core/src/gaia_ptr_api.cpp
  production/db/core/tests/test_gaia_ptr_api.cpp
  production/direct_access/src/dac_base.cpp
Due: fix_double_empty_lines, cpp_license_check

Improve a unit test exception message
  production/common/tests/test_assert.cpp
Due: fix_double_empty_lines, cpp_license_check

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py))|(^.+\_\_init\_\_\.py)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/docker_dev|production/examples))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cpp_license_check_examples: any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
