Repository gaia-platform/GaiaPlatform: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix_double_empty_lines, python_executable_license_check, python_non_executable_license_check, bash_license_check, cmake_license_check, db_license_check, cpp_license_check, bash_license_check_examples, cmake_license_check_examples, db_license_check_eamples

fix_double_empty_lines:
  name: Eliminate multiple empty lines
  entry: dev_tools/github-actions/pre-commit-hooks/fix_double_empty_lines.py
  language: python

python_executable_license_check:
  name: Check Python Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#! /usr/bin/python3
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

python_non_executable_license_check:
  name: Check Python Non-Executable files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

bash_license_check:
  name: Check Bash files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#! /usr/bin/bash
  
  
    #############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

cmake_license_check:
  name: Check CMake files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#############################################
  
    # Copyright (c) Gaia Platform LLC
  
    # All rights reserved.
  
  ...

db_license_check:
  name: Check SQL and DDL files for License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '---------------------------------------------
  
    -- Copyright (c) Gaia Platform LLC
  
    -- All rights reserved.
  
  ...

cpp_license_check:
  name: Check Example C++ files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '////////////////////////////////////////////////////
  
    // Copyright (c) Gaia Platform LLC
  
    //
  
  ...

bash_license_check_examples:
  name: Check Example Bash files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '#! /usr/bin/bash
  
  
    ###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

cmake_license_check_examples:
  name: Check Example CMake files for MIT License Prefix
  entry: dev_tools/github-actions/pre-commit-hooks/check_file_prefix.py
  language: python
  args:
  - --prefix
  - '###################################################
  
    # Copyright (c) Gaia Platform LLC
  
    #
  
  ...

Changed concept of floors and people to floors and elevators
  production/examples/direct_access_vlr/README.md
  production/examples/direct_access_vlr/direct_access_vlr.cpp
  production/examples/direct_access_vlr/direct_access_vlr.ddl
Due: fix_double_empty_lines, cpp_license_check, db_license_check_eamples

Add index test
  production/direct_access/tests/test_insertion_perf.cpp
Due: fix_double_empty_lines, cpp_license_check

Alphabetical student names; moved second rule back into serial group
  production/examples/rules_vlr/rules_vlr.cpp
  production/examples/rules_vlr/rules_vlr.ruleset
Due: fix_double_empty_lines, cpp_license_check

renamed to c_unbound_index_key
  production/db/inc/index/index.inc
  production/db/inc/index/index_key.hpp
  production/db/index/src/hash_index.cpp
  production/db/index/src/index.cpp
  production/db/index/src/range_index.cpp
Due: fix_double_empty_lines, cpp_license_check

GAIAPLAT-1962 - Small cleanups to coverage job action.
  .github/actions/coverage-job/action.yml
Due: fix_double_empty_lines

additional comments and tests
  production/tools/tests/gaiat/arrays_test00.ruleset
  production/tools/tests/gaiat/arrays_test01.ruleset
  production/tools/tests/gaiat/arrays_test02.ruleset
  production/tools/tests/gaiat/arrays_tests.ruleset
Due: fix_double_empty_lines

README and rule comment tweaks
  production/examples/direct_access_vlr/README.md
  production/examples/rules_vlr/rules_vlr.ruleset
Due: fix_double_empty_lines, cpp_license_check

VLR Examples: Direct Access and Rules (#1326)
  production/examples/direct_access_vlr/CMakeLists.txt
  production/examples/direct_access_vlr/README.md
  production/examples/direct_access_vlr/direct_access_vlr.cpp
  production/examples/direct_access_vlr/direct_access_vlr.ddl
  production/examples/rules_vlr/CMakeLists.txt
  production/examples/rules_vlr/README.md
  production/examples/rules_vlr/rules_vlr.cpp
  production/examples/rules_vlr/rules_vlr.ddl
  production/examples/rules_vlr/rules_vlr.ruleset
  production/sdk/CMakeLists.txt
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check, cmake_license_check_examples, db_license_check_eamples

capitalize msg
  production/db/index/src/hash_index.cpp
Due: fix_double_empty_lines, cpp_license_check

[GAIAPLAT-1995] Transaction conflicts cause server segmentation fault (#1327)
  production/db/inc/index/index.inc
  production/db/inc/index/index_generator.hpp
  production/db/inc/index/index_generator.inc
  production/db/inc/index/index_key.hpp
  production/db/index/src/hash_index.cpp
  production/db/index/src/index.cpp
  production/db/index/src/range_index.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix an issue that reported spurious error if comment were used inside the rules in some circumstances
  production/tools/gaia_translate/tests/test_translation.ruleset
  third_party/production/TranslationEngineLLVM/clang/lib/Parse/ParseGaia.cpp
Due: none

Stuff
  production/direct_access/CMakeLists.txt
  production/direct_access/tests/test_insertion_perf2.cpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

GAIAPLAT-1962 - Adjusting verbose for inner script.
  dev_tools/github-actions/post_build_action.sh
  dev_tools/github-actions/post_build_inside_container.sh
Due: fix_double_empty_lines, bash_license_check

Removed conditionals.
  .github/workflows/main.yml
Due: fix_double_empty_lines

GAIAPLAT-1799 - Adding caching of successful build to final job.
  .github/workflows/main.yml
Due: fix_double_empty_lines

switch to using apostrophes for strings in if statement
  .github/workflows/main.yml
Due: fix_double_empty_lines

GAIAPLAT-2004 - Allowing new integration tests only workflow to work off of cached package.
  .github/workflows/integration-only.yml
  .github/workflows/main.yml
  .pre-commit-config.yaml
  dev_tools/github-actions/execute_tests_against_package.sh
Due: fix_double_empty_lines, bash_license_check

test
  .github/workflows/main.yml
Due: fix_double_empty_lines

test
  .github/workflows/integration-only.yml
Due: fix_double_empty_lines

fixed issues per LC and DH
  .github/actions/coverage-job/action.yml
  dev_tools/github-actions/post_build_action.sh
Due: fix_double_empty_lines, bash_license_check

Gaiaplat 1962a: Adding build job action and coverage job action, and usage in workflows. (#1330)
  .github/actions/build-job/action.yml
  .github/actions/coverage-job/action.yml
  .github/actions/setup-job/action.yml
  .github/workflows/core.yml
  .github/workflows/cores-and-sdks.yml
  .github/workflows/llvm-tests.yml
  .github/workflows/main.yml
  dev_tools/github-actions/build_image.sh
  dev_tools/github-actions/post_build_action.sh
  dev_tools/github-actions/post_build_inside_container.sh
Due: fix_double_empty_lines, bash_license_check

test
  dev_tools/sdk/test/build_sdk_samples.sh
Due: fix_double_empty_lines

Fix LLVMTests workflow
  .github/workflows/llvm-tests.yml
Due: fix_double_empty_lines

Update text of duplicate field error
  third_party/production/TranslationEngineLLVM/clang/include/clang/Basic/DiagnosticSemaKinds.td
Due: none

Fix tests to match new error text
  production/tools/tests/gaiat/queries_test14.ruleset
  production/tools/tests/gaiat/queries_test17.ruleset
  third_party/production/TranslationEngineLLVM/clang/test/Parser/gaia_rule_attributes.cpp
Due: fix_double_empty_lines

One more test to fixup
  third_party/production/TranslationEngineLLVM/clang/test/Parser/gaia_rule_fields.cpp
Due: none

test
  .pre-commit-config.yaml
Due: fix_double_empty_lines

test
  .github/workflows/main.yml
  production/examples/hello/build.sh
Due: fix_double_empty_lines, bash_license_check_examples

adding per LC
  production/db/core/inc/db_client.inc
  production/db/core/src/db_client.cpp
Due: fix_double_empty_lines, cpp_license_check

Update error text based on PR feedback
  production/tools/tests/gaiat/queries_test14.ruleset
  production/tools/tests/gaiat/queries_test17.ruleset
  third_party/production/TranslationEngineLLVM/clang/include/clang/Basic/DiagnosticSemaKinds.td
  third_party/production/TranslationEngineLLVM/clang/test/Parser/gaia_rule_attributes.cpp
Due: fix_double_empty_lines

changes per DH
  dev_tools/github-actions/execute_tests_against_package.sh
  dev_tools/sdk/test/github_actions_build.sh
Due: fix_double_empty_lines, bash_license_check

Fix end of line file error
  production/tools/tests/gaiat/queries_test17.ruleset
Due: fix_double_empty_lines

Comment generic client iteration assertion and add specific assertion to id generator path (#1329)
  production/db/core/inc/db_client.inc
  production/db/core/src/db_client.cpp
Due: fix_double_empty_lines, cpp_license_check

Fix missing quote in error message
  third_party/production/TranslationEngineLLVM/clang/include/clang/Basic/DiagnosticSemaKinds.td
Due: none

GAIAPLAT-1962 - Last round of converting workflow steps into actions. (note that integration tests will be handled separately)
  .github/actions/lint-job/action.yml
  .github/actions/third-party-job/action.yml
  .github/workflows/core.yml
  .github/workflows/cores-and-sdks.yml
  .github/workflows/llvm-tests.yml
  .github/workflows/main.yml
Due: fix_double_empty_lines

add 128-bit hashes for use by catalog
  production/catalog/CMakeLists.txt
  production/catalog/tests/test_hash_generation.cpp
  production/common/CMakeLists.txt
  production/common/src/hash.cpp
  production/common/tests/test_hash.cpp
  production/inc/gaia_internal/common/hash.hpp
Due: fix_double_empty_lines, cmake_license_check, cpp_license_check

[GAIAPLAT-2006] Non-deterministic crash when generator_iterator is initialized
  production/db/core/src/db_server.cpp
  production/db/core/src/index_builder.cpp
  production/db/inc/index/base_index.hpp
  production/db/inc/index/hash_index.hpp
  production/db/inc/index/index.hpp
  production/db/inc/index/index.inc
  production/db/inc/index/index_generator.hpp
  production/db/inc/index/index_generator.inc
  production/db/inc/index/range_index.hpp
  production/db/inc/payload_types/data_buffer.hpp
  production/db/index/src/hash_index.cpp
  production/db/index/src/range_index.cpp
  production/db/payload_types/src/data_buffer.cpp
Due: fix_double_empty_lines, cpp_license_check

Rename storage->key_storage
  production/db/core/src/db_server.cpp
Due: fix_double_empty_lines, cpp_license_check

Path conditions:
  fix_double_empty_lines: any of: not (.py$|^(production/tests/workloads/template/json.hpp|production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h|production/licenses/|production/tools/gaia_translate/tests/test_translation.ruleset)), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_executable_license_check: any of: not ((^.+$(?<!\.py))|(^(dev_tools/gdev|production/tests/python/ps_mem.py|production/tools/tests/gaiat/lit.cfg.py|production/db/core/tests/test_db.py|production/db/core/src/dump_se.py))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  python_non_executable_license_check: any of: ^(production/tools/tests/gaiat/lit.cfg.py)$ and not (^(production/tools/tests/gaiat/lit.cfg.py)$) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check: any of: not ((^.+$(?<!\.sh))|(^(dev_tools/gdev|dev_tools/sdk|production/examples|production/tests|production/coverage|production/sql/tests/test_fdw.sh))), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check: any of: ^.*(\.cmake$|\/CMakeLists.txt$) and not (^(production/examples|production/sql|production/db|production/cmake|production/tools)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  db_license_check: any of: ^.*(\.ddl$|\.sql$) and not (^(production/examples)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  cpp_license_check: (any of: ^.*(\.hpp$|\.cpp$|\.inc$) and not (^(production/tests/workloads/template/json.hpp|production/examples|production/inc/gaia_internal/common/scope_guard.hpp|production/tests/workloads|production/inc/gaia/expressions|production/catalog/src/gaia_generate.cpp)) and not ((^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))) or (any of: ^production/examples/.*(\.hpp$|\.cpp$|\.inc$|\.ruleset$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h)))
  bash_license_check_examples: any of: ^production/examples/.*\.sh, but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  cmake_license_check_examples: any of: ^production/examples/.*(\.cmake$|\/CMakeLists.txt$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
  db_license_check_eamples: any of: ^production/examples/.*(\.ddl$|\.sql$), but not: (^(data|scratch|third_party)/)|(^(production/catalog/src/gaia_catalog.cpp|production/inc/gaia_internal/catalog/catalog_generated.h|production/inc/gaia_internal/catalog/gaia_catalog.h))
